/* BS4 */

.card {
  box-shadow: 0 3px 10px 0 rgba(150,150,150,0.2) !important;
}

.card-bottom {
  /* todo - make the card footer and buttons be positioned to the bottom of the card? */
}

/*.card-success, */ .card-success .card-header {
  border-color: rgba(40, 167, 69, 0.5) !important;
}

/*.card-primary, */ .card-primary .card-header {
  border-color: rgba(0, 123, 255, 0.5) !important;
}

/*.card-warning, */ .card-warning .card-header {
  border-color: rgba(255, 193, 7, 0.5) !important;
}

.blockquote {
  border-left: 5px solid #eee;
  padding: 10px 20px;
  font-size: 1.2rem;
  line-height: 1.35;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.anchor:target {
  padding-top: 4rem;
  margin-top: -4rem;
}

.panel-item {
  float: right;
  margin-left: 5px;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 1em;
    width: 8em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

/* .fa {
	font-size: 1.8em;
} */

.share-btn.twitter { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email { background: #444444; }
.share-btn.diaspora { background: #2f3537; }
