body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

a.anchor {
  display: block; position: relative; top: -50px; visibility: hidden;
}
a.titleanchor {
  font-size:0.7em;
}

.jumbotron {
    padding: 10px 0px;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 1em;
    width: 8em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.fa {
	font-size: 1.8em;
}

.share-btn.twitter { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email { background: #444444; }