/* line 2, ../sass/_sortable.sass */
table[data-sortable] {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 6, ../sass/_sortable.sass */
table[data-sortable] th {
  vertical-align: bottom;
  font-weight: bold;
}
/* line 10, ../sass/_sortable.sass */
table[data-sortable] th, table[data-sortable] td {
  text-align: left;
  padding: 10px;
}
/* line 14, ../sass/_sortable.sass */
table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}
/* line 26, ../sass/_sortable.sass */
table[data-sortable] th:after {
  content: "";
  visibility: hidden;
  display: inline-block;
  vertical-align: inherit;
  height: 0;
  width: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 1px;
  margin-left: 10px;
  float: right;
}
/* line 40, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted="true"]:after {
  visibility: visible;
}
/* line 43, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted-direction="descending"]:after {
  border-top-color: inherit;
  margin-top: 8px;
}
/* line 47, ../sass/_sortable.sass */
table[data-sortable] th[data-sorted-direction="ascending"]:after {
  border-bottom-color: inherit;
  margin-top: 3px;
}

/* line 6, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick {
  color: #333333;
  background: white;
  border: 1px solid #e0e0e0;
}
/* line 11, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick thead th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  background-color: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
}
/* line 16, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick tbody td {
  border-top: 1px solid #e0e0e0;
}
/* line 19, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
/* line 22, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick th[data-sorted="true"] {
  -webkit-box-shadow: inset 1px 0 #bce8f1, inset -1px 0 #bce8f1;
  -moz-box-shadow: inset 1px 0 #bce8f1, inset -1px 0 #bce8f1;
  box-shadow: inset 1px 0 #bce8f1, inset -1px 0 #bce8f1;
  color: #3a87ad;
  background: #d9edf7;
  border-bottom-color: #bce8f1;
}
/* line 28, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick th[data-sorted="true"]:first-child {
  -webkit-box-shadow: inset -1px 0 #bce8f1;
  -moz-box-shadow: inset -1px 0 #bce8f1;
  box-shadow: inset -1px 0 #bce8f1;
}
/* line 31, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick th[data-sorted="true"]:last-child {
  -webkit-box-shadow: inset 1px 0 #bce8f1;
  -moz-box-shadow: inset 1px 0 #bce8f1;
  box-shadow: inset 1px 0 #bce8f1;
}
/* line 34, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick th[data-sorted="true"][data-sorted-direction="descending"]:after {
  border-top-color: #3a87ad;
}
/* line 37, ../sass/sortable-theme-slick.sass */
table[data-sortable].sortable-theme-slick th[data-sorted="true"][data-sorted-direction="ascending"]:after {
  border-bottom-color: #3a87ad;
}
