# Administration Related Files
/.well-known/ @JonahAragon
/nginx/ @JonahAragon
/404.html @JonahAragon
/.github/ @JonahAragon @BurungHantu1605
/LICENSE.txt @JonahAragon @BurungHantu1605
/.travis.yml @JonahAragon @Shifterovich
/CNAME @JonahAragon

# Editorial Team
*.md @privacytoolsIO/editorial
/assets/ @privacytoolsIO/editorial
/pages/ @privacytoolsIO/editorial
/_includes/sections/ @privacytoolsIO/editorial
/index.html @privacytoolsIO/editorial

/donate.html @JonahAragon @BurungHantu1605
/assets/js/redirects.js @JonahAragon
