---
layout: default
translate: true
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}
<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> {% t Sponsors %}</h1>

<div class="alert alert-success" role="alert">
  <strong>{% t New! %}</strong> {% t Showcase your brand as a sponsor of PrivacyTools here and support our mission of creating a world free of mass surveillance! %} <a href="{{ "/sponsors/" | translate_page }}" class="alert-link"> {% t Learn more... %}</a>
</div>
{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
