---
layout: default
---

<script src="/assets/js/redirects.js"></script>
{% include sections/header.html %}
{% include sections/resources.html %}

<h1 id="sponsors" class="anchor"><a href="#sponsors"><i class="fas fa-link anchor-icon"></i></a> Sponsors</h1>
<div class="mx-4">
  {% include sponsors/gold.html %}
</div>
<div class="alert alert-info mt-5" role="alert">
  Showcase your brand as a sponsor of PrivacyTools and support our mission of creating a world free of mass surveillance! <a href="/sponsors/" class="alert-link">Learn more...</a>
</div>

{% include sections/quotes.html %}
{% include sections/privacy-resources.html %}
{% include sections/participate.html %}
