<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> {% t os.android_addons %}</h1>

<div class="alert alert-success" role="alert">
  <strong>{% t android_addons.description %}</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/netguard.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
    <h3>{% t android_addons.control_traffic %} <a href="https://www.netguard.me/">NetGuard</a></h3>
    <p><strong>NetGuard</strong> {% t android_addons.netguard %}
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/Orbot.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
    <h3>{% t android_addons.tor %} <a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
    <p><strong>Orbot</strong> {% t android_addons.orbot %} <strong>{% t android_addons.root_mode %}</strong> {% t android_addons.orbot_root %}
    </div>
  </div>

</div>

<h2>See also</h2>

<ul>
  <li>
    <a href="/providers/dns#clients">Our DNS page</a> which also has information on encrypting DNS on Android.
  </li>
</ul>
