<h1 id="mobile_os" class="anchor"><a href="#mobile_os"><i class="fas fa-link anchor-icon"></i></a> Mobile Operating Systems</h1>

<h2 id="aosp_os" class="anchor"><a href="#aosp_os"><i class="fas fa-link anchor-icon"></i></a> Android-based Operating Systems</h1>

<div class="alert alert-warning" role="alert">
  <strong>Even though the source code of the following operating systems is provided, installing Google Apps may compromise your setup.</strong>
</div>

{% include cardv2.html
  title="CalyxOS"
  image="/assets/img/svg/3rd-party/calyxos.svg"
  description='CalyxOS is a custom ROM based on the Android Open Source Project with Pixel phones. It aims to be secure and private by default including a number of good choices for default applications. It also supports <a href="https://source.android.com/security/verifiedboot">verified boot</a>.'
  badges="info:AOSP"
  website="https://calyxos.org"
  gitlab="https://gitlab.com/calyxos"
%}

{% include cardv2.html
  title="GrapheneOS"
  image="/assets/img/svg/3rd-party/grapheneos.svg"
  image-dark="/assets/img/svg/3rd-party/grapheneos-dark.svg"
  description='GrapheneOS (formerly known as CopperheadOS) is a free and open-source security- and privacy-focused mobile operating system built on top of the Android Open Source Project. It currently specifically targets devices offering strong hardware security.'
  badges="info:AOSP"
  website="https://grapheneos.org/"
  github="https://github.com/GrapheneOS/"
%}

{% include cardv2.html
  title="LineageOS (Official Builds)"
  image="/assets/img/svg/3rd-party/lineageos.svg"
  description='LineageOS is a custom ROM based on the Android Open Source Project with <a href="https://wiki.lineageos.org/devices/">official support for a wide variety of devices</a>. The project is the successor to the popular CyanogenMod project, focusing on system control and customization, device longevity, and privacy. For security reasons, we do not recommend third-party builds of LineageOS for unsupported devices.'
  badges="info:AOSP"
  website="https://www.lineageos.org/"
  privacy-policy="https://www.lineageos.org/legal/"
  github="https://github.com/LineageOS"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li>
    <a href="https://microg.org/">MicroG</a>
    {% include badge.html
    color="info"
    text="Add-on Package"
    %}
    {% include badge.html
    color="warning"
    icon="far fa-question-circle"
    %}
    - A project that aims to reimplement the proprietary Google Play Services in the Android operating system with a FLOSS replacement. The microG project also maintains a fork of LineageOS with microG and F-Droid preinstalled at <a href="https://lineage.microg.org/">Lineage for microG</a>.
  </li>
</ul>
