<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> Android Privacy Add-ons</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/netguard.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
    <h3>Control your traffic with <a href="https://www.netguard.me/">NetGuard</a></h3>
    <p><strong>NetGuard</strong> provides simple and advanced methods to block certain apps from accessing the internet, without requiring root privileges. Applications and addresses can be individually allowed or denied access to your Wi-Fi and/or mobile connections, allowing you to control exactly which apps are able to phone home or not.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/svg/3rd-party/orbot.svg" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
    <h3>Tor for Android with <a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
    <p><strong>Orbot</strong> is a free proxy app that empowers other apps to use the internet more securely. Orbot uses Tor to encrypt your Internet traffic and then hides it by bouncing through a series of computers around the world.</p>
    </div>
  </div>

</div>

<h2>See also</h2>

<ul>
  <li>
    <a href="/providers/dns#dns-android-clients">Our DNS client recommendations</a>, which have information on enabling encrypted DNS on Android.
  </li>
</ul>
