<h1 id="aaddons" class="anchor"><a href="#aaddons"><i class="fas fa-link anchor-icon"></i></a> Android Privacy Add-ons</h1>

<div class="alert alert-success" role="alert">
  <strong>Improve your privacy with these add-ons for Android.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/netguard.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="NetGuard">
    </div>
    <div class="col">
    <h3>Control your traffic with <a href="https://www.netguard.me/">NetGuard</a></h3>
    <p><strong>NetGuard</strong> provides simple and advanced ways to block certain apps' access to the internet without the help of root privileges. Applications and addresses can individually be allowed or denied access to your Wi-Fi and/or mobile connection, allowing you to control which apps are able to call home or not.
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/addons/Orbot.png" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Orbot">
    </div>
    <div class="col">
    <h3>Tor for Android with <a href="https://guardianproject.info/apps/orbot/">Orbot</a></h3>
    <p><strong>Orbot</strong> is a free proxy app that empowers other apps to use the internet more securely. Orbot uses Tor to encrypt your Internet traffic and then hides it by bouncing through a series of computers around the world. <strong>Root Mode:</strong> Orbot can be configured to transparently proxy all of your Internet traffic through Tor. You can also choose which specific apps you want to use through Tor.
    </div>
  </div>

</div>

<h2>See also</h2>

<ul>
  <li>
    <a href="/providers/dns#clients">Our DNS page</a> which also has information on encrypting DNS on Android.
  </li>
</ul>
