<h1 id="laptops" class="anchor"><a href="#bios"><i class="fas fa-link anchor-icon"></i></a> BIOS</h1>
<div class="row mb-2">

     {% include card.html color="success"
    title="Libreboot"
    image="/assets/img/tools/libreboot.png"
    url="https://libreboot.org/"
    description="LibreBoot is a completely Libre BIOS."
    %}

     {% include card.html color="primary"
    title="SeaBIOS"
    image="/assets/img/tools/seabios.png"
    url="https://www.seabios.org/"
    description="Open Source BIOS for x86 computers."
    %}

     {% include card.html color="warning"
    title="Coreboot"
    labels="warning:warning Coreboot contains non-free dependencies. It is not recommended for sensitive information."
    image="/assets/img/tools/coreboot.png"
    url="https://www.coreboot.org/"
    description="Coreboot is a lightweight bios for 32 bit and 64 bit operating systems."
    %}

 </div>
