<h1 id="bitcoin-desktop-wallets" class="anchor"><a href="#bitcoin-desktop-wallets"><i class="fas fa-link anchor-icon"></i></a> Bitcoin Desktop Wallets</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using a light SPV (Simplified Payment Verification) Wallet and not using a full node, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
  title="Wasabi Wallet"
  image="/assets/img/svg/3rd-party/wasabi.svg"
  description='Wasabi Wallet is an open-source, non-custodial, privacy-focused Bitcoin wallet for Desktop, that implements trustless CoinJoin over the Tor anonymity network. The CoinJoin coordinator cannot steal from, nor breach the privacy of the participants.'
  website="https://wasabiwallet.io/"
  github="https://github.com/zkSNACKs/WalletWasabi/"
  privacy-policy="https://github.com/zkSNACKs/WalletWasabi/blob/master/WalletWasabi/Legal/Assets/LegalDocuments.txt"
  windows="https://wasabiwallet.io/#download"
  linux="https://wasabiwallet.io/#download"
  mac="https://wasabiwallet.io/#download"
%}
