<h1 id="webrtc" class="anchor"><a href="#webrtc"><i class="fas fa-link anchor-icon"></i></a> {% t WebRTC IP Leak Test - Is your IP address leaking? %}</h1>

<div class="alert alert-danger" role="alert">
  <strong>{% t WebRTC is a new communication protocol that relies on JavaScript that can leak your actual IP address from behind your VPN. %}</strong>
</div>

<p>{% t While software like NoScript prevents this, it's probably a good idea to block this protocol directly as well, just to be safe. %}</p>

<p>
<a class="btn btn-warning" target="_blank" rel="noopener noreferrer" href="{% t https://ipleak.net %}">{% t Test your Browser now %}</a>
</p>

<h3>{% t How to disable WebRTC in Firefox? %}</h3>

<p>{% t In short: Set "media.peerconnection.enabled" to "false" in "about:config".%}</p>
<p><strong>{% t Explained: %}</strong></p>

<ol class="long-string-list">
  <li>{% t Enter "about:config" in the firefox address bar and press enter. %}
  <li>{% t Press the button "I'll be careful, I promise!" %}
  <li>{% t Search for "media.peerconnection.enabled" %}
  <li>{% t Double click the entry, the column "Value" should now be "false" %}
  <li>{% t Done. Do the WebRTC leak test again. %}
</ol>

<p>{% t If you want to make sure every single WebRTC-related setting is really disabled, change these settings: %}</p>

<ol class="long-string-list">
  <li>media.peerconnection.turn.disable = true
  <li>media.peerconnection.use_document_iceservers = false
  <li>media.peerconnection.video.enabled = false
  <li>media.peerconnection.identity.timeout = 1
</ol>

<p>{% t Now you can be 100% sure WebRTC is disabled. %}</p>

<p>
<a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="{% t https://ipleak.net %}">{% t Test your Browser again %}</a>
</p>

<h3>{% t How to fix the WebRTC Leak in Google Chrome? %}</h3>

<p>{% t WebRTC cannot be fully disabled in Chrome; however, it is possible to change its routing settings (and prevent leaks) using an extension. Two open-source solutions include <a href="https://chrome.google.com/webstore/detail/webrtc-leak-prevent/eiadekoaikejlgdbkbdfeijglgfdalml">WebRTC Leak Prevent</a> (options may need to be changed depending on the scenario), and <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">uBlock Origin</a> (select "Prevent WebRTC from leaking local IP addresses" in Settings).%}</p>

<h3>{% t What about other browsers? %}</h3>

<p>{% t Chrome on iOS, Internet Explorer and Safari does not implement WebRTC yet.%} <a href="#browser"><i class="fas fa-link"></i> {% t But we recommend using Firefox on all devices. %}</a></p>
