<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> {% t browser_addons.excellent_add_ons %}</h1>

<div class="alert alert-primary" role="alert">
  <strong>{% t browser_addons.improve_your_privacy %}</strong>
</div>

{%- capture title1 -%}{% t browser_addons.privacy_badger_title %}{%- endcapture -%}
{%- capture descr1 -%}<strong>{% t browser_addons.privacy_badger %}</strong> {% t browser_addons.privacy_badger_description %}{%- endcapture -%}
{%- capture title2 -%}{% t browser_addons.ublock_origin_title %}{%- endcapture -%}
{%- capture descr2 -%}<strong>{% t browser_addons.ublock_origin %}</strong> {% t browser_addons.ublock_origin_description %}{%- endcapture -%}
{%- capture title3 -%}{% t browser_addons.cookie_autodelete_title %}{%- endcapture -%}
{%- capture descr3 -%}<strong>{% t browser_addons.cookie_autodelete %}</strong> {% t browser_addons.cookie_autodelete_description %}{%- endcapture -%}
{%- capture title4 -%}{% t browser_addons.https_everywhere_title %}{%- endcapture -%}
{%- capture descr4 -%}<strong>{% t browser_addons.https_everywhere %}</strong> {% t browser_addons.https_everywhere_description %}{%- endcapture -%}
{%- capture title5 -%}{% t browser_addons.decentraleyes_title %}{%- endcapture -%}
{%- capture descr5 -%}<strong>{% t browser_addons.decentraleyes %}</strong> {% t browser_addons.decentraleyes_description %}{%- endcapture -%}
{%- capture title6 -%}{% t browser_addons.terms_of_service_didnt_read_title %}{%- endcapture -%}
{%- capture descr6 -%}<strong>{% t browser_addons.terms_of_service_didnt_read %}</strong> {% t browser_addons.terms_of_service_didnt_read_description %}{%- endcapture -%}
{%- capture title7 -%}{% t browser_addons.snowflake_title %}{%- endcapture -%}
{%- capture descr7 -%}<strong>{% t browser_addons.snowflake %}</strong> {% t browser_addons.snowflake_description %}{%- endcapture -%}
{%- capture title8 -%}{% t browser_addons.umatrix_title %}{%- endcapture -%}
{%- capture descr8 -%}<strong>{% t browser_addons.umatrix %}</strong> {% t browser_addons.umatrix_description %}{%- endcapture -%}
{%- capture title9 -%}{% t browser_addons.noScript_security_suite_title %}{%- endcapture -%}
{%- capture descr9 -%}<strong>{% t browser_addons.noScript_security_suite %}</strong> {% t browser_addons.noScript_security_suite_description %}{%- endcapture -%}

{% include cardv2.html
title=title1
image="/assets/img/addons/privacy-badger.png"
description=descr1
website="https://www.eff.org/privacybadger"
forum="https://forum.privacytools.io/t/discussion-privacy-badger/265"
github="https://github.com/EFForg/privacybadger"
firefox=""
chrome=""
opera=""
android=""
%}

{% include cardv2.html
title=title2
image="/assets/img/addons/ublock-origin.png"
description=descr2
website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
forum="https://forum.privacytools.io/t/discussion-ublock-origin/266"
github="https://github.com/gorhill/uBlock/"
firefox=""
chrome=""
safari=""
opera=""
edge=""
android=""
%}

{% include cardv2.html
title=title3
image="/assets/img/addons/cookie-autodelete.png"
description=descr3
website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
forum="https://forum.privacytools.io/t/discussion-cookie-autodelete/267"
github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
firefox=""
chrome=""
%}

{% include cardv2.html
title=title4
image="/assets/img/addons/https-everywhere.png"
description=descr4
website="https://www.eff.org/https-everywhere"
forum="https://forum.privacytools.io/t/discussion-https-everywhere/268"
github="https://github.com/EFForg/https-everywhere"
firefox=""
chrome=""
android=""
opera=""
%}

{% include cardv2.html
title=title5
image="/assets/img/addons/decentraleyes.png"
description=descr5
website="https://decentraleyes.org/"
forum="https://forum.privacytools.io/t/discussion-decentraleyes/269"
gitlab="https://git.synz.io/Synzvato/decentraleyes"
firefox=""
chrome=""
opera=""
%}

{% include cardv2.html
title=title6
image="/assets/img/addons/tosdr.png"
description=descr6
website="https://tosdr.org/"
forum="https://forum.privacytools.io/t/discussion-decentraleyes/270"
github="https://github.com/tosdr/"
firefox=""
chrome=""
opera=""
safari=""
%}

{% include cardv2.html
title=title7
image="/assets/img/addons/snowflake.png"
description=descr7
website="https://snowflake.torproject.org"
forum="https://forum.privacytools.io/t/discussion-snowflake/1146"
git="https://gitweb.torproject.org/pluggable-transports/snowflake.git"
firefox=""
chrome=""
%}


<h2>{% t browser_addons.for_experts_only %}</h2>

<div class="alert alert-warning" role="alert">
  <strong>{% t browser_addons.addon_warning %}</strong>
</div>

{% include cardv2.html
title=title8
image="/assets/img/addons/umatrix.png"
description=descr8
website="https://addons.mozilla.org/firefox/addon/umatrix/"
forum="https://forum.privacytools.io/t/discussion-umatrix/271"
github="https://github.com/gorhill/uMatrix"
firefox=""
chrome=""
opera=""
%}

{% include cardv2.html
title=title9
image="/assets/img/addons/noscript.png"
description=descr9
website="https://addons.mozilla.org/firefox/addon/noscript/"
forum="https://forum.privacytools.io/t/discussion-noscript-security-suite/272"
github="https://github.com/hackademix/noscript"
firefox=""
chrome=""
%}
