<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> Recommended Browser Add-ons</h1>

<div class="alert alert-secondary" role="alert">
  Not all of these add-ons are necessary, and many provide redundant functionality. Choose the ones you need, and <a class="alert-link" href="https://blog.privacytools.io/firefox-privacy-an-introduction-to-safe/">learn more with our guide to Firefox Privacy</a>.
</div>

{% include cardv2.html
  title="uBlock Origin: Block Ads and Trackers"
  image="/assets/img/svg/3rd-party/ublock_origin.svg"
  description="<p><strong>uBlock Origin</strong> is an efficient <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode>wide-spectrum blocker</a> that is easy on memory, and yet can load and enforce thousands more filters than other popular blockers out there. It has no monetization strategy and is completely open source. <a href=https://github.com/gorhill/uBlock/wiki/Advanced-user-features>Advanced mode</a> allows for <a href=https://github.com/gorhill/uBlock/wiki/Dynamic-filtering:-quick-guide>dynamic filtering</a>. Dynamic filtering allows for extended blocking similar to NoScript and uMatrix (E.g. <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode:-medium-mode>medium</a> or <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode:-hard-mode>hard</a>) blocking.</p>"
  website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  privacy-policy="https://github.com/gorhill/uBlock/wiki/Privacy-policy"
  forum="https://forum.privacytools.io/t/discussion-ublock-origin/266"
  github="https://github.com/gorhill/uBlock/"
  firefox="https://addons.mozilla.org/firefox/addon/ublock-origin/"
  chrome="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm"
  opera="https://addons.opera.com/en/extensions/details/ublock/"
  edge="https://www.microsoft.com/en-us/p/ublock-origin/9nblggh444l4"
%}

{% include cardv2.html
  title="HTTPS Everywhere: Secure Connections"
  image="/assets/img/svg/3rd-party/https_everywhere.svg"
  description="<strong>HTTPS Everywhere</strong> enables encryption of your connections to many major websites, making your browsing more secure. It is a collaboration between The Tor Project and the Electronic Frontier Foundation."
  website="https://www.eff.org/https-everywhere"
  privacy-policy="https://www.eff.org/code/privacy/policy"
  forum="https://forum.privacytools.io/t/discussion-https-everywhere/268"
  github="https://github.com/EFForg/https-everywhere"
  firefox="https://addons.mozilla.org/firefox/addon/https-everywhere"
  chrome="https://chrome.google.com/webstore/detail/https-everywhere/gcbommkclmclpchllfjekcdonpmejbdp"
  opera="https://addons.opera.com/en/extensions/details/https-everywhere"
%}

{% include cardv2.html
  title="Decentraleyes: Block Content Delivery Networks"
  image="/assets/img/svg/3rd-party/decentraleyes.svg"
  description="<strong>Decentraleyes</strong> emulates Content Delivery Networks locally by intercepting requests, finding the required resource, and injecting it into the environment. This all happens instantaneously, automatically, and no prior configuration is required."
  website="https://decentraleyes.org/"
  privacy-policy="https://decentraleyes.org/privacy-policy/"
  forum="https://forum.privacytools.io/t/discussion-decentraleyes/269"
  gitlab="https://git.synz.io/Synzvato/decentraleyes"
  firefox="https://addons.mozilla.org/firefox/addon/decentraleyes"
  chrome="https://chrome.google.com/webstore/detail/decentraleyes/ldpochfccmkkmhdbclfhpagapcfdljkj"
  opera="https://addons.opera.com/extensions/details/decentraleyes"
%}

{% include cardv2.html
  title="ClearURLs"
  image="/assets/img/svg/3rd-party/clearurls.svg"
  description="<strong>ClearURLs</strong> will automatically remove tracking elements from URLs to help protect your privacy when browsing through the Internet."
  website="https://gitlab.com/KevinRoebert/ClearUrls"
  privacy-policy="https://gitlab.com/KevinRoebert/ClearUrls/-/blob/master/PRIVACY.md"
  forum="https://forum.privacytools.io/t/discussion-clearurls/3353"
  gitlab="https://gitlab.com/KevinRoebert/ClearUrls"
  firefox="https://addons.mozilla.org/firefox/addon/clearurls/"
  chrome="https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk"
  edge="https://microsoftedge.microsoft.com/addons/detail/mdkdmaickkfdekbjdoojfalpbkgaddei"
%}

{% include cardv2.html
  title="xBrowserSync"
  image="/assets/img/svg/3rd-party/xbrowsersync.svg"
  description='<strong>xBrowserSync</strong> synchronizes bookmarks across devices and browsers with end-to-end encryption. Data is encrypted and decrypted on the device, no one but you can read it. No registration is needed, just enter a randomly generated id or QR code on all devices. <a href="https://www.xbrowsersync.org/#status">Different servers</a> are available, and it can also be <a href="https://github.com/xbrowsersync/api-docker">self-hosted</a>.'
  website="https://www.xbrowsersync.org/"
  privacy-policy="https://www.xbrowsersync.org/privacypolicy"
  github="https://github.com/xbrowsersync"
  firefox="https://addons.mozilla.org/firefox/addon/xbs/"
  chrome="https://chrome.google.com/webstore/detail/xbrowsersync/lcbjdhceifofjlpecfpeimnnphbcjgnc"
  googleplay="https://play.google.com/store/apps/details?id=com.xBrowserSync.android"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://floccus.org/">floccus</a> - Synchronize bookmarks across browsers via Nextcloud, WebDAV or a local file (and thus any file sync solution). For <a href="https://addons.mozilla.org/firefox/addon/floccus/">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/floccus-bookmarks-sync/fnaicdffflnofjppbagibeoednhnbjhg">Chrome</a>, <a href="https://microsoftedge.microsoft.com/addons/detail/gjkddcofhiifldbllobcamllmanombji">Edge</a>.</li>
</ul>

<h2>Additional Functionality</h2>

<div class="alert alert-secondary" role="alert">
  These add-ons don't necessarily add to your privacy when browsing the web, but add additional functionality to your browser you may find useful.
</div>

{% include cardv2.html
  title="Terms of Service; Didn’t Read: Be Informed"
  image="/assets/img/svg/3rd-party/terms_of_service_didnt_read.svg"
  description='<strong>Terms of Service; Didn’t Read</strong> is an addon that believes "I have read and agree to the Terms of Service" is the biggest lie on the web, and wants to fix it by grading websites based on their terms of service agreements and privacy policies. It also gives short summaries of those agreements. The analysis and ratings are published transparently by a community of reviewers.'
  website="https://tosdr.org/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/privacy/"
  forum="https://forum.privacytools.io/t/discussion-terms-of-service-didn-t-read/270"
  github="https://github.com/tosdr/"
  firefox="https://addons.mozilla.org/firefox/addon/terms-of-service-didnt-read/"
  chrome="https://chrome.google.com/webstore/detail/terms-of-service-didn%E2%80%99t-r/hjdoplcnndgiblooccencgcggcoihigg"
  opera="https://addons.opera.com/extensions/details/terms-of-service-didnt-read"
%}

{% include cardv2.html
  title="Snowflake"
  image="/assets/img/svg/3rd-party/snowflake.svg"
  description="<strong>Snowflake</strong> is a new <a href=https://2019.www.torproject.org/docs/pluggable-transports.html.en>pluggable transport</a> from the Tor Project. If you have an uncensored connection, running this extension volunteers your connection to be used as a Snowflake proxy to help users unable to connect to the Tor network. Your IP will not be visible to the sites users visit using your proxy, as this extension will not make you an exit node. If your access to the Tor network is blocked, this extension will not assist you, and you should use the <a href=https://www.torproject.org>Tor Browser</a> instead. <b>Note:</b> This add-on does not work with WebRTC disabled."
  website="https://snowflake.torproject.org"
  forum="https://forum.privacytools.io/t/discussion-snowflake/1146"
  git="https://gitweb.torproject.org/pluggable-transports/snowflake.git"
  firefox="https://addons.mozilla.org/firefox/addon/torproject-snowflake"
  chrome="https://chrome.google.com/webstore/detail/snowflake/mafpmfcccpbjnhfhjnllmmalhifmlcie"
%}

<h2>Persistent storage management</h2>

<h3>Desktop</h3>

<div class="alert alert-warning" role="alert">
  These add-ons are the preferred method for controlling persistent storage data that various websites and web-apps may create on your computer.
</div>

{% include cardv2.html
  title="Temporary Containers"
  image="/assets/img/svg/3rd-party/temporary_containers.svg"
  image-dark="/assets/img/svg/3rd-party/temporary_containers-dark.svg"
  description="<strong>Temporary Containers</strong> allow you to open tabs, websites, and links in automatically managed disposable containers. Containers isolate data websites store (cookies, storage, and more) from each other, enhancing your privacy and security while you browse: <a href=https://medium.com/@stoically/enhance-your-privacy-in-firefox-with-temporary-containers-33925cd6cd21>Enhance your privacy in Firefox with Temporary Containers.</a>"
  website="https://addons.mozilla.org/firefox/addon/temporary-containers/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/temporary-containers/privacy/"
  forum="https://forum.privacytools.io/t/discussion-temporary-containers-multi-account-containers/3354"
  github="https://github.com/stoically/temporary-containers"
  firefox="https://addons.mozilla.org/firefox/addon/temporary-containers/"
%}

{% include cardv2.html
  title="Firefox Multi-Account Containers"
  image="/assets/img/svg/3rd-party/firefox_multi_account_containers.svg"
  description="<strong>Firefox Multi-Account Containers</strong> allow you to create containers for specific websites. These containers are isolated from eachother. This add-on can be used in conjunctiuon with Temporary Containers to allow persistent logins to websites you specify."
  website="https://support.mozilla.org/kb/containers"
  forum="https://forum.privacytools.io/t/discussion-temporary-containers-multi-account-containers/3354"
  github="https://github.com/mozilla/multi-account-containers"
  firefox="https://addons.mozilla.org/firefox/addon/multi-account-containers/"
%}

<h3>Android</h3>

<div class="alert alert-warning" role="alert">
  Unfortunately the Android version of Firefox <a href="https://github.com/stoically/temporary-containers/issues/465">doesn't yet have Temporary Container support</a>. The recommended extensions below are a substitute, however as APIs do not exist for clearing <a href="https://en.wikipedia.org/wiki/Indexed_Database_API">IndexedDB</a>, <a href="https://en.wikipedia.org/wiki/Progressive_web_application#Service_workers">Service Workers</a> cache, <a href="https://en.wikipedia.org/wiki/Progressive_web_application#AppCache_(obsolete)">appCache</a>, or cache by host. As a result they are not as good as the above Temporary Container suggestions.
</div>

{% include cardv2.html
  title="ETag Stoppa"
  image="/assets/img/svg/3rd-party/etag_stoppa.svg"
  description="<strong>ETag Stoppa</strong> Prevents Firefox from storing entity tags by removing ETag response headers unconditionally and without exceptions."
  website="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
  forum=""
  github="https://github.com/claustromaniac/etag-stoppa"
  firefox="https://addons.mozilla.org/firefox/addon/etag-stoppa/"
%}

{% include cardv2.html
  title="Cookie AutoDelete: Automatically Delete Cookies"
  image="/assets/img/png/3rd-party/cookie_autodelete.png"
  description="<strong>Cookie AutoDelete</strong> automatically removes cookies, lingering sessions, and other information that can be used to spy on you when they are no longer used by open browser tabs."
  website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
  forum="https://forum.privacytools.io/t/discussion-cookie-autodelete/267"
  github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
  firefox="https://addons.mozilla.org/firefox/addon/cookie-autodelete"
  chrome="https://chrome.google.com/webstore/detail/cookie-autodelete/fhcgjolkccmbidfldomjliifgaodjagh"
%}

<h2>For Advanced Users</h2>

<div class="alert alert-warning" role="alert">
  These addons require quite a lot of interaction from the user, and some of them completely replace the add-ons we've recommended above. Some sites may not work properly without careful configuration.
</div>

{% include cardv2.html
  title="uMatrix: Stop Cross-Site Requests"
  image="/assets/img/png/3rd-party/umatrix.png"
  description="<strong>uMatrix</strong> gives you control over the requests that websites make to other websites. Many websites integrate features which let other websites track you, such as Facebook Like Buttons or Google Analytics. uMatrix allows 1st party scripts in its default configuration. If you want the default functionality of NoScript consider <a href=https://github.com/gorhill/uMatrix/wiki/How-to-block-1st-party-scripts-everywhere-by-default>blocking 1st party scripts everywhere by default</a>. <strong>This addon has been <a href=https://github.com/uBlockOrigin/uMatrix-issues/issues/291#issuecomment-694988696>discontinued</a>.</strong>"
  website="https://addons.mozilla.org/firefox/addon/umatrix/"
  privacy-policy="https://github.com/gorhill/uMatrix/wiki/Privacy-policy"
  forum="https://forum.privacytools.io/t/discussion-umatrix/271"
  github="https://github.com/gorhill/uMatrix"
  firefox="https://addons.mozilla.org/firefox/addon/umatrix"
  chrome="https://chrome.google.com/webstore/detail/umatrix/ogfcmafjalglgifnmanfmnieipoejdcf"
  opera="https://addons.opera.com/extensions/details/umatrix"
%}

{% include cardv2.html
  title="CanvasBlocker"
  image="/assets/img/svg/3rd-party/canvasblocker.svg"
  description="<strong>CanvasBlocker</strong> allows users to prevent websites from using some Javascript APIs to fingerprint them. Users can choose to block the APIs entirely on some or all websites (which may break some websites) or just block or fake its fingerprinting-friendly readout API."
  website="https://github.com/kkapsner/CanvasBlocker/"
  privacy-policy="https://addons.mozilla.org/firefox/addon/canvasblocker/privacy/"
  forum="https://forum.privacytools.io/t/discussion-canvasblocker/3352"
  github="https://github.com/kkapsner/CanvasBlocker/"
  firefox="https://addons.mozilla.org/firefox/addon/canvasblocker/"
%}
