<h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> Browser Recommendation</h1>

{% include cardv2.html
title="Mozilla Firefox"
image="/assets/img/tools/Firefox.png"
description='Firefox is fast, reliable, open source and respects your privacy. Don\'t forget to adjust the settings according to our
recommendations: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> and <a href="#about_config"><i class="fas fa-link"></i> about:config</a> and get the <a href="#addons"><i class="fas fa-link"></i> privacy add-ons</a>.'
website="https://www.firefox.com/"
forum="https://forum.privacytools.io/t/discussion-firefox/279"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Tor Browser - For Experts"
image="/assets/img/tools/Tor-Browser.png"
description='Tor Browser is your choice if you need an extra layer of anonymity. Its a modified version of Firefox, it comes with pre-installed privacy add-ons, encryption and an advanced proxy. <a href="https://write.privacytools.io/my-thoughts-on-security/slicing-onions-part-1-myth-busting-tor">How does Tor work?</a>'
website="https://www.torproject.org/"
forum="https://forum.privacytools.io/t/discussion-tor-browser/278"
git="https://trac.torproject.org/projects/tor"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Brave Browser - Complete but Experimental"
image="/assets/img/tools/Brave.png"
description="The new open source browser Brave automatically blocks ads and trackers, making it faster and safer than your current browser. Brave is based on Chromium. <span class=\"badge badge-warning\" data-toggle=\"tooltip\" title=\"Brave is a good choice if you want to use a Chromium-based browser. But at this point in Brave's development&comma; it's not as good as Firefox with privacy addons.\">experimental <i class=\"far fa-question-circle\"></i></span>"
website="https://brave.com/"
forum="https://forum.privacytools.io/t/discussion-brave-browser/280"
github="https://github.com/brave"
windows=""
mac=""
linux=""
android=""
ios=""
%}