<h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> Browser Recommendation</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="Tor Browser"
  image="/assets/img/tools/Tor-Browser.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='OS: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description="Tor Browser is your choice if you need an extra layer of anonymity. It's a modified version of Firefox, it comes with pre-installed privacy add-ons, encryption and an advanced proxy."
  %}

  {% include card.html color="primary"
  title="Mozilla Firefox"
  image="/assets/img/tools/Firefox.png"
  url="https://www.firefox.com/"
  footer="OS: Windows, macOS, Linux, Android, iOS, BSD."
  description='Firefox is fast, reliable, open source and respects your privacy. Don\'t forget to adjust the settings according to our
  recommendations: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> and <a href="#about_config"><i class="fas fa-link"></i> about:config</a> and get the <a href="#addons"><i class="fas fa-link"></i> privacy add-ons</a>.'
  %}

  {% include card.html color="warning"
  title="Brave"
  labels="warning:experimental:Brave is a good choice if you want to use a Chromium-based browser. But at this point in Brave's development&comma; it's not as good as Firefox with privacy addons."
  image="/assets/img/tools/Brave.png"
  url="https://www.brave.com/"
  footer="OS: Windows, macOS, Linux, Android, iOS."
  description="The new open source browser \"Brave\" automatically blocks ads and trackers, making it faster and safer than your current browser. Brave is based on Chromium."
  %}

</div>
