<h1 id="addons" class="anchor"><a href="#addons"><i class="fas fa-link anchor-icon"></i></a> Excellent Firefox Privacy Add-ons</h1>

<div class="alert alert-primary" role="alert">
  <strong>Improve your privacy with these excellent Firefox add-ons.</strong>
</div>


{% include cardv2.html
title="Privacy Badger: Stop Tracking"
image="/assets/img/addons/privacy-badger.png"
description="<strong>Privacy Badger</strong> is a browser add-on that stops advertisers and other third-party trackers from secretly tracking where you go and what pages you look at on the web. Privacy Badger learns about trackers as you browse. <span class=\"badge badge-warning\" data-toggle=\"tooltip\" title=\"Please be aware that Google Analytics is considered first-party by Privacy Badger, which means that Google Analytics will not be blocked if you do not use another blocker, such as uBlock Origin.
\">warning <i class=\"far fa-question-circle\"></i></span>"
website="https://www.eff.org/privacybadger"
forum="https://forum.privacytools.io/t/discussion-privacy-badger/265"
github="https://github.com/EFForg/privacybadger"
firefox=""
chrome=""
opera=""
android=""
%}

{% include cardv2.html
title="uBlock Origin: Block Ads and Trackers"
image="/assets/img/addons/ublock-origin.png"
description="<strong>uBlock Origin</strong> is an efficient <a href=https://github.com/gorhill/uBlock/wiki/Blocking-mode>wide-spectrum-blocker</a> that's easy on memory, and yet can load and enforce thousands more filters than other popular blockers out there. It has no monetization strategy and is completely open source."
website="https://addons.mozilla.org/firefox/addon/ublock-origin/"
forum="https://forum.privacytools.io/t/discussion-ublock-origin/266"
github="https://github.com/gorhill/uBlock/"
firefox=""
chrome=""
safari=""
opera=""
edge=""
android=""
%}

{% include cardv2.html
title="Cookie AutoDelete: Automatically Delete Cookies"
image="/assets/img/addons/cookie-autodelete.png"
description="<strong>Cookie AutoDelete</strong> automatically removes cookies when they are no longer used by open browser tabs. With the cookies, lingering sessions, as well as information used to spy on you, will be expunged."
website="https://addons.mozilla.org/firefox/addon/cookie-autodelete/"
forum="https://forum.privacytools.io/t/discussion-cookie-autodelete/267"
github="https://github.com/Cookie-AutoDelete/Cookie-AutoDelete"
firefox=""
chrome=""
%}

{% include cardv2.html
title="HTTPS Everywhere: Secure Connections"
image="/assets/img/addons/https-everywhere.png"
description="<strong>HTTPS Everywhere</strong> encrypts your communications with many major websites, making your browsing more secure. A collaboration between The Tor Project and the Electronic Frontier Foundation."
website="https://www.eff.org/https-everywhere"
forum="https://forum.privacytools.io/t/discussion-https-everywhere/268"
github="https://github.com/EFForg/https-everywhere"
firefox=""
chrome=""
android=""
opera=""
%}

{% include cardv2.html
title="Decentraleyes: Block Content Delivery Networks"
image="/assets/img/addons/decentraleyes.png"
description="<strong>Decentraleyes</strong> emulates Content Delivery Networks locally by intercepting requests, finding the required resource and injecting it into the environment. This all happens instantaneously, automatically, and no prior configuration is required."
website="https://decentraleyes.org/"
forum="https://forum.privacytools.io/t/discussion-decentraleyes/269"
gitlab="https://git.synz.io/Synzvato/decentraleyes"
firefox=""
chrome=""
opera=""
%}

{% include cardv2.html
title="Terms of Service; Didn’t Read: Be Informed"
image="/assets/img/addons/tosdr.png"
description="<strong>Terms of Service; Didn’t Read</strong> “I have read and agree to the Terms” is the biggest lie on the web. This addon aims to fix that by grading websites based on their Terms of Service agreements and gives short summaries."
website="https://tosdr.org/"
forum="https://forum.privacytools.io/t/discussion-decentraleyes/270"
github="https://github.com/tosdr/"
firefox=""
chrome=""
opera=""
safari=""
%}

<h2>For Experts Only</h2>

<div class="alert alert-warning" role="alert">
  <strong>These addons require quite a lot of interaction from the user. Some sites will not work properly until you have configured the add-ons.</strong>
</div>

{% include cardv2.html
title="uMatrix: Stop Cross-Site Requests"
image="/assets/img/addons/umatrix.png"
description="<strong>uMatrix</strong> gives you control over the requests that websites make to other websites. Many websites integrate features which let other websites track you, such as Facebook Like Buttons or Google Analytics."
website="https://addons.mozilla.org/firefox/addon/umatrix/"
forum="https://forum.privacytools.io/t/discussion-umatrix/271"
github="https://github.com/gorhill/uMatrix"
firefox=""
chrome=""
opera=""
%}

{% include cardv2.html
title="NoScript Security Suite: Be in total control"
image="/assets/img/addons/noscript.png"
description="<strong>NoScript</strong> is a highly customizable plugin to selectively allow JavaScript, Java, and Flash to run only on websites you trust. Not for casual users, it requires technical knowledge to configure."
website="https://addons.mozilla.org/firefox/addon/noscript/"
forum="https://forum.privacytools.io/t/discussion-noscript-security-suite/272"
github="https://github.com/hackademix/noscript"
firefox=""
chrome=""
%}