<h1 id="calendar_contacts" class="anchor"><a href="#calendar_contacts"><i class="fas fa-link anchor-icon"></i></a> {% t Calendar and Contacts Sync %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t If you are currently using a calendar and or contacts synchronization service like Google Sync or iCloud, you should pick an alternative here. %}</strong>
</div>

{%
  include cardv2.html
  title="Nextcloud"
  image="/assets/img/provider/Nextcloud.png"
  description="<strong>Nextcloud</strong> is a suite of client-server software for creating and using file hosting services. This includes calendar sync via CalDAV and contacts sync via CardDAV. Nextcloud is free and open-source, thereby allowing anyone to install and operate it without charge on a private server."
  website="https://nextcloud.com/"
  forum="https://forum.privacytools.io/t/discussion-nextcloud-calender-contacts-sync-tools/1535"
  github="https://github.com/nextcloud"
  windows="https://nextcloud.com/install/"
  linux="https://nextcloud.com/install/"
  mac="https://nextcloud.com/install/"
  freebsd="https://www.freshports.org/deskutils/nextcloudclient/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  android="https://nextcloud.com/install/"
  ios="https://nextcloud.com/install/"
%}

{% capture email_providers_desc %}Many email providers also offer calendar and or contacts sync services. Refer to the <a href="{{'/providers/email' | translate_page }}">Email Providers section</a> to choose an email provider and check if they also offer calendar and/or contacts sync.{% endcapture %}
{% capture email_providers_link %}{{'/providers/email' | translate_page }}{% endcapture %}

{%
  include cardv2.html
  title="Email Providers"
  image="/assets/img/misc/email.png"
  description="Many email providers also offer calendar and or contacts sync services. Refer to the <a href=\"{{'/providers/email' | translate_page }}\">Email Providers section</a> to choose an email provider and check if they also offer calendar and/or contacts sync."
  website="{{'/providers/email' | translate_page }}"
%}

{%
  include cardv2.html
  title="EteSync"
  image="/assets/img/provider/etesync.png"
  description="<strong>EteSync</strong> is a secure, end-to-end encrypted, and journaled personal information (e.g. contacts and calendar) cloud synchronization and backup for Android and any OS that supports CalDAV/CardDAV. It costs $24 per year to use, or you can host the server yourself for free."
  website="https://www.etesync.com/"
  forum="https://forum.privacytools.io/t/discussion-etesync-calender-contacts-sync-tools/1536"
  github="https://github.com/etesync"
  web="https://client.etesync.com/"
  windows="https://github.com/etesync/etesync-dav/blob/master/README.md#installation"
  mac="https://github.com/etesync/etesync-dav/blob/master/README.md#installation"
  linux="https://github.com/etesync/etesync-dav/blob/master/README.md#installation"
  fdroid="https://f-droid.org/packages/com.etesync.syncadapter/"
  googleplay="https://play.google.com/store/apps/details?id=com.etesync.syncadapter"
%}

<h3>{% t Worth Mentioning %}</h3>

<ul>
  <li>
    <a href="{% t https://fruux.com/ %}">{% t fruux %}</a> - {% t A unified contacts/calendaring system that works across platforms and devices. %}
  </li>

  <li>
    <a href="../cloud">{% t cloud backups %}</a> - {% t Consider regularly exporting your calendar and or contacts and backing them up on a separate storage drive or uploading them to cloud storage (ideally after <a href="../encryption-tools/">encrypting</a> them).%}
  </li>
</ul>
