<h1 id="calendar_contacts" class="anchor"><a href="#calendar_contacts"><i class="fas fa-link anchor-icon"></i></a> Calendar and Contacts Sync</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a calendar and or contacts synchronization service like Google Sync or iCloud, you should pick an alternative here.</strong>
</div>

{%
  include cardv2.html
  title="Nextcloud"
  image="/assets/img/svg/3rd-party/nextcloud.svg"
  description="<strong>Nextcloud</strong> is a suite of client-server software for creating and using file hosting services. This includes calendar sync via CalDAV and contacts sync via CardDAV. Nextcloud is free and open-source, thereby allowing anyone to install and operate it without charge on a private server."
  website="https://nextcloud.com/"
  privacy-policy="https://nextcloud.com/privacy/"
  forum="https://forum.privacytools.io/t/discussion-nextcloud-calender-contacts-sync-tools/1535"
  github="https://github.com/nextcloud"
  windows="https://nextcloud.com/install/"
  linux="https://nextcloud.com/install/"
  mac="https://nextcloud.com/install/"
  freebsd="https://www.freshports.org/deskutils/nextcloudclient/"
  openbsd="http://openports.se/www/nextcloud"
  netbsd="http://pkgsrc.se/www/php-nextcloud"
  android="https://nextcloud.com/install/"
  ios="https://nextcloud.com/install/"
%}

{%
  include cardv2.html
  title="EteSync"
  image="/assets/img/svg/3rd-party/etesync.svg"
  description="<strong>EteSync</strong> is a secure, end-to-end encrypted, and privacy-respecting cloud backup and synchronization software for your personal information (e.g. contacts and calendars). There are native clients for Android, iOS, and the web, and an adapter layer for most desktop clients. It costs $24 per year to use, or you can host the server yourself for free."
  website="https://www.etesync.com/"
  privacy-policy="https://www.etesync.com/tos/#privacy"
  forum="https://forum.privacytools.io/t/discussion-etesync-calender-contacts-sync-tools/1536"
  github="https://github.com/etesync"
  web="https://client.etesync.com/"
  windows="https://www.etesync.com/install/dav/"
  mac="https://www.etesync.com/install/dav/"
  linux="https://www.etesync.com/install/dav/"
  freebsd="https://www.etesync.com/install/dav/"
  openbsd="https://www.etesync.com/install/dav/"
  netbsd="https://www.etesync.com/install/dav/"
  fdroid="https://f-droid.org/packages/com.etesync.syncadapter/"
  googleplay="https://play.google.com/store/apps/details?id=com.etesync.syncadapter"
  ios="https://www.etesync.com/install/ios/"
%}

{%
  include cardv2.html
  title="Email Providers"
  image="/assets/img/svg/layout/email.svg"
  description='Many email providers also offer calendar and or contacts sync services. Refer to our <a href="/providers/email">Email Provider recommendations</a> to choose an email provider and see if they also offer calendar and/or contacts sync.'
  website="/providers/email"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li>
    <a href="https://fruux.com/">fruux</a> - A unified contacts/calendaring system that works across platforms and devices.
  </li>

  <li>
    <a href="../cloud">Cloud backups</a> - Consider regularly exporting your calendar and or contacts and backing them up on a separate storage drive or uploading them to cloud storage (ideally after <a href="../encryption-tools/">encrypting</a> them).
  </li>

  <li>
    <a href="https://github.com/39aldo39/DecSync">DecSync</a> - DecSync can be used to synchronize RSS, contacts, and calendars without a server by using file synchronization software such as <a href="https://syncthing.net/">Syncthing</a>.
  </li>
</ul>
