<h1 id="calendar_contacts" class="anchor"><a href="#calendar_contacts"><i class="fas fa-link anchor-icon"></i></a> Calendar and Contacts Sync</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a calendar and or contacts synchronization service like Google Sync or iCloud, you should pick an alternative here.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Nextcloud"
  image="/assets/img/provider/Nextcloud.png"
  url="https://nextcloud.com/"
  footer="Client OS: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Server: Linux."
  description="NextCloud is a suite of client-server software for creating and using file hosting services. This includes calendar sync via CalDAV and contacts sync via CardDAV. Nextcloud is free and open-source, thereby allowing anyone to install and operate it without charge on a private server."
  %}

  {% include card.html color="primary"
  title="Email Providers"
  image="/assets/img/misc/email.png"
  url="../email"
  website="Email Providers section"
  footer="OS: depends on email provider."
  description="Many email providers also offer calendar and or contacts sync services. Refer to the <a href=\"../email\">Email Providers section</a> to choose an email provider and check if they also offer calendar and or contacts sync."
  %}

  {% include card.html color="warning"
  title="EteSync"
  image="/assets/img/provider/etesync.png"
  url="https://www.etesync.com/"
  footer="Client OS: Android, Web. Server OS: Linux."
  description="EteSync is a secure, end-to-end encrypted and journaled personal information (e.g. contacts and calendar) cloud synchronization and backup for Android and any OS that supports CalDAV/CardDAV. It costs $14 per year to use, or you can host the server yourself for free."
  %}

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li>
    <a href="https://fruux.com/">fruux</a> - a unified contacts/calendaring system that works across platforms and devices.
  </li>

  <li>
    <a href="https://signal.org/blog/flock/">Flock</a> - a discontinued calendar and contacts sync service by Open Whisper Systems. Despite being shut down the <a href="https://github.com/signalapp/Flock">source code</a> is still available on GitHub.
  </li>

  <li>
    <a href="../cloud">cloud backups</a> - consider regularly exporting your calendar and or contacts and backing them up on a separate storage drive or uploading them to cloud storage (ideally after <a href="../encryption-tools/#encrypt">encrypting</a> them).
  </li>
</ul>
