<h1 id="cloud" class="anchor"><a href="#cloud"><i class="fas fa-link anchor-icon"></i></a> Encrypted Cloud Storage Services</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using Dropbox, Google Drive, Microsoft OneDrive or Apple iCloud, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
title="Nextcloud - Choose your hoster"
image="/assets/img/provider/Nextcloud.png"
description="Similar functionally to the widely used Dropbox, with the difference being that Nextcloud is free and open-source, and thereby allowing anyone to install and operate it without charge on a private server, with no limits on storage space or the number of connected clients."
website="https://nextcloud.com/"
forum="https://forum.privacytools.io/t/discussion-nextcloud/287"
github="https://github.com/nextcloud"
windows=""
mac=""
linux=""
bsd=""
ios=""
android=""
fire=""
%}

{% include cardv2.html
title="Least Authority S4 - For Experts"
image="/assets/img/provider/S4.jpg"
description="S4 (Simple Secure Storage Service) is Least Authority's verifiably secure off-site backup system for individuals and businesses. 100% client-side encryption and open source transparency. 250GB for $9.95/month or 5TB for $25.95/month. Servers are hosted with Amazon S3 in the US."
website="https://leastauthority.com/"
forum="https://forum.privacytools.io/t/discussion-least-authority-s4/288"
github="https://github.com/LeastAuthority"
windows=""
mac=""
linux=""
bsd=""
%}


<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Free client-side AES encryption for your cloud files. Open source software: No backdoors, no registration.</li>
  <li><a href="https://cryptpad.fr">CryptPad</a> - Free and end-to-end encrypted real time collaboration sharing folders, media, and documents.</li>
</ul>
