<h1 id="cloud" class="anchor"><a href="#cloud"><i class="fas fa-link anchor-icon"></i></a> Encrypted Cloud Storage Services</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using Dropbox, Google Drive, Microsoft OneDrive or Apple iCloud, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
title="Nextcloud - Choose your hoster"
image="/assets/img/provider/Nextcloud.png"
description="Nextcloud is similar in functionality to the widely-used Dropbox, with the difference being that Nextcloud is free and open-source, thereby allowing anyone to install and operate it without charge on a private server, with no limits on storage space or the number of connected clients."
website="https://nextcloud.com/"
forum="https://forum.privacytools.io/t/discussion-nextcloud/287"
github="https://github.com/nextcloud"
windows="https://nextcloud.com/install/#install-clients"
mac="https://nextcloud.com/install/#install-clients"
linux="https://nextcloud.com/install/#install-clients"
freebsd="https://www.freshports.org/www/nextcloud/"
openbsd="http://openports.se/www/nextcloud"
netbsd="http://pkgsrc.se/www/php-nextcloud"
ios="https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8"
fdroid="https://f-droid.org/packages/com.nextcloud.client/"
googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
%}

{% include cardv2.html
title="Least Authority S4 - For Experts"
image="/assets/img/provider/S4.png"
description="S4 (Simple Secure Storage Service) is Least Authority's verifiably secure off-site backup system for individuals and businesses. 100% client-side encryption and open source transparency. 250GB for $9.95/month or 5TB for $25.95/month. Servers are hosted with Amazon S3 in the US."
website="https://leastauthority.com/"
forum="https://forum.privacytools.io/t/discussion-least-authority-s4/288"
github="https://github.com/LeastAuthority"
windows="https://github.com/gridsync/gridsync#installation-and-running"
mac="https://github.com/gridsync/gridsync#installation-and-running"
linux="https://github.com/gridsync/gridsync#installation-and-running"
%}


<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Free client-side AES encryption for your cloud files. Open source software: No backdoors, no registration.</li>
  <li><a href="https://cryptpad.fr">CryptPad</a> - Free and end-to-end encrypted real time collaboration sharing folders, media, and documents.</li>
</ul>
