<h1 id="video" class="anchor"><a href="#video"><i class="fas fa-link anchor-icon"></i></a> Decentralized Video Platforms</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using a platform like YouTube or Vimeo, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
  title="PeerTube"
  image="/assets/img/svg/3rd-party/peertube.svg"
  description='PeerTube, developed by Framasoft, is a free and decentralized alternative to video platforms, with over 400,000 videos published by over 50,000 users and viewed over 10 million times. If you are looking for a server to join, you are welcome to join our hosted instance: <a href="https://tube.privacytools.io/">tube.privacytools.io</a>'
  website="https://joinpeertube.org"
  github="https://github.com/Chocobozzz/PeerTube"
  web="https://joinpeertube.org/#what-is-peertube"
%}
