<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Decentralized Video Platforms</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using a platform like YouTube or Vimeo, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
  title="PeerTube"
  image="/assets/img/svg/3rd-party/peertube.svg"
  description='PeerTube, developed by Framasoft, is the free and decentralized alternative to video platforms, providing you over 200,000 videos published by 30,000 users and viewed over 10 million times If you are looking for a server to join, you are welcome to join our hosted instance: <a href="https://tube.privacytools.io/">tube.privacytools.io</a>'
  website="https://joinpeertube.org"
  github="https://github.com/Chocobozzz/PeerTube"
  web="https://joinpeertube.org/#what-is-peertube"
%}

{% include cardv2.html
  title="LBRY"
  image="/assets/img/svg/3rd-party/lbrytv.svg"
  description='LBRY is a Blockchain-based open and community run digital marketplace for content creators and audiences. LBRY\'s goal is to allow "publishers and their fans to interact directly without the risk of demonetization or other meddling."'
  website="https://lbry.com"
  privacy-policy="https://lbry.com/privacypolicy"
  windows="https://lbry.com/get"
  mac="https://lbry.com/get"
  linux="https://lbry.com/get"
  web="https://lbry.tv"
  googleplay="https://play.google.com/store/apps/details?id=io.lbry.browser"
  github="https://github.com/lbryio"
%}
