<h1 id="clients" class="anchor"><a href="#diy"><i class="fas fa-link anchor-icon"></i></a> Diy Hardware</h1>

{% include cardv2.html
title="ZeroCat"
image="/assets/img/tools/zerocat.png"
description="ZeroCat is a DIY hardware manufacuter with a focus on free software. Warning: Not all of their hardware is yet compleely free'd."
website="http://zerocat.org/"
forum=""
github=""
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="ThinkPenguin.com"
image="/assets/img/tools/thinkpenguin.png"
description="ThinkPenguin.com sells hardware with zero non-free drivers."
website="https://www.thinkpenguin.com/"
forum=""
git=""
windows=""
mac=""
linux=""
bsd=""
%}


 <h3>Worth Mentioning</h3>

 <ul>
    <li><a href="https://shop.phreedom2600.net">Phreedom2600</a> - Open Hardware DIY Tools</li>
</ul>
