<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> {% t Email Clients %}</h1>

{% include cardv2.html
title="Thunderbird"
image="/assets/img/tools/Thunderbird.png"
description="Thunderbird is a free, open source, cross-platform email, newsgroup, news feed, and chat (XMPP, IRC, Twitter) client developed by community, previously by the Mozilla Foundation."
website="https://www.thunderbird.net/"
forum="https://forum.privacytools.io/t/discussion-thunderbird/659"
source="https://hg.mozilla.org/comm-central/"
windows="https://www.thunderbird.net/en-US/"
mac="https://www.thunderbird.net/en-US/"
linux="https://www.thunderbird.net/en-US/"
freebsd="https://www.freshports.org/mail/thunderbird/"
openbsd="http://openports.se/mail/mozilla-thunderbird"
netbsd="http://pkgsrc.se/mail/thunderbird"
%}

{% include cardv2.html
title="Claws Mail"
image="/assets/img/tools/Claws-Mail.png"
description="Claws Mail is a free and open source, GTK-based email and news client. It offers easy configuration and an abundance of features. It is included with Gpg4win, an encryption suite for Windows."
website="https://www.claws-mail.org/"
forum="https://forum.privacytools.io/t/discussion-claws-mail/660"
git="https://git.claws-mail.org/"
windows="https://www.claws-mail.org/win32/"
mac="https://www.claws-mail.org/faq/index.php/Installation_and_Configuration#What_do_I_need_to_compile_Claws_Mail.3F"
linux="https://www.claws-mail.org/downloads.php?section=downloads"
freebsd="https://www.freshports.org/mail/claws-mail/"
openbsd="http://openports.se/mail/claws-mail"
netbsd="http://pkgsrc.se/mail/claws-mail"
%}


<h3>{% t Privacy Email Tools %}</h3>

<ul>
  <li><a href="{% t https://www.gpg4usb.org/ %}">{% t gpg4usb %}</a> - {% t A very easy to use and small portable editor to encrypt and decrypt any text-message or -file. For Windows and Linux. <a href="https://theprivacyguide.org/tutorials/gpg.html">GPG tutorial</a>. %}</li>
  <li><a href="{% t https://www.mailvelope.com/ %}">{% t Mailvelope %}</a> - {% t A browser extension that enables the exchange of encrypted emails following the <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP encryption standard</a>. %}</li>
  <li><a href="{% t https://www.enigmail.net/ %}">{% t Enigmail %}</a> - {% t A security extension to Thunderbird and Seamonkey. It enables you to write and receive email messages signed and/or encrypted with the <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP standard</a>. %}</li>
  <li><a href="{% t https://addons.thunderbird.net/thunderbird/addon/torbirdy/ %}">{% t TorBirdy %}</a> - {% t TorBirdy configures Thunderbird to make connections over the Tor anonymity network. This extension is in beta and should be considered experimental. %}</li>
  <li><a href="{% t https://www.emailprivacytester.com/ %}">{% t Email Privacy Tester %}</a> - {% t This tool will send an Email to your address and perform privacy-related tests. %}</li>
</ul>

<h3>{% t Worth Mentioning %}</h3>

<ul>
  <li><a href="{% t https://github.com/k9mail/k-9/releases %}">{% t K-9 Mail %}</a> - {% t An independent mail application for Android. It supports both POP3 and IMAP mailboxes, but only supports push mail for IMAP. %}</li>
  <li><a href="{% t https://www.gnupg.org/ %}">{% t GNU Privacy Guard %}</a> - {% t Email Encryption. GnuPG is a GPL Licensed alternative to the PGP suite of cryptographic software. <a href="https://theprivacyguide.org/tutorials/gpg.html">Tutorial.</a> Use <a href="https://gpgtools.org/">GPGTools for macOS.</a> %}</li>
  <li><a href="{% t https://www.mailpile.is/ %}">{% t Mailpile (Beta) %}</a> - {% t A modern, fast web-mail client with user-friendly encryption and privacy features. %}</li>
</ul>
