<h1 id="email" class="anchor"><a href="#email"><i class="fas fa-link anchor-icon"></i></a> Privacy-Conscious Email Providers - No Affiliates</h1>

<div class="alert alert-success" role="alert">
  <strong>All providers listed here are operating outside the US and support <a data-toggle="tooltip" data-placement="bottom" data-original-title="When sending or receiving emails, if both the sending and receiving servers support TLS encryption, the email is sent between servers using an encrypted connection.">SMTP TLS.</a> The table is sortable. Never trust any company with your privacy, always encrypt.</strong>
</div>

<div class="table-responsive">
  <table class="table sortable-theme-bootstrap" data-sortable>
    <thead>
      <tr>
        <th data-sortable="true">Email Service</th>
        <th data-sortable="true">URL</th>
        <th data-sortable="true">Since</th>
        <th data-sortable="true">Server</th>
        <th data-sortable="true">Storage</th>
        <th data-sortable="true">Price / Year</th>
        <th data-sortable="true">Bitcoin</th>
        <th data-sortable="true">Encryption</th>
        <th data-sortable="true">Own Domain</th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td data-value="ProtonMail">
          <img alt="Protonmail" src="assets/img/provider/ProtonMail.ch.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.protonmail.ch" href="https://www.protonmail.ch"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://protonirockerxow.onion. Requires specific software to access: torproject.org" href="https://protonirockerxow.onion"><img alt="Tor" src="assets/img/layout/tor.png" width="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Free</span></td>
        <td data-value="1"><span class="label label-success">Accepted</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="disroot.org">
          <img alt="Disroot" src="assets/img/provider/disroot.org.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://disroot.org" href="https://disroot.org"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2015">2015</td>
        <td><span class="flag-icon flag-icon-nl"></span> Netherlands</td>
        <td data-value="2000">2 GB</td>
        <td data-value="1"><span class="label label-warning">Free</span></td>
        <td data-value="1"><span class="label label-success">Accepted</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Tutanota">
          <img alt="Tutanota" src="assets/img/provider/Tutanota.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.tutanota.com" href="https://www.tutanota.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2011">2011</td>
        <td><span class="flag-icon flag-icon-de"></span> Germany</td>
        <td data-value="1000">1 GB</td>
        <td data-value="0"><span class="label label-warning">Free</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Mailfence">
          <img alt="Mailfence" src="assets/img/provider/Mailfence.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailfence.com" href="https://www.mailfence.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2013">2013</td>
        <td><span class="flag-icon flag-icon-be"></span> Belgium</td>
        <td data-value="500">500 MB</td>
        <td data-value="0"><span class="label label-warning">Free</span></td>
        <td data-value="1"><span class="label label-success">Accepted</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="mailbox.org">
          <img alt="mailbox.org" src="assets/img/provider/mailbox.org.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.mailbox.org" href="https://www.mailbox.org"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td><span class="flag-icon flag-icon-de"></span> Germany</td>
        <td data-value="2000">2 GB</td>
        <td data-value="13">12 €</td>
        <td data-value="1"><span class="label label-success">Accepted</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Posteo">
          <img alt="Posteo" src="assets/img/provider/Posteo.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.posteo.de" href="https://www.posteo.de"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2009">2009</td>
        <td><span class="flag-icon flag-icon-de"></span> Germany</td>
        <td data-value="2000">2 GB</td>
        <td data-value="13">12 €</td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
      </tr>

      <tr>
        <td data-value="Runbox">
          <img alt="Runbox" src="assets/img/provider/runbox.png" width="200" height="70">

        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://runbox.com" href="https://runbox.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="1999">1999</td>
        <td><span class="flag-icon flag-icon-no"></span> Norway</td>
        <td data-value="1000">1 GB</td>
        <td data-value="20">$ 19.95</td>
        <td data-value="1"><span class="label label-primary">Yes</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Neomailbox">
          <img alt="Neomailbox" src="assets/img/provider/Neomailbox.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.neomailbox.com" href="https://www.neomailbox.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2003">2003</td>
        <td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
        <td data-value="1000">1 GB</td>
        <td data-value="50">$ 49.95</td>
        <td data-value="1"><span class="label label-success">Accepted</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="StartMail">
          <img alt="StartMail" src="assets/img/provider/StartMail.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.startmail.com" href="https://www.startmail.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2014">2014</td>
        <td><span class="flag-icon flag-icon-nl"></span> Netherlands</td>
        <td data-value="10000">10 GB</td>
        <td data-value="60">$ 59.95</td>
        <td data-value="0"><span class="label label-success">Accepted</span></td>
        <td data-value="1"><span class="label label-success">Built-in</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

      <tr>
        <td data-value="Kolab Now">
          <img alt="Kolab Now" src="assets/img/provider/Kolab-Now.png" width="200" height="70">
        </td>
        <td>
          <a data-toggle="tooltip" data-placement="bottom" data-original-title="https://www.kolabnow.com" href="https://www.kolabnow.com"><img alt="WWW" src="assets/img/layout/www.png" width="35"></a>
        </td>
        <td data-value="2010">2010</td>
        <td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
        <td data-value="2048">2 GB</td>
        <td data-value="60">$ 60</td>
        <td data-value="1"><span class="label label-success">Accepted</span></td>
        <td data-value="0"><span class="label label-primary">No</span></td>
        <td data-value="1"><span class="label label-success">Yes</span></td>
      </tr>

    </tbody>
  </table>
</div>

<h3>Interesting Email Providers Under Development</h3>

<ul>
  <li><a href="https://www.confidantmail.org/">Confidant Mail</a> - An open-source non-SMTP cryptographic email system optimized for large file attachments. It is a secure and spam-resistant alternative to regular email and online file drop services. It
    uses <a href="https://theprivacyguide.org/tutorials/gpg.html">GNU Privacy Guard (GPG)</a> for content encryption and authentication, and TLS 1.2 with ephemeral keys for transport encryption.</li>
</ul>  <h3>Become Your Own Email Provider with Mail-in-a-Box</h3>
<a href="https://mailinabox.email/"><img src="assets/img/provider/Mail-in-a-Box.png" class="img-fluid float-left" alt="Mail-in-a-Box" style="margin-right:10px;"></a>
<p>Take it a step further and get control of your email with this easy-to-deploy mail server in a box. Mail-in-a-Box lets you become your own mail service provider in a few easy steps. It's sort of like making your own Gmail, but one you control from top
to bottom. Technically, Mail-in-a-Box turns a fresh cloud computer into a working mail server. But you don't need to be a technology expert to set it up. <strong>More: <a href="https://mailinabox.email/">https://mailinabox.email/</a></strong></p>

<h3>Privacy Email Tools</h3>

<ul>
  <li><a href="https://www.gpg4usb.org/">gpg4usb</a> - A very easy to use and small portable editor to encrypt and decrypt any text-message or -file. For Windows and Linux. <a href="https://theprivacyguide.org/tutorials/gpg.html">GPG tutorial</a>.</li>
  <li><a href="https://www.mailvelope.com/">Mailvelope</a> - A browser extension that enables the exchange of encrypted emails following the <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP encryption standard</a>.</li>
  <li><a href="https://www.enigmail.net/">Enigmail</a> - A security extension to Thunderbird and Seamonkey. It enables you to write and receive email messages signed and/or encrypted with the <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP standard</a>.</li>
  <li><a href="https://addons.mozilla.org/thunderbird/addon/torbirdy/">TorBirdy</a> - This extension configures Thunderbird to make connections over the Tor anonymity network.</li>
  <li><a href="https://emailprivacytester.com/">Email Privacy Tester</a> - This tool will send an Email to your address and perform privacy-related tests.</li>
</ul>

<h3>Related Information</h3>

<ul>
  <li><a href="https://www.wired.com/2011/10/ecpa-turns-twenty-five/">Aging 'Privacy' Law Leaves Cloud E-Mail Open to Cops</a> - Data stored in the cloud for longer than 6 months is considered abandoned and may be accessed by intelligence agencies without
    a warrant. Learning: Use an external email client like Thunderbird or Enigmail, download your emails and store them locally. Never leave them on the server.</li>
  <li><a href="https://www.eff.org/deeplinks/2012/04/may-firstriseup-server-seizure-fbi-overreaches-yet-again">With May First/Riseup Server Seizure, FBI Overreaches Yet Again</a></li>
  <li><a href="https://www.autistici.org/ai/crackdown/">Autistici/Inventati server compromised</a> - The cryptographic services offered by the Autistici/Inventati server have been compromised on 15th June 2004. It was discovered on 21st June 2005. One year
    later. During an enquiry on a single mailbox, the Postal Police may have tapped for a whole year every user's private communication going through the server autistici.org/inventati.org.</li>
</ul>
