<h1 id="messaging" class="anchor"><a href="#messaging"><i class="fas fa-link anchor-icon"></i></a> Email Alternatives</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="Bitmessage"
  image="/assets/img/tools/Bitmessage.png"
  url="https://bitmessage.org/"
  footer="OS: Windows, macOS, Linux."
  description="Bitmessage is a P2P communications protocol used to send encrypted messages to another person or to many subscribers. It is decentralized and trustless,
  meaning that you need-not inherently trust any entities like root certificate authorities. It uses strong authentication which means that the sender of a message cannot be spoofed, and it aims to hide \"non-content\" data."
  %}
  {% include card.html color="primary"
  title="RetroShare"
  image="/assets/img/tools/RetroShare.png"
  url="https://retroshare.cc/"
  footer="OS: Windows, macOS, Linux."
  description="Retroshare creates encrypted connections to your friends. Nobody can spy on you. Retroshare is completely decentralized. This means there are no central servers. It is entirely Open-Source and free. There are no costs, no ads and no Terms of Service."
  %}

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://i2pbote.xyz/">I2P-Bote</a> - End-to-end encrypted decentralized mail system within the I2P network.</li>
</ul>
