<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> Email Clients</h1>

{% include cardv2.html
title="Thunderbird"
image="/assets/img/tools/Thunderbird.png"
description="Mozilla Thunderbird is a free, open source, cross-platform email, news, and chat client developed by the Mozilla Foundation. Thunderbird is an email, newsgroup, news feed, and chat (XMPP, IRC, Twitter) client."
website="https://mozilla.org/thunderbird"
forum="https://forum.privacytools.io/t/discussion-thunderbird/659"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="Claws Mail"
image="/assets/img/tools/Claws-Mail.png"
description="Claws Mail is a free and open source, GTK+-based email and news client. It offers easy configuration and an abundance of features. It is included with Gpg4win, an encryption suite for Windows."
website="https://www.claws-mail.org/"
forum="https://forum.privacytools.io/t/discussion-claws-mail/660"
git="https://git.claws-mail.org/"
windows=""
mac=""
linux=""
bsd=""
%}


<h3>Privacy Email Tools</h3>

<ul>
  <li><a href="https://www.gpg4usb.org/">gpg4usb</a> - A very easy to use and small portable editor to encrypt and decrypt any text-message or -file. For Windows and Linux. <a href="https://theprivacyguide.org/tutorials/gpg.html">GPG tutorial</a>.</li>
  <li><a href="https://www.mailvelope.com/">Mailvelope</a> - A browser extension that enables the exchange of encrypted emails following the <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP encryption standard</a>.</li>
  <li><a href="https://www.enigmail.net/">Enigmail</a> - A security extension to Thunderbird and Seamonkey. It enables you to write and receive email messages signed and/or encrypted with the <a href="https://theprivacyguide.org/tutorials/pgp.html">OpenPGP standard</a>.</li>
  <li><a href="https://addons.mozilla.org/thunderbird/addon/torbirdy/">TorBirdy</a> - TorBirdy configures Thunderbird to make connections over the Tor anonymity network. This extension is in beta and should be considered experimental.</li>
  <li><a href="https://emailprivacytester.com/">Email Privacy Tester</a> - This tool will send an Email to your address and perform privacy-related tests.</li>
</ul>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://github.com/k9mail/k-9/releases">K-9 Mail</a> - An independent mail application for Android. It supports both POP3 and IMAP mailboxes, but only supports push mail for IMAP.</li>
  <li><a href="https://www.gnupg.org/">GNU Privacy Guard</a> - Email Encryption. GnuPG is a GPL Licensed alternative to the PGP suite of cryptographic software. <a href="https://theprivacyguide.org/tutorials/gpg.html">Tutorial.</a> Use <a href="https://gpgtools.org/">GPGTools for macOS.</a></li>
  <li><a href="https://www.mailpile.is/">Mailpile (Beta)</a> - A modern, fast web-mail client with user-friendly encryption and privacy features.</li>
</ul>
