<h1 id="messaging" class="anchor"><a href="#messaging"><i class="fas fa-link anchor-icon"></i></a> Email Alternatives</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="I2P-Bote"
  image="assets/img/tools/I2P.png"
  url="https://i2pbote.xyz/"
  footer="OS: Windows, macOS, Linux, Android, BSD / Solaris."
  description="I2P-Bote is a fully decentralized and distributed email system. It supports different identities and does not expose email headers. Currently (2015), it is still
  in beta version and can be accessed via its web application interface or IMAP and SMTP. All bote-mails are transparently end-to-end encrypted and, optionally, signed by the sender's private key."
  %}

  {% include card.html color="primary"
  title="Bitmessage"
  image="assets/img/tools/Bitmessage.png"
  url="https://bitmessage.org/"
  footer="OS: Windows, macOS, Linux."
  description="Bitmessage is a P2P communications protocol used to send encrypted messages to another person or to many subscribers. It is decentralized and trustless,
  meaning that you need-not inherently trust any entities like root certificate authorities. It uses strong authentication which means that the sender of a message cannot be spoofed, and it aims to hide \"non-content\" data."
  %}    {% include card.html color="warning"
  title="RetroShare"
  image="assets/img/tools/RetroShare.png"
  url="http://retroshare.net"
  footer="OS: Windows, macOS, Linux."
  description="Retroshare creates encrypted connections to your friends. Nobody can spy on you. Retroshare is completely decentralized. This means there are no central servers. It is entirely Open-Source and free. There are no costs, no ads and no Terms of Service."
  %}

</div>
