<h1 id="messaging" class="anchor"><a href="#messaging"><i class="fas fa-link anchor-icon"></i></a> Email Alternatives</h1>

{% include cardv2.html
title="Bitmessage"
image="/assets/img/tools/Bitmessage.png"
description="Bitmessage is a P2P communications protocol used to send encrypted messages to another person or to many subscribers. It is decentralized and trustless,
meaning that you need-not inherently trust any entities like root certificate authorities. It uses strong authentication which means that the sender of a message cannot be spoofed, and it aims to hide \"non-content\" data."
website="https://bitmessage.org/"
forum="https://forum.privacytools.io/t/discussion-bitmessage/661"
github="https://github.com/Bitmessage/PyBitmessage"
windows=""
mac=""
linux=""
%}

{% include cardv2.html
title="RetroShare"
image="/assets/img/tools/RetroShare.png"
description="Retroshare creates encrypted connections to your friends. Nobody can spy on you. Retroshare is completely decentralized. This means there are no central servers. It is entirely Open-Source and free. There are no costs, no ads and no Terms of Service."
website="https://retroshare.cc/"
forum="https://forum.privacytools.io/t/discussion-retroshare/662"
github="https://github.com/RetroShare/RetroShare"
windows=""
mac=""
linux=""
%}


<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://i2pbote.xyz/">I2P-Bote</a> - End-to-end encrypted decentralized mail system within the I2P network.</li>
</ul>
