<h1 id="filesharing" class="anchor"><a href="#filesharing"><i class="fas fa-link anchor-icon"></i></a> File Sharing</h1>

{% include cardv2.html
title="Firefox Send"
image="/assets/img/tools/Firefox-Send.png"
website="https://send.firefox.com/"
description="Send uses end-to-end encryption to keep your data secure from the moment you share to the moment your file is opened. It also offers security controls that you can set. You can choose when your file link expires, the number of downloads, and whether to add an optional password for an extra layer of security."
forum="https://forum.privacytools.io/t/discussion-firefox-send/755"
github="https://github.com/mozilla/send"
web=""
android=""
%}

{% include cardv2.html
title="OnionShare"
image="/assets/img/tools/OnionShare.png"
website="https://onionshare.org/"
tor="http://elx57ue5uyfplgva.onion/"
description="OnionShare is an open source tool that lets you securely and anonymously share a file of any size. It works by starting a web server, making it accessible as a Tor onion service, and generating an unguessable URL to access and download the files."
forum="https://forum.privacytools.io/t/discussion-onionshare/754"
github="https://github.com/micahflee/onionshare"
windows=""
mac=""
linux=""
%}

{% include cardv2.html
title="Magic Wormhole"
image="/assets/img/tools/Magic-Wormhole.png"
website="https://github.com/warner/magic-wormhole"
description="Get things from one computer to another, safely. This package provides a library and a command-line tool named wormhole, which makes it possible to get arbitrary-sized files and directories (or short pieces of text) from one computer to another."
forum="https://forum.privacytools.io/t/discussion-magic-wormhole/756"
github="https://github.com/warner/magic-wormhole"
windows=""
mac=""
linux=""
%}