<h1 id="filesharing" class="anchor"><a href="#file-sharing"><i class="fas fa-link anchor-icon"></i></a> File Sharing Services</h1>

<div class="alert alert-success" role="alert">
  <strong> File Sharing services are perfect for quickly sharing a file from one person to another quickly. Please look at File Hosting for making files publically acessable.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="https://ipfs.privacytools.io/ipfs/QmWwKRob8vLLx6ZmRZeVJCfK3Wo4kUSAHAe14MyBfPbsY2" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Firefox Send" href="https://send.firefox.com/">
    </div>
    <div class="col">
    <h2>Firefox Send</h2>
    <p><strong>Firefox Send</strong> uses end-to-end encryption to keep your data secure from the moment you share to the moment your file is opened. It also offers security controls that you can set. You can choose when your file link expires, the number of downloads, and whether you would like to add a password for an extra layer of security.</p>
    </div>
  </div>
  

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="https://ipfs.privacytools.io/ipfs/QmQpUm3nB7Y1fCT5dSTw5wUcXm5gdY8zgbgKnS3jN93cWd" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Onionshare" href="https://onionshare.org/">
    </div>
    <div class="col">
    <h2>OnionShare</h2>
    <p><strong>OnionShare</strong> is an open-source tool that lets you securely and anonymously share a file of any size. It works by starting a web server, making it accessible as a Tor onion service, and generating an unguessable URL for you to share so that the recipients can access and download the files. </p>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="https://ipfs.privacytools.io/ipfs/QmXkQnzBi9eXjXbXcoaHsu6PF5f8QNVXM2p4JPfXdUMbDj" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Magic Wormhole" href="https://magic-wormhole.readthedocs.io/">
    </div>
    <div class="col">
    <h2>Magic Wormhole</h2>
    <p><strong>Magic Wormhole</strong> is a package that provides a library and a command-line tool named wormhole, which makes it possible to get arbitrary-sized files and directories (or short pieces of text) from one computer to another. Their motto: "Get things from one computer to another, safely." </p>
    </div>
  </div>  
  
</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://github.com/schollz/croc">croc</a> - Easily and securely send things from one computer to another.</li>
  <li><a href="https://freedombox.org/">FreedomBox</a> - Designed to be your own inexpensive server at home. It runs free software and offers an increasing number of services ranging from a calendar or Jabber server, to a wiki, or VPN.</li>
</ul>

<h1 id="filehosting" class="anchor"><a href="#file-hosting"><i class="fas fa-link anchor-icon"></i></a> File Hosting Servies</h1>

<div class="alert alert-success" role="alert">
  <strong>File Hosting services are a good tool to utilize for long-term hosting of a particular file.</strong>
</div>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="https://ipfs.privacytools.io/ipfs/Qmec6yNjYCLNiqxXxdeZ4ejkKXDP78zQK5CD3Ghfhd3qWN" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="xd-bittorrent" href="https://xd-torrent.github.io/">
    </div>
    <div class="col">
    <h2>XD Client</h2>
    <p><strong>XD Client</strong> is a bitorrent client with a focus on anonymity. All data is transmited over the i2p protocol.</p>
    </div>
  </div>     
  
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="https://ipfs.privacytools.io/ipfs/QmUFsGtKUi5F523WWaBUnTHPsv1qJRdyF5v5TwPYhGtY3Z" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Freenet_logo" href="https://freenetproject.org/">
    </div>
    <div class="col">
    <h2>FreeNet</h2>
    <p><strong>FreeNet</strong> is a peer-to-peer platform for censorship-resistant communication. It uses a decentralized distributed data store to keep and deliver information, and
has a suite of free software for publishing and communicating on the Web without fear of censorship. A built in file sharing program is hosted at "<a href="http://127.0.0.1:8888/downloads/">127.0.0.1:8888/downloads/</a>".</p>
    </div>
  </div>   

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="https://ipfs.privacytools.io/ipfs/QmPkDNfi9ZARoAneU2U76sys6NCrCfAGKjwxE1bJRkBakv" height="70" width="200" class="img-fluid d-block mr-auto ml-auto align-middle" alt="OFF" href="https://www.off.systems/">
    </div>
    <div class="col">
    <h2>The Owner Free File System</h2>
    <p><strong>OFF.systems</strong> is a reboot of the original OFF System. The first mainstream brightnet.</p>
    </div>
  </div>   

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://github.com/i2p/i2p.i2p/tree/master/apps/i2psnark">i2p-snark</a> - Built-in i2p based Bittorrent client.</li>
  <li><a href="https://github.com/HelloZeroNet/ZeroUp">ZeroUp</a> - A ZeroNet based file hosting program.</li>
  <li><a href="https://ipfs.io/">IPFS</a> <em>and</em> <a href="https://github.com/ipfs-shipyard/ipfs-companion">IPFS Companion</a>- A peer-to-peer hypermedia protocol to make the web faster, safer, and more open. IPFS Companion is a browser extension for redirecting queries to a gateway of your choice (generally local). <a href="https://github.com/privacytoolsIO/privacytools.io/pull/361#issuecomment-344414022">
    <span class="badge badge-danger" data-toggle="tooltip" title="">
    <span class="fas fa-exclamation-triangle"></span>
        Important privacy warning
      </span>
          </a></li>
</ul>
