<h1 id="encrypt" class="anchor"><a href="#encrypt"><i class="fas fa-link anchor-icon"></i></a> File Encryption Software</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently not using encryption software for your hard disk, emails or file archives, you should pick an encryption software here.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="VeraCrypt - Disk Encryption"
  image="assets/img/tools/VeraCrypt.png"
  url="https://veracrypt.fr/"
  footer="OS: Windows, macOS, Linux."
  description="VeraCrypt is a source-available freeware utility used for on-the-fly encryption. It can create a virtual encrypted disk within a file or encrypt a partition
  or the entire storage device with pre-boot authentication. VeraCrypt is a fork of the discontinued TrueCrypt project. It was initially released on June 22, 2013. According to its developers, security improvements have been implemented and issues
  raised by the initial TrueCrypt code audit have been addressed."
  %}

  {% include card.html color="primary"
  title="GNU Privacy Guard - Email Encryption"
  image="assets/img/tools/GnuPG.png"
  url="https://gpgtools.org/"
  footer="OS: Windows, macOS, Linux, Android, BSD."
  description="GnuPG is a GPL Licensed alternative to the PGP suite of cryptographic software. GnuPG is compliant with RFC 4880, which is the current IETF standards track specification
  of OpenPGP. Current versions of PGP (and Veridis' Filecrypt) are interoperable with GnuPG and other OpenPGP-compliant systems. GnuPG is a part of the Free Software Foundation's GNU software project, and has received major funding from the German
  government. <a href=\"https://gpgtools.org/\">GPGTools for macOS</a>."
  %}

  {% include card.html color="warning"
  title="PeaZip - File Archive Encryption"
  image="assets/img/tools/PeaZip.png"
  url="http://www.peazip.org/"
  footer="OS: Windows, Linux, BSD."
  description="PeaZip is a free and open-source file manager and file archiver made by Giorgio Tani. It supports its native PEA archive format (featuring compression, multi volume
  split and flexible authenticated encryption and integrity check schemes) and other mainstream formats, with special focus on handling open formats. It supports 181 file extensions (as of version 5.5.1).</p>
  <p><strong>macOS alternative:</strong> <a href=\"https://www.keka.io/\">Keka</a> is a free file archiver."
  %}

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://cryptomator.org/">Cryptomator</a> - Free client-side AES encryption for your cloud files. Open source software: No backdoors, no registration.</li>
  <li><a href="https://minilock.io/">miniLock</a> - Browser plugin for Google Chrome / Chromium to encrypt files using a secret passphrase. Easy to use. From the developer of Cryptocat.</li>
  <li><a href="https://www.aescrypt.com/">AES Crypt</a> - Using a powerful 256-bit encryption algorithm, AES Crypt can safely secure your most sensitive files. For Windows, macOS, Linux and Android.</li>
  <li><a href="https://diskcryptor.net/">DiskCryptor</a> - A full disk and partition encryption system for Windows including the ability to encrypt the partition and disk on which the OS is installed.</li>
  <li><a href="https://gitlab.com/cryptsetup/cryptsetup/">Linux Unified Key Setup (LUKS)</a> - A full disk encryption system for Linux using dm-crypt as the disk encryption backend. Included by default in Ubuntu. Available for Windows and Linux.
</ul>
