<h1 id="sync" class="anchor"><a href="#sync"><i class="fas fa-link anchor-icon"></i></a> {% t filesync.software %}</h1>

{%- capture filesync_sparkleshare_descr -%}{% t filesync.sparkleshare_descr %}{%- endcapture -%}
{%- capture filesync_syncthing_descr -%}{% t filesync.syncthing_descr %}{%- endcapture -%}

<div class="row mb-2">

  {% include card.html color="success"
  title="SparkleShare"
  image="/assets/img/tools/SparkleShare.png"
  url="https://sparkleshare.org/"
  footer="OS: Windows, macOS, Linux."
  description=filesync_sparkleshare_descr
  %}    

  {% include card.html color="primary"
  title="Syncthing"
  image="/assets/img/tools/Syncthing.png"
  url="https://syncthing.net/"
  footer="OS: Windows, macOS, Linux, Android, BSD, Solaris."
  description=filesync_syncthing_descr
  %}

</div>

<h3>{% t filesync.worth_mentioning %}</h3>

<ul>
  <li>
    <a href="https://git-annex.branchable.com/">git-annex</a> {% t filesync.gitannex_descr %}
  </li>
</ul>
