<h1 id="sync" class="anchor">
  <a href="#sync">
    <i class="fas fa-link anchor-icon"></i>
  </a>
  File Sync
</h1>

{%
  include cardv2.html
  title="Syncthing"
  image="/assets/img/svg/3rd-party/syncthing.svg"
  description="<strong>Syncthing</strong> replaces proprietary sync and cloud services with something open, trustworthy and decentralized. Your data is your data alone and you deserve to choose where it is stored, if it is shared with some third-party, and how it is transmitted over the Internet."
  website="https://syncthing.net/"
  forum="https://forum.privacytools.io/t/discussion-syncthing/1627/2"
  github="https://github.com/syncthing?type=source"
  windows="https://github.com/syncthing/syncthing-gtk/releases/latest"
  linux="https://github.com/syncthing/syncthing-gtk/releases/latest"
  mac="https://github.com/syncthing/syncthing-macos/releases/latest"
  fdroid="https://f-droid.org/packages/com.github.catfriend1.syncthingandroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.github.catfriend1.syncthingandroid"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li>
    <a href="https://git-annex.branchable.com/">git-annex</a> - Allows managing files with git, without checking the file contents into git. While that may seem paradoxical, it is useful when dealing with files larger than git can currently easily handle, whether due to limitations in memory, time, or disk space.
  </li>
</ul>
