<footer>

  <div class="page-header">
    <h4>No Ads, No Google Analytics, No Affiliates, No Cross-Site Requests</h4>
  </div>

  <div class="row mt-3">
    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center d-flex justify-content-center">
      <a href="http://www.wtfpl.net/" data-toggle="tooltip" data-placement="top" data-original-title="This work is free. You can redistribute it and/or modify it under the terms of the ''Do What The Fuck You Want To Public License'', Version 2, as published by Sam Hocevar."><img alt="WTFPL" src="assets/img/layout/wtfpl.png">WTFPL</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <a href="https://www.kopimi.com/" data-toggle="tooltip" data-placement="top" data-original-title="kopimi (copyme), symbol showing that you want to be copied. use kopimi in your own fancy. kopimi may be put on homepages or blogs, in books, in software, as sound logos in music or whatever."><img alt="kopimi" src="assets/img/layout/kopimi.png">kopimi</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <a href="donate.html" data-toggle="tooltip" data-placement="top" data-original-title="Please support this project by donating Bitcoins. We are ad free and not affiliated with any providers. Your donation will cover our cost for server and domain."><img alt="Bitcoin" src="assets/img/layout/Bitcoin.png">Donate BTC</a>
    </div>
    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="fab fa-paypal fa-2x"></i>
      <a data-toggle="tooltip" data-placement="top" data-original-title="You can also donate using Paypal." href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5G9CBU8P6F4K2">PayPal</a>
    </div>
  </div>

  <p><em>privacytools.io is a socially motivated website that provides information for protecting your data security and privacy. never trust any company with your privacy, always encrypt.</em></p>

</footer>
