<h1 id="hardware-wallets" class="anchor"><a href="#hardware-wallets"><i class="fas fa-link anchor-icon"></i></a> Hardware Wallets</h1>

{% include cardv2.html
title="Trezor One"
image="/assets/img/png/3rd-party/trezor-one.png"
description='A fully open-source cryptocurrency wallet with support for over 1,000 coins/tokens. Trezor also has password manager functionality, supports GPG and SSH key storage functionality, and can act as a U2F key, making it a great backup for your U2F key (or vice versa).'
website="https://trezor.io/"
github="https://github.com/trezor"
%}

{% include cardv2.html
title="Trezor Model T"
badges="info:Upgrade Pick"
image="/assets/img/png/3rd-party/trezor-model-t.png"
description='The Trezor Model T supports all the same functionality as the Trezor One, as well as FIDO2 authentication support, a wider variety of coins/tokens, and a full color touchscreen for easier use.'
website="https://trezor.io/"
github="https://github.com/trezor"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://www.ledger.com/">Ledger Nano X</a> - A great pick if you are an iOS user, or if the Trezor One does not support the coins/tokens you use. It does have some closed-source components, and it is not as intuitive to use as Trezor's devices.</li>
</ul>
