<h1 id="hardware" class="anchor"><a href="#hardware"><i class="fas fa-link anchor-icon"></i></a> Hardware</h1>
<div class="row mb-2">

     {% include card.html color="success"
    title="Technoethical"
    image="/assets/img/tools/technoethical.png"
    url="https://tehnoetic.com/"
    description="Technoethical only sells grade A, high quality devices compatbile with fully free operating systems. All of their laptops come pre-installed with a completely libre BIOS (Libreboot)."
    %}

     {% include card.html color="primary"
    title="ThinkPenguin.com"
    labels="warning:warning:ThinkPenguin.com may sell hardware with non-free software such as firmware. We recommend finding products with open-source certifications."
    image="/assets/img/tools/thinkpenguin.png"
    url="https://www.thinkpenguin.com/"
    description="ThinkPenguin.com sells hardware with zero non-free drivers."
    %}

     {% include card.html color="warning"
    title="Purism"
    labels="warning:warning (<a href='puri.sm/learn/freedom-roadmap/'>more info</a>):Purism laptops and tablets still contain some non-free components."
    image="/assets/img/tools/purism.png"
    url="https://puri.sm/"
    description="Purism sells high-end hardware with kill switches and a de-blobbed ME."
    %}

 </div>

 <a>
<b>Caution:</b> These companies may sell hardware with non-free software such as firmware. We recommend looking for products with open-source certifications like <a href="https://certification.oshwa.org/">OSHWA</a>, <a href="https://ryf.fsf.org/">RYF</a>, or <a href="https://opensource.org/pressreleases/certified-open-source.php">OSI Certified</a>.

 </a>

 <h3>Worth Mentioning</h3>


 <ul>
    <li><a href="https://minifree.org/">Ministry of Freedom</a> - Free software laptops and routers.</li>
    <li><a href="https://vikings.net/">Vikings Hardware</a> - Privacy-respecting servers and workstations</li>
    <li><a href="http://www.zerocat.org/">Zerocat</a>  <span class="badge badge-warning" data-toggle="tooltip" title="Zerocat may sell hardware with non-free software such as firmware. We recommend looking for products with open-source certifications like OSHWA, RYF, or OSI Certified">warning <i class="far fa-question-circle"></i></span> - Free'd hardware tools and DIY-Projects. Note: Their laptops may include non free software.</li>
</ul>
