<div class="jumbotron p-5">
  <h1 class="display-4"><a href="https://www.privacytools.io/" title="privacytools.io"><img src="/assets/img/layout/logo.png" width="600" height="88" class="img-fluid" alt="privacytools.io"></a></h1>
  <p class="lead">You are being watched. Private and state-sponsored organizations are monitoring and recording your online activities. privacytools.io provides knowledge and tools to protect your privacy against global mass surveillance.</p>
</div>

<form method="POST" action="https://search.privacytools.io/" id="search_form" role="search">
<div class="input-group col-md-6 col-md-offset-2">
<input type="search" name="q" class="form-control input-lg" id="q" placeholder="Privacy-Respecting Search Engine" autocomplete="off" value="">
<span class="input-group-btn">
<button type="submit" class="btn btn-default input-lg"><span class="hide_if_nojs"><i class="fas fa-search"></i> </span><span class="hidden active_if_nojs">start search</span></button>
</span>
</div>
</form>

<br/>

<p>
<a data-toggle="tooltip" data-placement="bottom" data-original-title="Translations of privacytools.io were done by volunteers. They might be not up to date.">Language:</a>

<span class="flag-icon flag-icon-tw" style="margin-left:5px;"></span> <a href="https://privacytools.twngo.xyz/">繁體中文</a>

<span class="flag-icon flag-icon-es" style="margin-left:5px;"></span> <a href="https://victorhck.gitlab.io/privacytools-es/">Español</a>

<span class="flag-icon flag-icon-de" style="margin-left:5px;"></span> <a href="https://privacytools.it-sec.rocks/">Deutsch</a>

<span class="flag-icon flag-icon-it" style="margin-left:5px;"></span> <a href="https://privacytools-it.github.io/">Italiano</a>

<span class="flag-icon flag-icon-ru" style="margin-left:5px;"></span> <a href="https://privacytools.ru">Русский</a>

<span class="flag-icon flag-icon-fr" style="margin-left:5px;"></span> <a href="https://privacytools.dreads-unlock.fr">Français</a>
</p>