<h1 id="host" class="anchor"><a href="#host"><i class="fas fa-link anchor-icon"></i></a> Secure Hosting Provider</h1>

{% include cardv2.html
  title="Data Center: Bahnhof"
  image="/assets/img/svg/3rd-party/bahnhof.svg"
  image-dark="/assets/img/svg/3rd-party/bahnhof-dark.svg"
  description="Bahnhof is one of Sweden’s largest network operators, founded in 1994. They specialize in innovative data center construction: Extreme security coupled with low-cost green energy has made them world famous."
  website="https://www.bahnhof.net/"
  privacy-policy="https://bahnhof.se/filestorage/userfiles/file/PrivacyPolicy_Bahnhof.pdf"
  forum="https://forum.privacytools.io/t/discussion-bahnhof-net/341"
%}

{% include cardv2.html
  title="VPS & Domain: Njalla"
  image="/assets/img/svg/3rd-party/njalla.svg"
  image-dark="/assets/img/svg/3rd-party/njalla-dark.svg"
  description="Njalla is a privacy-aware domain registration service and VPS provider based in Nevis (with VPS data centers in Sweden). It is created by people from The Pirate Bay and IPredator VPN. Accepted payments: Bitcoin, Litecoin, Monero, Zcash, DASH, Bitcoin Cash and PayPal."
  website="https://njal.la/"
  labels="color==warning::link==https://github.com/privacytools/privacytools.io/issues/1920::text==Warning::tooltip==Njalla blocks port 25 traffic."
  tor="http://njalladnspotetti.onion"
  forum="https://forum.privacytools.io/t/discussion-njalla/339"
%}

