<h1 id="host" class="anchor"><a href="#host"><i class="fas fa-link anchor-icon"></i></a> Secure Hosting Provider</h1>

<div class="row mb-2">
  {% include card.html color="success"
  title="BAHNHOF"
  image="/assets/img/provider/bahnhof.png"
  url="https://www.bahnhof.net/"
  description="BAHNHOF is a widely known 'bullet-proof' hosting company utilized by Wikileaks."
  %}
  {% include card.html color="primary"
  title="Colocation: DataCell"
  image="/assets/img/provider/datacell.png"
  url="https://datacell.is/"
  description="DataCell is a data center providing secure colocating in Switzerland and Iceland."
  %}

  {% include card.html color="warning"
  title="VPS/Web Hosting: Orange Website"
  image="/assets/img/provider/orange_hosting.png"
  url="https://www.orangewebsite.com/"
  description="Orange Website is an Icelandic web hosting provider that prides themselves in protecting online privacy and free speech."
  %}
</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://njal.la/">Njalla</a> - Privacy-aware domain and VPS service in Sweden.</li>
</ul>