<h1 id="im" class="anchor"><a href="#im"><i class="fas fa-link anchor-icon"></i></a> {% t instant_messenger.anchor %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t instant_messenger.warning %}</strong>
</div>

{%- capture instant_messenger_signal_descr -%}{% t instant_messenger.signal_descr %}{%- endcapture -%}
{%- capture instant_messenger_wire_descr -%}{% t instant_messenger.wire_descr %}{%- endcapture -%}
{%- capture instant_messenger_wire_warning -%}warning:{% t instant_messenger.wire_warning %}|success:{% t global.voip %}{%- endcapture -%}

{% include cardv2.html
title="Signal"
image="/assets/img/tools/Signal.png"
description=instant_messenger_signal_descr
labels="success:VoIP"
website="https://signal.org/"
forum="https://forum.privacytools.io/t/discussion-signal/664"
github="https://github.com/signalapp"
android=""
ios=""
%}


{% include cardv2.html
title="Wire"
image="/assets/img/tools/wire.png"
description=instant_messenger_wire_descr
labels=instant_messenger_wire_warning
website="https://wire.com/"
forum="https://forum.privacytools.io/t/discussion-wire/750"
github="https://github.com/wireapp/"
android=""
ios=""
mac=""
windows=""
linux=""
web=""
%}

<h3>{% t instant_messenger.compare %}</h3>
<ul>
	<li><a href="https://securechatguide.org/effguide.html">securechatguide.org</a>{% t instant_messenger.compare_descr1 %}</li>
	<li><a href="https://www.securemessagingapps.com/">securemessagingapps.com</a>{% t instant_messenger.compare_descr2 %}</li>
  <li><a href="https://www.thinkprivacy.io/messengers.html">thinkprivacy.io</a>{% t instant_messenger.compare_descr3 %}</li>
</ul>


<h3>{% t instant_messenger.worth_mentioning %}</h3>

<ul>
  <li><a href="https://briarproject.org/">Briar</a>{% t instant_messenger.briar %}</li>
  <li><a href="https://retroshare.cc/">RetroShare</a>{% t instant_messenger.retroshare %}</li>
  <li><a href="https://xmpp.org/">XMPP</a>{% t instant_messenger.xmpp %}</li>
  <ul>
    <li><a href="https://conversations.im/">Conversations</a> (Android){% t instant_messenger.conversations %}<span class="badge badge-success">OMEMO</span></li>
    <li><a href="https://gajim.org/">Gajim</a> (FreeBSD, Linux, Windows){% t instant_messenger.gajim %}<span class="badge badge-success">OMEMO</span></li>
    <li><a href="https://monal.im/">Monal</a> (iOS, MacOS){% t instant_messenger.monal %}<span class="badge badge-success">OMEMO</span> <span class="badge badge-success">VoIP</span></li>
    <li><a href="https://omemo.top/">{% t instant_messenger.other_omemo %}</a>.</li>
  </ul>
  <li><a href="https://www.kontalk.org/">Kontalk</a>{% t instant_messenger.kontalk %}</li>
  <li><a href="https://keybase.io/">Keybase</a> - <span class="badge badge-warning" data-toggle="tooltip" title="{% t instant_messenger.keybase_tooltip %}">{% t global.warning %}</span>{% t instant_messenger.keybase %}</li>
  <li><a href="https://status.im/">Status</a> - <span class="badge badge-warning">{% t global.experimental %}</span>{% t instant_messenger.status %}</li>
  <li> <a href="https://tox.chat/">Tox</a> - <span class="badge badge-warning">{% t global.experimental %}</span>{% t instant_messenger.tox %}<span class="badge badge-success">{% t global.voip %}</span></li>
  <li><a href="https://jami.net/">Jami ({% t instant_messenger.formerly %} Ring/SFLphone)</a>{% t instant_messenger.jami %}<span class="badge badge-success">{% t global.voip %}</span></li>
</ul>


<h3>{% t instant_messenger.related %}</h3>

<ul>
  <li><a href="https://firstlook.org/theintercept/2015/07/14/communicating-secret-watched/">{% t instant_messenger.related_firstlook %}</a></li>
  <li><a href="https://signal.org/android/apk/">{% t instant_messenger.related_signal %}</a></li>
  <li>{% t instant_messenger.audits %}</li>
  <ul>
    <li><a href="https://eprint.iacr.org/2016/1013.pdf">{% t instant_messenger.audits_eprint %}</li>
    <li><a href="https://wire.com/en/security/#audits">{% t instant_messenger.audits_wire %}</li>
    <li><a href="https://keybase.io/docs-assets/blog/NCC_Group_Keybase_KB2018_Public_Report_2019-02-27_v1.3.pdf">{% t instant_messenger.audits_keybase %}</li>
  </ul>
</ul>

