<h1 id="iaddons" class="anchor"><a href="#iaddons"><i class="fas fa-link anchor-icon"></i></a> iOS Privacy Add-ons</h1>

<div class="container-fluid">

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/passepartout.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="Passepartout">
    </div>
    <div class="col">
    <h3>Use a VPN with <a href="https://passepartoutvpn.app">Passepartout</a></h3>
    <p><strong>Passepartout</strong> is a free, <a href="https://github.com/passepartoutvpn">open-source</a>, and user friendly OpenVPN app with presets for multiple providers (including Mullvad and ProtonVPN, two <a href="https://www.privacytools.io/providers/vpn/#vpn">PrivacyTools recommended providers</a>) and easy configurability.</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5">
      <img src="/assets/img/png/3rd-party/adguard.png" height="70" width="70" class="img-fluid d-block mr-auto ml-auto align-middle" alt="AdGuard">
    </div>
    <div class="col">
    <h3>Block content in Safari with <a href="https://adguard.com/en/adguard-ios/overview.html">AdGuard for iOS</a></h3>
    <p><strong>AdGuard for iOS</strong> is a free (and <a href="https://github.com/AdguardTeam/AdguardForiOS">open-source</a>) content-blocking app that allows you to set filters within Safari. As required by iOS, it uses the native <a href="https://developer.apple.com/documentation/safariservices/creating_a_content_blocker">Content Blocker API</a> for even greater privacy.</p>
    </div>
  </div>

<h2>See also</h2>

<ul>
  <li>
    <a href="/providers/dns#dns-ios-clients">Our DNS client recommendations</a>, which have information on enabling encrypted DNS on iOS.
  </li>
</ul>
