<h1 id="key-manager" class="anchor"><a href="#key-manager"><i class="fas fa-link anchor-icon"></i></a> Key Managers</h1>
<div class="row mb-2">

     {% include card.html color="success"
    title="NitroKey"
    labels="warning:warning (<a href='https://github.com/Nitrokey/nitrokey-pro-firmware/issues/48'>more info</a>):Hardware may still contain some non-free components"
    image="/assets/img/tools/nitrokey.png"
    url="https://www.nitrokey.com/"
    description="USB key management devices focusing on security.."
    %}

 </div>
