<h1 id="laptops" class="anchor"><a href="#laptops"><i class="fas fa-link anchor-icon"></i></a> Laptops</h1>
<div class="row mb-2">

     {% include card.html color="success"
    title="Technoethical"
    image="/assets/img/tools/technoethical.png"
    url="https://tehnoetic.com/"
    description="Technoethical only sells grade A, high quality devices compatbile with fully free operating systems. All of their laptops come pre-installed with a completely libre BIOS (Libreboot)."
    %}

     {% include card.html color="primary"
    title="Minifree"
    image="/assets/img/tools/minifree"
    url="https://minifree.org/"
    description="Minifree sells hardware with zero non-free drivers. All of there laptops come pre-installed with LibreBoot."
    %}

     {% include card.html color="warning"
    title="Purism"
    labels="warning:warning (<a href='puri.sm/learn/freedom-roadmap/'>more info</a>):Purism laptops and tablets still contain some non-free components."
    image="/assets/img/tools/purism.png"
    url="https://puri.sm/"
    description="Purism sells high-end hardware with kill switches and a de-blobbed ME. Due to non-free/proprietary dependencies they are not recommended sensitive information."
    %}

 </div>

 <a>
<b>Caution:</b> These companies may sell hardware with non-free software such as firmware. We recommend looking for products with free software certifications like <a href="https://certification.oshwa.org/">OSHWA</a>, <a href="https://ryf.fsf.org/">RYF</a>, or <a href="https://opensource.org/pressreleases/certified-open-source.php">OSI Certified</a>.

 </a>

 <h3>Worth Mentioning</h3>


 <ul>
    <li><a href="https://vikings.net/">Vikings Hardware</a> - Privacy-respecting servers and workstations</li>
</ul>
