<h1 id="laptops" class="anchor"><a href="#laptops"><i class="fas fa-link anchor-icon"></i></a> Laptops</h1>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5 text-center">
      <img
        src="/assets/img/png/3rd-party/thinkpad-x230.png"
        data-theme-src="/assets/img/png/3rd-party/thinkpad-x230.png"
        height="200"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Lenovo ThinkPad X230">
        <a class="btn btn-primary mt-4" href="https://insurgo.ca/produit/qubesos-certified-privacybeast_x230-reasonably-secured-laptop/" role="button"><i class="fas fa-external-link-alt fa-fw"></i> Website</a>
    </div>
    <div class="col">
    <h2>Insurgo PrivacyBeast X230</h2>
    <p>This is a modified highest-end <strong>Lenovo ThinkPad X230</strong> with QubesOS preinstalled, deactivated Intel ME, and open source firmware.</p>

    <h5><span class="badge badge-success">Security Features</span></h5>
    <p>This laptop has a number of added security features:</p>
    <ul>
      <li>Intel ME has been completely deactivated.</li>
      <li>The proprietary boot firmware has been replaced with <a href="https://github.com/osresearch/heads">Heads</a>, a "configuration for laptops and servers that tries to bring more security to commodity hardware" through the use of free software.</li>
      <li>The boot and firmware integrity is "sealed" with an included NitroKey Pro v2, allowing you to visually validate that nothing has been modified in transit or at boot.</li>
    </ul>
    <p>Upon receiving the device and ensuring everything is configured securely, you will be asked to re-do the installation procedure yourself with keys that only you control.</p>

    <h5><span class="badge badge-success">Qubes Certified Hardware</span></h5>
    <p>The Insurgo PrivacyBeast X230 has <a href="https://www.qubes-os.org/news/2019/07/18/insurgo-privacybeast-qubes-certification/">passed</a> Qubes 4.0 Hardware Certification. It not only met all the requirements defined by the Qubes team, but exceeded them thanks to its additional security functionality.</p>
    </div>
  </div>
</div>
