<h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> {% t live_os.live_cd %}</h1>

{%- capture live_os_tails_labels -%}warning:contrib:{% t global.contrib %}{%- endcapture -%}
{%- capture live_os_tails_descr -%}{% t live_os.tails_descr %}{%- endcapture -%}
{%- capture live_os_knoppix_labels -%}warning:contrib:{% t global.contrib %}{%- endcapture -%}
{%- capture live_os_knoppix_descr -%}{% t live_os.knoppix_descr %}{%- endcapture -%}
{%- capture live_os_puppy_linux_labels -%}warning:contrib:{% t global.contrib %}{%- endcapture -%}
{%- capture live_os_puppy_linux_descr -%}{% t live_os.puppy_linux_descr %}{%- endcapture -%}

{% include cardv2.html
title="Tails"
image="/assets/img/tools/Tails.png"
description=live_os_tails_descr
badges="info:GNU/Linux"
labels=live_os_tails_labels
website="https://tails.boum.org/"
git="https://git-tails.immerda.ch/tails/"
%}

{% include cardv2.html
title="KNOPPIX"
image="/assets/img/tools/KNOPPIX.png"
description=live_os_knoppix_descr
badges="info:GNU/Linux"
labels=live_os_knoppix_labels
website="https://www.knopper.net/knoppix/index-en.html"
source="https://www.knopper.net/knoppix-info/index-en.html#license"
%}

{% include cardv2.html
title="Puppy Linux"
image="/assets/img/tools/Puppy-Linux.png"
description=live_os_puppy_linux_descr
badges="info:GNU/Linux"
labels=live_os_puppy_linux_labels
website="http://puppylinux.org/"
source="http://distro.ibiblio.org/puppylinux/"
%}

<h3>{% t live_os.worth_mentioning %}</h3>

<ul>
  <li><a href="https://distro.ibiblio.org/tinycorelinux/">{% t live_os.tiny_core_linux %}</a> <span class="badge badge-info">GNU/Linux</span> <span class="badge badge-warning" data-toggle="tooltip" title="{% t global.contrib %}">contrib <i class="far fa-question-circle"></i></span> - {% t live_os.tiny_core_linux_descr %}</li>
</ul>
