<h1 id="live_os" class="anchor"><a href="#live_os"><i class="fas fa-link anchor-icon"></i></a> Live CD Operating Systems</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="Tails"
  image="assets/img/tools/Tails.png"
  url="https://tails.boum.org/"
  description="Tails is a live operating system, that starts on almost any computer from a DVD, USB stick, or SD card. It aims at preserving privacy and anonymity, and helps to: Use the Internet anonymously and circumvent censorship; Internet connections go through the Tor network; leave no trace on the computer; use state-of-the-art cryptographic tools to encrypt files, emails and instant messaging."
  %}

  {% include card.html color="primary"
  title="KNOPPIX"
  image="assets/img/tools/KNOPPIX.png"
  url="https://www.knopper.net/knoppix/"
  website="knopper.net"
  description="Knoppix is an operating system based on Debian designed to be run directly from a CD / DVD (Live CD) or a USB flash drive (Live USB), one of the first of its kind for any operating system. When starting a program, it is loaded from the removable medium and decompressed into a RAM drive. The decompression is transparent and on-the-fly."
  %}

  {% include card.html color="warning"
  title="Puppy Linux"
  image="assets/img/tools/Puppy-Linux.png"
  url="http://puppylinux.org/"
  description="Puppy Linux operating system is a lightweight Linux distribution that focuses on ease of use and minimal memory footprint. The entire system can be run from RAM with current versions generally taking up about 210 MB, allowing the boot medium to be removed after the operating system has started."
  %}

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://distro.ibiblio.org/tinycorelinux/">Tiny Core Linux</a> - A minimal Linux operating system focusing on providing a base system using BusyBox and FLTK. The distribution is notable for its size (15 MB) and minimalism, with additional functionality
    provided by extensions.</li>
</ul>
