<h1 id="laptops" class="anchor"><a href="#laptops"><i class="fas fa-link anchor-icon"></i></a> Mobile</h1>
<div class="row mb-2">

<div class="alert alert-warning" role="alert">
  <strong>Note: The utilization of a smartphone is not recommended due to lack of proper privacy-repsecting hardware.</strong>
</div>

     {% include card.html color="success"
    title="Technoethical"
    image="/assets/img/tools/technoethical.png"
    url="https://tehnoetic.com/"
    description="Technoethical only sells grade A, high quality devices compatbile with fully free operating systems. Their smartphones do stil contain some non-free software."
    %}

 </div>

 <h3>Optimistic Upcoming Projects</h3>

 <ul>
    <li><a href="https://puri.sm/products/librem-5/">Librem5</a> - Smartphone by Purism that runs a completely free'd OS (PureOS).</li>
    <li><a href="http://rhombus-tech.net/community_ideas/hybrid_phone/">EOMA68 Hybrid Phone</a> - A potentially free'd smartphone using the RISC-V architecture.</li>
</ul>
