<h1 id="mobile_os" class="anchor"><a href="#mobile_os"><i class="fas fa-link anchor-icon"></i></a> {% t Mobile Operating Systems %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t Even though the source code of the following OS is provided, installing Google Apps may compromise your setup. %}</strong>
</div>

{% include cardv2.html
title="GrapheneOS"
image="/assets/img/tools/GrapheneOS.png"
image-dark="/assets/img/tools/GrapheneOS-dark.png"
description='GrapheneOS (formerly known as CopperheadOS) is a free and open-source security- and privacy-focused mobile operating system built on top of the Android Open Source Project. It currently specifically targets devices offering strong hardware security.'
badges="info:AOSP"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://grapheneos.org/"
github="https://github.com/GrapheneOS/"
%}

{% include cardv2.html
title="LineageOS"
image="/assets/img/tools/LineageOS.png"
description='LineageOS is a free and open-source operating system for smartphones and tablets, based on the official releases of the Android Open Source Project. It is the continuation of the CyanogenMod project.'
badges="info:AOSP"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://www.lineageos.org/"
github="https://github.com/LineageOS"
%}

{% include cardv2.html
title="Ubuntu Touch"
image="/assets/img/tools/Ubuntu-Touch.png"
description="Ubuntu Touch is a free and open-source operating system for smartphones and tablets. It's an alternative to the current popular mobile operating systems on the market. Only a few devices are <a href=https://devices.ubuntu-touch.io/>supported.</a>"
badges="info:GNU/Linux"
labels="warning:contrib:This software may depend on or recommend non-free software."
website="https://ubuntu-touch.io/"
github="https://github.com/ubports"
%}

<h3>{% t Worth Mentioning %}</h3>

<ul>
  <li><a href="{% t https://www.replicant.us/ %}">{% t Replicant %}</a> <span class="badge badge-info">{% t AOSP %}</span> - {% t An open-source operating system based on Android, aiming to replace all proprietary components with free software. %}</li>
  <li><a href="{% t https://www.omnirom.org/ %}">{% t OmniROM %}</a> <span class="badge badge-info">{% t AOSP %}</span> <span class="badge badge-warning" data-toggle="tooltip" title="{% t This software may depend on or recommend non-free software. %}">{% t contrib %} <i class="far fa-question-circle"></i></span> - {% t A free-software operating system for smartphones and tablet computers, based on the Android mobile platform. %}</li>
  <li><a href="{% t https://microg.org/ %}">{% t MicroG %}</a> <span class="badge badge-info">{% t Add-on Package %}</span> <span class="badge badge-warning" data-toggle="tooltip" title="{% t This software may depend on or recommend non-free software. %}">contrib <i class="far fa-question-circle"></i></span> - {% t A project that aims to reimplement the proprietary Google Play Services in the Android operating system with a FLOSS replacement. The microG project also maintains a fork of LineageOS with microG and F-Droid preinstalled at <a href="https://lineage.microg.org/">Lineage for microG</a>. %}</li>
</ul>
