<h1 id="notebook" class="anchor"><a href="#notebook"><i class="fas fa-link anchor-icon"></i></a> Digital Notebook</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using an application like Evernote, Google Keep, or Microsoft OneNote, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
  title="Joplin"
  image="/assets/img/svg/3rd-party/joplin.svg"
  description="Joplin is a free, open-source, and fully-featured note-taking and to-do application which can handle a large number of markdown notes organized into notebooks and tags. It offers end-to-end encryption and can sync through Nextcloud, Dropbox, and more. It also offers easy import from Evernote and plain-text notes."
  website="https://joplinapp.org/"
  privacy-policy="https://joplinapp.org/privacy/"
  github="https://github.com/laurent22/joplin"
  windows="https://joplinapp.org/#desktop-applications"
  mac="https://joplinapp.org/#desktop-applications"
  linux="https://joplinapp.org/#desktop-applications"
  freebsd="https://www.npmjs.com/package/joplin"
  googleplay="https://play.google.com/store/apps/details?id=net.cozic.joplin"
  android="https://joplinapp.org/#mobile-applications"
  ios="https://itunes.apple.com/us/app/joplin/id1315599797"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/joplin-web-clipper/"
  chrome="https://chrome.google.com/webstore/detail/joplin-web-clipper/alofnhikmmkdbbbgpnglcpdollgjjfek"
%}

{% include cardv2.html
  title="Standard Notes"
  image="/assets/img/svg/3rd-party/standard_notes.svg"
  description='Standard Notes is a simple and private notes app that makes your notes easy and available everywhere you are. It features end-to-end encryption on every platform, and a powerful desktop experience with themes and custom editors. It has also been <a href="https://s3.amazonaws.com/standard-notes/security/Report-SN-Audit.pdf">independently audited (PDF)</a>.'
  website="https://standardnotes.org/"
  privacy-policy="https://standardnotes.org/privacy"
  github="https://github.com/standardnotes"
  windows="https://standardnotes.org/#get-started"
  mac="https://standardnotes.org/#get-started"
  linux="https://standardnotes.org/#get-started"
  ios="https://itunes.apple.com/us/app/standard-notes/id1285392450"
  fdroid="https://f-droid.org/packages/com.standardnotes/"
  googleplay="https://play.google.com/store/apps/details?id=com.standardnotes"
  web="https://app.standardnotes.org/"
%}

{% include cardv2.html
  title="Turtl"
  image="/assets/img/svg/3rd-party/turtl.svg"
  description="Turtl lets you take notes, bookmark websites, and store documents for sensitive projects. From sharing passwords with your coworkers to tracking research on an article you're writing, Turtl keeps it all safe from everyone but you and those you share with."
  website="https://turtlapp.com/"
  privacy-policy="https://turtlapp.com/privacy/"
  github="https://github.com/turtl"
  windows="https://turtlapp.com/download/"
  mac="https://turtlapp.com/download/"
  linux="https://turtlapp.com/download/"
  googleplay="https://play.google.com/store/apps/details?id=com.lyonbros.turtl"
  android="https://turtlapp.com/download/"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/turtl-bookmarking/"
  chrome="https://chrome.google.com/webstore/detail/turtl/dgcojenhfdjhieoglmiaheihjadlpcml"
%}

<h3>Warning</h3>

<ul>
  <li>Note: As of Dec 2018, Joplin does not support password/pin protection for the application itself or individual notes/notebooks. Data is still encrypted in transit and at sync location using your master key. See <a href='https://github.com/laurent22/joplin/issues/289'>open issue</a>.</li>
</ul>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://www.etesync.com/">EteSync</a> - Secure, end-to-end encrypted, and privacy respecting sync for your contacts, calendars, tasks and notes.</li>
  <li><a href="https://paperwork.cloud/">Paperwork</a> - An open-source and self-hosted solution. For PHP / MySQL servers.</li>
  <li><a href="https://orgmode.org">Org-mode</a> - A major mode for GNU Emacs. Org-mode is for keeping notes, maintaining TODO lists, planning projects, and authoring documents with a fast and effective plain-text system. </li>
</ul>
