<h1 id="os" class="anchor"><a href="#os"><i class="fas fa-link anchor-icon"></i></a> PC Operating Systems</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a operating system like Microsoft Windows or Apple macOS, you should pick an alternative here.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Qubes OS"
  image="assets/img/tools/Qubes-OS.png"
  url="https://www.qubes-os.org/"
  tor="http://qubesos4rrrrz6n4.onion"
  description="Qubes is an open-source operating system designed to provide strong security for desktop computing. Qubes is based on Xen, the X Window System, and Linux, and can run most Linux applications and utilize most of the Linux drivers."
  %}

  {% include card.html color="primary"
  title="Debian"
  image="assets/img/tools/Debian.png"
  url="https://www.debian.org/"
  tor="http://sejnfjrq6szgca7v.onion"
  description="Debian is a Unix-like computer operating system and a Linux distribution that is composed entirely of free and open-source software, most of which is under the GNU General Public License, and packaged by a group of individuals known as the Debian project."
  %}

  {% include card.html color="warning"
  title="Trisquel"
  image="assets/img/tools/Trisquel.png"
  url="https://trisquel.info/"
  description="Trisquel is a Linux-based operating system derived from Ubuntu. The project aims for a fully free software system without proprietary software or firmware and uses Linux-libre, a version of the Linux kernel with the non-free code (binary blobs) removed."
  %}

</div>

<h3>Warning</h3>

<ul>
  <li><a href="#win10"><i class="fas fa-link"></i> Don't use Windows 10 - It's a privacy nightmare</a></li>
</ul>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://www.openbsd.org/">OpenBSD</a> - A project that produces a free, multi-platform 4.4BSD-based UNIX-like operating system. Emphasizes portability, standardization, correctness, proactive security and integrated cryptography.</li>
  <li><a href="https://www.archlinux.org/">Arch Linux</a> - A simple, lightweight Linux distribution. It is composed predominantly of free and open-source software, and supports community involvement. <a href="https://www.parabola.nu/">Parabola</a> is a
    completely open source version of Arch Linux.</li>
  <li><a href="https://www.whonix.org/">Whonix</a> - A Debian GNU/Linux based security-focused Linux distribution. It aims to provide privacy, security and anonymity on the internet. The operating system consists of two virtual machines, a "Workstation"
    and a Tor "Gateway". All communication are forced through the Tor network to accomplish this.</li>
  <li><a href="https://subgraph.com/">Subgraph OS</a> - Another Debian based Linux distribution, it features security hardening which makes it more resistant to security vulnerabilities. Subgraph runs many desktop applications in a security sandbox to limit their risk in case of compromise.
    By default, it anonymizes Internet traffic by sending it through the Tor network. Note: It is still in alpha, and much testing and bug fixing still has to be done.</li>
</ul>
