<h1 id="os" class="anchor"><a href="#os"><i class="fas fa-link anchor-icon"></i></a> Introductory Operating Systems</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using an operating system that collects data like Windows 10, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
  title="Fedora Workstation"
  image="/assets/img/svg/3rd-party/fedora.svg"
  description='Fedora is a Linux distribution developed by the Fedora Project and sponsored by Red Hat. Fedora Workstation is a secure, reliable, and user-friendly edition developed for desktops and laptops. Fedora by default comes with the GNOME desktop environment, other <a href="https://spins.fedoraproject.org/">desktop environments</a> are also available.'
  badges="info:Linux"
  website="https://getfedora.org/"
  privacy-policy="https://fedoraproject.org/wiki/Legal:PrivacyPolicy?rd=Legal/PrivacyPolicy"
  git="https://src.fedoraproject.org/"
%}

{% include cardv2.html
  title="Ubuntu"
  image="/assets/img/svg/3rd-party/ubuntu.svg"
  description='Ubuntu is a Linux distribution developed by Canonical Ltd. Ubuntu is a reliable and distribution that is user-friendly and can be run on desktops, servers, and IoT devices. Ubuntu uses GNOME as the default desktop environment, while other <a href="https://ubuntu.com/download/flavours">desktop environments</a> are also available.'
  badges="info:Linux"
  website="https://ubuntu.com"
  privacy-policy="https://ubuntu.com/legal/data-privacy"
  git="https://launchpad.net/ubuntu"
%}

<h1 id="advanced_os" class="anchor"><a href="#advanced_os"><i class="fas fa-link anchor-icon"></i></a> Advanced Operating Systems</h1>

<div class="alert alert-info" role="alert">
  <strong>These options have advanced features and are unique in some way. These options will likely require the user to read technical background documentation.</strong>
</div>

{% include cardv2.html
  title="Alpine Linux"
  image="/assets/img/svg/3rd-party/alpinelinux.svg"
  description='Alpine Linux is a very minimal distribution designed to be secure and very resource efficient. Alpine Linux can run from RAM, and merge configuration files into the system on boot using <a href="https://wiki.alpinelinux.org/wiki/Alpine_local_backup">Alpine local backup</a>. Alpine Linux is often used on servers and in Linux containers.'
  badges="info:Linux"
  website="https://alpinelinux.org/"
  privacy-policy="https://alpinelinux.org/privacy-policy.html"
  gitlab="https://gitlab.alpinelinux.org"
%}

{% include cardv2.html
  title="Arch Linux"
  image="/assets/img/svg/3rd-party/archlinux.svg"
  description='A simple, lightweight Linux distribution. It is composed predominantly of free and open-source software, and supports community involvement.'
  badges="info:Linux"
  labels="color==success::link==https://reproducible.archlinux.org::text==Reproducible builds"
  website="https://www.archlinux.org/"
  privacy-policy="https://wiki.archlinux.org/index.php/ArchWiki:Privacy_policy"
  gitlab="https://gitlab.archlinux.org"
%}

{% include cardv2.html
  title="Debian"
  image="/assets/img/svg/3rd-party/debian.svg"
  description='Debian is a Unix-like computer operating system and a Linux distribution that is composed entirely of free and open-source software, most of which is under the GNU General Public License, and packaged by a group of individuals known as the Debian project.'
  badges="info:Linux"
  labels="color==success::link==https://reproducible.debian.net::text==Reproducible builds"
  website="https://www.debian.org/"
  privacy-policy="https://www.debian.org/legal/privacy"
  tor="http://sejnfjrq6szgca7v.onion"
  gitlab="https://salsa.debian.org/qa/debsources"
%}

{% include cardv2.html
  title="NixOS"
  image="/assets/img/svg/3rd-party/nixos.svg"
  description='NixOS is a Linux distribution with a unique approach to package and configuration management. Built on top of the Nix package manager, it is completely declarative, makes upgrading systems reliable, and has many <a href="https://nixos.org/features.html">other advantages</a>.'
  badges="info:Linux"
  labels="color==success::link==https://r13y.com::text==Reproducible builds"
  website="https://nixos.org"
  privacy-policy="https://nixos.wiki/wiki/NixOS_Wiki:Privacy_policy"
  github="https://github.com/NixOS"
%}

{% include cardv2.html
  title="Qubes OS"
  image="/assets/img/svg/3rd-party/qubes_os.svg"
  description='Qubes is an open-source operating system designed to provide strong security for desktop computing. Qubes is based on Xen, the X Window System, and Linux, and can run most Linux applications and utilize most of the Linux drivers.'
  badges="info:Xen"
  website="https://www.qubes-os.org/"
  privacy-policy="https://www.qubes-os.org/privacy/"
  github="https://github.com/QubesOS"
  tor="http://qubesosfasa4zl44o4tws22di6kepyzfeqv3tg4e3ztknltfxqrymdad.onion/"
%}
