<h2 id="other_os" class="anchor"><a href="#other_os"><i class="fas fa-link anchor-icon"></i></a> Other Mobile Operating Systems</h1>

{% include cardv2.html
  title="Ubuntu Touch"
  image="/assets/img/svg/3rd-party/ubuntu.svg"
  description="Ubuntu Touch is a free and open-source operating system for smartphones and tablets. It's an alternative to the current popular mobile operating systems on the market. Only a few devices are <a href=https://devices.ubuntu-touch.io/>supported.</a>"
  badges="info:Linux"
  website="https://ubuntu-touch.io/"
  privacy-policy="https://ubports.com/privacy"
  github="https://github.com/ubports"
%}
