<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> Email Clients</h1>

{% include cardv2.html
title="XD Client"
image="/assets/img/tools/xd.png"
description="XD is a bitorrent client with a focus on anonymity. All data is transmited over the i2p protocol."
website="https://xd-torrent.github.io/"
forum=""
github="https://github.com/majestrate/XD"
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="Frost"
image="/assets/img/tools/frost.png"
description="A freenet based Bittorrent like filesharing program using the freenet protocol."
website="http://jtcfrost.sourceforge.net/"
forum="https://sourceforge.net/p/jtcfrost/discussion/"
git=""
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="The Owner Free File System"
image="/assets/img/tools/off.png"
description="A reboot of the original OFF System. The first mainstream brightnet."
website="https://www.off.systems/"
forum=""
git="https://github.com/Prometheus-SCN/js-offs"
windows=""
mac=""
linux=""
bsd=""
%}
