<h1 id="clients" class="anchor"><a href="#clients"><i class="fas fa-link anchor-icon"></i></a> File Hosting</h1>

{% include cardv2.html
title="XD Client"
image="/assets/img/provider/xd.png"
description="XD is a bitorrent client with a focus on anonymity. All data is transmited over the i2p protocol."
website="https://xd-torrent.github.io/"
forum=""
github="https://github.com/majestrate/XD"
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="FreeNet"
image="/assets/img/tools/Freenet.png"
description='Freenet is a peer-to-peer platform for censorship-resistant communication. It uses a decentralized distributed data store to keep and deliver information, and
has a suite of free software for publishing and communicating on the Web without fear of censorship. A built in file sharing program is hosted at "<a href="127.0.0.1:8888/downloads/">http://127.0.0.1:8888/downloads/</a>".'
website="https://freenetproject.org/"
forum=""
git="https://github.com/freenet/"
windows=""
mac=""
linux=""
bsd=""
%}

{% include cardv2.html
title="The Owner Free File System"
image="/assets/img/provider/off.png"
description="A reboot of the original OFF System. The first mainstream brightnet."
website="https://www.off.systems/"
forum=""
git="https://github.com/Prometheus-SCN/js-offs"
windows=""
mac=""
linux=""
bsd=""
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://github.com/i2p/i2p.i2p/tree/master/apps/i2psnark">i2p-snark</a> - Built-in i2p based Bittorrent client.</li>
  <li><a href="https://github.com/HelloZeroNet/ZeroUp">ZeroUp</a> - A ZeroNet based file hosting program.</li>
</ul>
