<div class="page-header">
  <h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> {% t participate.participate %}</h1>
</div>

<p>{% t participate.up_to_date %} {% t participate.software_updates %} {% t participate.follow_news %} {% t participate.keep_up %} {% t participate.find_an_issue %} <strong>{% t participate.talk_to_us %}</strong> {% t participate.find_us_on %} <a rel="me" href="https://social.privacytools.io/@privacytools">{% t participate.mastodon %}</a> {% t participate.or %} <a href="https://chat.privacytools.io">Matrix</a> {% t participate.at %} <code class="highlighter-rouge">#general:privacytools.io</code>.</p>

{%- capture discourse -%}{% t participate.discourse %}{%- endcapture -%}
{%- capture mastodon -%}{% t participate.follow %} Mastodon & Twitter{%- endcapture -%}
{%- capture mastodon2 -%}{% t participate.mastodon_follow %}{%- endcapture -%}
{%- capture github -%}{% t participate.github %}{%- endcapture -%}
{%- capture github2 -%}{% t participate.github_d %}{%- endcapture -%}
{%- capture contrib -%}<a class="btn btn-warning mb-1" href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">{% t participate.contributors %}</a>{%- endcapture -%}

<div class="row">

  {% include card.html color="success"
  title="Discourse & Reddit"
  image="/assets/img/icons/discourse.png"
  url="https://forum.privacytools.io/"
  website="Discourse"
  extra_button='<a class="btn btn-success mb-1" href="https://www.reddit.com/r/privacytoolsIO/">Reddit</a>'
  description=discourse
  %}

  {% include card.html color="primary"
  title=mastodon
  image="/assets/img/icons/mastodon.png"
  url="https://social.privacytools.io/"
  website="Mastodon"
  extra_button='<a class="btn btn-primary mb-1" href="https://twitter.com/privacytoolsIO">Twitter</a>'
  description=mastodon2
  %}

  {% include card.html color="warning"
  title=github
  font="fab fa-github"
  url="https://github.com/privacytoolsIO/privacytools.io"
  website="GitHub"
  description=github2
  extra_button=contrib
  %}

</div>

<p>{% t participate.thanks %}</p>
