<h1 id="participate" class="anchor"><a href="#participate"><i class="fas fa-link anchor-icon"></i></a> Spread the word and help your friends</h1>

<div class="row mb-4">
  <div class="col-12 col-md-6 d-flex justify-content-between">
    <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://www.privacytools.io/" class="share-btn email" title="Email">
      <i class="fas fa-envelope"></i>
    </a>

    <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.privacytools.io" class="share-btn facebook" title="Facebook">
      <i class="fab fa-facebook-f"></i>
    </a>

    <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://www.privacytools.io/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io" class="share-btn mastodon" title="Mastodon">
      <i class="fab fa-mastodon"></i>
    </a>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-between">
    <a href="https://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
      <i class="fab fa-reddit-alien"></i>
    </a>

    <a href="https://www.linkedin.com/shareArticle?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
      <i class="fab fa-linkedin-in"></i>
    </a>

    <a href="http://www.stumbleupon.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn stumbleupon" title="StumbleUpon">
      <i class="fab fa-stumbleupon"></i>
    </a>

    <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io" class="share-btn diaspora" title="Diaspora*">
      <i class="fas fa-asterisk"></i>
    </a>
  </div>
</div>

<h3>Copy URL and Description</h3>

<p>
<input type="text" value="www.privacytools.io - encryption against global mass surveillance" onclick="this.focus();this.select()" class="form-control input-lg">
<span class="help-block">For easy copy and paste. Share this text snippet.</span>
</p>

<div class="page-header">
  <h1>Participate with suggestions and constructive criticism</h1>
</div>

<p>It's important for a website like privacytools.io to be up-to-date. Keep an eye on software updates of the applications listed here. Follow recent news about providers that are recommended. We try our best to keep up but we're not perfect and the internet is changing fast. If you find an error, or you think a provider should not be listed here, or a qualified service provider is missing or a browser plugin is not the best choice anymore and anything else... <strong>Talk to us please.</strong></p>

<div class="row">

  {% include card.html color="success"
  title="Make suggestions on Reddit"
  image="assets/img/icons/reddit.png"
  url="https://www.reddit.com/r/privacytoolsIO/"
  website="reddit.com"
  description='Our active community subreddit to stay up to date or to make suggestions. Join now! <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Warrant Canary has been removed by reddit">(Info)</a>'
  %}

  {% include card.html color="primary"
  title="Follow on Twitter"
  image="assets/img/icons/twitter.png"
  url="https://twitter.com/privacytoolsIO"
  website="twitter.com"
  description="Get the latest privacy-related updates from our Twitter Feed. Follow now!"
  %}

  {% include card.html color="warning"
  title="Develop on GitHub"
  image="assets/img/icons/github.png"
  url="https://github.com/privacytoolsIO/privacytools.io"
  website="github.com"
  description="The complete website source code is available on GitHub. Join our developer team!"
  %}

</div>

<p>This is a community project and we're aiming to deliver the best information available for a better privacy. Thank you for participating. This project needs you.</p>
