<h1 id="pw" class="anchor"><a href="#pw"><i class="fas fa-link anchor-icon"></i></a> Password Manager Software</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a password manager software like 1Password, LastPass, Roboform, or iCloud Keychain, you should pick an alternative here.</strong>
</div>

{%
  include cardv2.html
  title="Bitwarden - Cloud/Self-host"
  image="/assets/img/svg/3rd-party/bitwarden.svg"
  description="<strong>Bitwarden</strong> is a free and open-source password manager. It aims to solve password management problems for individuals, teams, and business organizations. Bitwarden is among the easiest and safest solutions to store all of your logins and passwords while conveniently keeping them synced between all of your devices. If you don't want to use the Bitwarden cloud, you can easily host your own Bitwarden server."
  website="https://bitwarden.com/"
  privacy-policy="https://bitwarden.com/privacy/"
  forum="https://forum.privacytools.io/t/discussion-bitwarden/1343"
  github="https://github.com/bitwarden"
  web="https://vault.bitwarden.com/#/"
  windows="https://bitwarden.com/#download"
  linux="https://bitwarden.com/#download"
  freebsd="https://www.npmjs.com/package/@bitwarden/cli"
  openbsd="https://www.npmjs.com/package/@bitwarden/cli"
  netbsd="https://www.npmjs.com/package/@bitwarden/cli"
  mac="https://bitwarden.com/#download"
  firefox="https://addons.mozilla.org/firefox/addon/bitwarden-password-manager/"
  chrome="https://chrome.google.com/webstore/detail/bitwarden-free-password-m/nngceckbapebfimnlniiiahkandclblb"
  safari="https://safari-extensions.apple.com/details/?id=com.bitwarden.safari-LTZ2PFU5D6"
  opera="https://addons.opera.com/extensions/details/bitwarden-free-password-manager/"
  edge="https://www.microsoft.com/store/apps/9P6KXL0SVNNL"
  fdroid="https://mobileapp.bitwarden.com/fdroid/"
  googleplay="https://play.google.com/store/apps/details?id=com.x8bit.bitwarden"
  ios="https://itunes.apple.com/app/bitwarden-free-password-manager/id1137397744?mt=8"
%}

{%
  include cardv2.html
  title="KeePassXC - Local"
  image="/assets/img/svg/3rd-party/keepassxc.svg"
  description="<strong>KeePassXC</strong> is a community fork of KeePassX, a native cross-platform port of KeePass Password Safe, with the goal to extend and improve it with new features and bugfixes to provide a feature-rich, fully cross-platform and modern open-source password manager."
  website="https://keepassxc.org/"
  privacy-policy="https://keepassxc.org/privacy/"
  forum="https://forum.privacytools.io/t/discussion-keepassxc/1344/2"
  github="https://github.com/keepassxreboot/keepassxc"
  windows="https://keepassxc.org/download/#windows"
  linux="https://keepassxc.org/download/#linux"
  mac="https://keepassxc.org/download/#mac"
  freebsd="https://www.freshports.org/security/keepassxc/"
  openbsd="http://openports.se/security/keepassxc"
  netbsd="http://pkgsrc.se/security/keepassxc"
  fdroid="https://f-droid.org/packages/com.kunzisoft.keepass.libre/"
  googleplay="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/keepassxc-browser"
  chrome="https://chrome.google.com/webstore/detail/keepassxc-browser/oboonakemofpalcgghocfoadofidjkkk"
%}

{%
  include cardv2.html
  title="LessPass - Browser"
  image="/assets/img/svg/3rd-party/lesspass.svg"
  description="<strong>LessPass</strong> is a free and open-source password manager that generates unique passwords for websites, email accounts, or anything else based on a master password and information you know. No sync needed. Uses PBKDF2 and SHA-256. It's advised to use the browser addons for more security."
  website="https://lesspass.com/"
  privacy-policy="https://addons.mozilla.org/en-US/firefox/addon/lesspass/privacy/"
  forum="https://forum.privacytools.io/t/discussion-keepassxc/1344/2"
  github="https://github.com/lesspass/lesspass"
  windows="https://pypi.org/project/lesspass/"
  mac="https://pypi.org/project/lesspass/"
  linux="https://pypi.org/project/lesspass/"
  freebsd="https://pypi.org/project/lesspass/"
  firefox="https://addons.mozilla.org/en-US/firefox/addon/lesspass/"
  chrome="https://chrome.google.com/webstore/detail/lesspass/lcmbpoclaodbgkbjafnkbbinogcbnjih"
  fdroid="https://f-droid.org/packages/com.lesspass.android"
  googleplay="https://play.google.com/store/apps/details?id=com.lesspass.android"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li>
    <a href="https://masterpassword.app">Master Password</a> - A password manager based on an ingenious password-generation algorithm that guarantees your passwords can never be lost. Its passwords aren't stored: they are generated on-demand from your name, the site, and your master password. No syncing, backups, or internet access needed.
  </li>

  <li>
    <a href="https://psono.com/">Psono</a> - Free and open source password manager for teams with client side encryption and secure sharing of passwords, files, bookmarks, emails. All secrets are protected by a master password. Uses <a href="https://nacl.cr.yp.to/">NACL Crypto</a>, a combination of Curve25519, Salsa20 and Poly1305.
  </li>

  <li>
    <a href="https://pwsafe.org/">Password Safe</a> - Whether the answer is one or hundreds, Password Safe allows you to safely and easily create a secured and encrypted username/password list. With Password Safe all you have to do is create and remember a single "Master Password" of your choice in order to unlock and access your entire username/password list.
  </li>
  <li>
    <a href="https://www.passwordstore.org/">Pass</a> - Pass is a bare-bones password store that keeps passwords using gpg2 encrypted files inside a simple directory tree residing at <code>~/.password-store</code>. It has a simple terminal interface where the user can perform the usual actions, and it's functionality can be extended by plugins. It can also be used in scripts without having to input the actual password in plain text.
  </li>
</ul>
