<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Pastebin Services</h1>

{% include cardv2.html
title="PrivateBin"
image="/assets/img/tools/PrivateBin.png"
description="PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted/decrypted in the browser using 256bit AES. It is the improved version of ZeroBin."
website="https://bin.privacytools.io/"
forum="https://forum.privacytools.io/t/discussion-privatebin/296"
github="https://github.com/PrivateBin/PrivateBin"
%}

{% include cardv2.html
title="Ghostbin"
image="/assets/img/tools/Ghostbin.png"
description="Ghostbin supports encryption, expiration, sessions, grant users to edit your notes and pastes up to one megabyte. You can also create your own account to keep track of your pastes. The software is good but ghostbin.com's security is <a href=\"https://github.com/privacytoolsIO/privacytools.io/issues/454\">worrisome</a>."
website="https://ghostbin.com/"
forum="https://forum.privacytools.io/t/discussion-ghostbin/298"
github="https://github.com/DHowett/spectre"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://disroot.org/">disroot.org</a> - Free privacy-friendly service that offers PrivateBin and other applications.</li>
</ul>
