<h1 id="paste" class="anchor"><a href="#paste"><i class="fas fa-link anchor-icon"></i></a> Paste Services</h1>

<div class="row mb-2">

  {% include card.html color="success"
  title="PrivateBin"
  image="assets/img/tools/PrivateBin.png"
  url="https://privatebin.net/"
  description="PrivateBin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted/decrypted in the browser using 256bit AES. It is the improved version of ZeroBin."
  %}

  {% include card.html color="primary"
  title="Zerobin.net"
  image="assets/img/tools/ZeroBin.png"
  url="https://zerobin.net/"
  tor="http://zerobinqmdqd236y.onion"
  description="Zerobin is a minimalist, open source online pastebin where the server has zero knowledge of pasted data. Data is encrypted/decrypted in the browser using 256bit AES."
  %}

  {% include card.html color="warning"
  title="Ghostbin"
  image="assets/img/tools/Ghostbin.png"
  url="https://ghostbin.com/"
  description="Ghostbin supports encryption, expiration, sessions, grant users to edit your notes and pastes up to one megabyte. You can also create your own account to keep track of your pastes.<br>
  The software is good but ghostbin.com's security is <a href=\"https://github.com/privacytoolsIO/privacytools.io/issues/454\">worrisome</a>."
  %}

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://disroot.org/">disroot.org</a> - Free privacy-friendly service that offers PrivateBin and other applications.</li>
</ul>
