<h1 id="resources" class="anchor"><a href="#resources"><i class="fas fa-link anchor-icon"></i></a> More Privacy Resources</h1>

<h3>Guides</h3>

<ul>
  <li><a href="https://ssd.eff.org/"><strong>Surveillance Self-Defense by EFF</strong></a> - Guide to defending yourself from surveillance by using secure technology and developing careful practices.</li>
  <li><a href="https://github.com/cryptoseb/CryptoPaper"><strong>The Crypto Paper</strong></a> - Privacy, Security and Anonymity for Every Internet User.</li>
  <li><a href="https://emailselfdefense.fsf.org/en/"><strong>Email Self-Defense by FSF</strong></a> - A guide to fighting surveillance with GnuPG encryption.</li>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/"><strong>The Ultimate Privacy Guide</strong></a> - Excellent privacy guide written by the creators of the bestVPN.com website.</li>
  <li><a href="https://www.ivpn.net/privacy-guides"><strong>IVPN Privacy Guides</strong></a> - These privacy guides explain how to obtain vastly greater freedom, privacy and anonymity through compartmentalization and isolation.</li>
  <li><a href="https://watchyourhack.com/"><strong>Watch Your Hack</strong></a> - User friendly manual explaining how to protect oneself from hackers.</li>
</ul>

<h3>Information</h3>

<ul>
  <li><a href="https://freedom.press/"><strong>Freedom of the Press Foundation</strong></a> - Supporting and defending journalism dedicated to transparency and accountability since 2012.</li>
  <li><a href="https://www.erfahrungen.com/mit/anonymisierung/t/"><strong>Erfahrungen.com</strong></a> - German review aggregator website of privacy-related services.</li>
  <li><a href="https://openwireless.org/"><strong>Open Wireless Movement</strong></a> - A coalition of Internet freedom advocates, companies, organizations, and technologists working to develop new wireless technologies and to inspire a movement of Internet openness.</li>
  <li><a href="https://www.grc.com/securitynow.htm"><strong>Security Now!</strong></a> - Weekly Internet Security Podcast by Steve Gibson and Leo Laporte.</li>
  <li><a href="https://www.jupiterbroadcasting.com/show/techsnap/"><strong>TechSNAP</strong></a> - Weekly Systems, Network, and Administration Podcast. Every week TechSNAP covers the stories that impact those of us in the tech industry.</li>
  <li><a href="https://thinkprivacy.ch/"><strong>ThinkPrivacy.ch</strong></a> - Privacy focused resource site by Dan Arel.</li>
  <li><a href="https://ethical.net/resources/"><strong>ethical.net</strong></a> - A collaborative platform for discovering and sharing ethical product alternatives.</li>
</ul>

<h3>Tools</h3>

<ul>
  <li><a href="https://www.ghacks.net/2015/12/28/the-ultimate-online-privacy-test-resource-list/"><strong>The ultimate Online Privacy Test Resource List</strong></a> - A collection of Internet sites that check whether your web browser leaks information.</li>
  <li><a href="https://prism-break.org/"><strong>PRISM Break</strong></a> - We all have a right to privacy, which you can exercise today by encrypting your communications and ending your reliance on proprietary services.</li>
  <li><a href="https://securityinabox.org/"><strong>Security in-a-Box</strong></a> - A guide to digital security for activists and human rights defenders throughout the world.</li>
  <li><a href="https://securedrop.org/"><strong>SecureDrop</strong></a> - An open-source whistleblower submission system that media organizations can use to securely accept documents from and communicate with anonymous sources. It was originally created
    by the late Aaron Swartz and is currently managed by Freedom of the Press Foundation.</li>
  <li><a href="https://secfirst.org/"><strong>Security First</strong></a> - Umbrella is an Android app that provides all the advice needed to operate safely in a hostile environment.</li>
  <li><a href="https://www.osalt.com/"><strong>Osalt</strong></a> - A directory to help you find open source alternatives to proprietary tools.</li>
  <li><a href="https://alternativeto.net/"><strong>AlternativeTo</strong></a> - A directory to help find alternatives to other software, with the option to only show open source software.</li>
  <li><a href="https://degoogle.jmoore.dev/"><strong>degoogle</strong></a> - Cutting Google out of your life, privacy respecting alternatives to google products.</li>
  <li><a href="https://switching.software/"><strong>switching.software</strong></a> - A grassroots website informing people about ethical, easy-to-use and privacy-conscious alternatives to well-known software.</li>
  <li><a href="https://directory.fsf.org/wiki/GNU"><strong>GNU Free Software Directory</strong></a> - Directory of GNU based software from the Free Software Foundation.</li>
  <li><a href="https://casuallyprivate.com/wiki/providers/"><strong>Casually Private Wiki</strong></a> - Listing of privacy respecting service providers on Casually Private.</li>
  <li><a href="https://cryptotools.net/"><strong>CryptoTools.net</strong></a> - A suite of cryptographic utilities for convenience that operate entirely on the client side.</li>
</ul>

<p>Note: Just being open source does not make software secure!</p>
