<h1 id="resources" class="anchor"><a href="#resources"><i class="fas fa-link anchor-icon"></i></a> More Privacy Resources</h1>

<h3>Guides</h3>

<ul>
  <li><a href="https://ssd.eff.org/"><b>Surveillance Self-Defense by EFF</b></a> - Guide to defending yourself from surveillance by using secure technology and developing careful practices.</li>
  <li><a href="https://github.com/cryptoseb/CryptoPaper"><b>The Crypto Paper</b></a> - Privacy, Security and Anonymity for Every Internet User.</li>
  <li><a href="https://emailselfdefense.fsf.org/en/"><b>Email Self-Defense by FSF</b></a> - A guide to fighting surveillance with GnuPG encryption.</li>
  <li><a href="https://www.bestvpn.com/the-ultimate-privacy-guide/"><b>The Ultimate Privacy Guide</b></a> - Excellent privacy guide written by the creators of the bestVPN.com website.</li>
  <li><a href="https://www.ivpn.net/privacy-guides"><b>IVPN Privacy Guides</b></a> - These privacy guides explain how to obtain vastly greater freedom, privacy and anonymity through compartmentalization and isolation.</li>
  <li><a href="https://fried.com/privacy"><b>The Ultimate Guide to Online Privacy</b></a> - Comprehensive "Ninja Privacy Tips" and 150+ tools.</li>
</ul>

<h3>Information</h3>

<ul>
  <li><a href="https://freedom.press/"><b>Freedom of the Press Foundation</b></a> - Supporting and defending journalism dedicated to transparency and accountability since 2012.</li>
  <li><a href="https://www.erfahrungen.com/mit/anonymisierung/t/"><b>Erfahrungen.com</b></a> - German review aggregator website of privacy-related services.</li>
  <li><a href="https://openwireless.org/"><b>Open Wireless Movement</b></a> - a coalition of Internet freedom advocates, companies, organizations, and technologists working to develop new wireless technologies and to inspire a movement of Internet openness.</li>
  <li><a href="https://privacy.net/us-government-surveillance-spying-data"><b>privacy.net</b></a> - What does the US government know about you?</li>
  <li><a href="https://www.reddit.com/r/privacytoolsIO/wiki/index"><b>r/privacytoolsIO Wiki</b></a> - Our Wiki on reddit.com.</li>
  <li><a href="https://www.grc.com/securitynow.htm"><b>Security Now!</b></a> - Weekly Internet Security Podcast by Steve Gibson and Leo Laporte.</li>
  <li><a href="https://www.jupiterbroadcasting.com/show/techsnap/"><b>TechSNAP</b></a> - Weekly Systems, Network, and Administration Podcast. Every week TechSNAP covers the stories that impact those of us in the tech industry.</li>
  <li><a href="https://tosdr.org/"><b>Terms of Service; Didn't Read</b></a> - "I have read and agree to the Terms" is the biggest lie on the web. We aim to fix that.</li>
</ul>

<h3>Tools</h3>

<ul>
  <li><a href="https://ipleak.net/"><b>ipleak.net</b></a> - IP/DNS Detect - What is your IP, what is your DNS, what informations you send to websites.</li>
  <li><a href="https://www.ghacks.net/2015/12/28/the-ultimate-online-privacy-test-resource-list/"><b>The ultimate Online Privacy Test Resource List</b></a> - A collection of Internet sites that check whether your web browser leaks information.</li>
  <li><a href="https://prism-break.org/"><b>PRISM Break</b></a> - We all have a right to privacy, which you can exercise today by encrypting your communications and ending your reliance on proprietary services.</li>
  <li><a href="https://securityinabox.org/"><b>Security in-a-Box</b></a> - A guide to digital security for activists and human rights defenders throughout the world.</li>
  <li><a href="https://securedrop.org/"><b>SecureDrop</b></a> - An open-source whistleblower submission system that media organizations can use to securely accept documents from and communicate with anonymous sources. It was originally created
    by the late Aaron Swartz and is currently managed by Freedom of the Press Foundation.</li>
  <li><a href="https://secfirst.org/"><b>Security First</b></a> - Umbrella is an Android app that provides all the advice needed to operate safely in a hostile environment.</li>
  <li><a href="https://www.osalt.com/"><b>Osalt</b></a> - A directory to help you find open source alternatives to proprietary tools.</li>
  <li><a href="https://alternativeto.net/"><b>AlternativeTo</b></a> - A directory to help find alternatives to other software, with the option to only show open source software</li>
</ul>

<p>Note: Just being open source does not make software secure!</p>
