<h1 id="productivity" class="anchor"><a href="#productivity"><i class="fas fa-link anchor-icon"></i></a> Productivity Tools</h1>

{%
  include cardv2.html
  title="CryptPad"
  image="/assets/img/svg/3rd-party/cryptpad.svg"
  description="<strong>CryptPad</strong> is a private-by-design alternative to popular office tools and cloud services. All content is end-to-end encrypted. It is free and open-source, enabling anyone to verify its security by auditing the code. The development team is supported by donations and grants. No registration is required, and it can be used anonymously via Tor Browser."
  website="https://cryptpad.fr/"
  privacy-policy="https://cryptpad.fr/privacy.html"
  forum="https://forum.privacytools.io/t/discussion-cryptpad-productivity-tools/1537"
  github="https://github.com/xwiki-labs/cryptpad"
  web="https://cryptpad.fr/"
%}

{%
  include cardv2.html
  title="Etherpad"
  image="/assets/img/svg/3rd-party/etherpad.svg"
  description="<strong>Etherpad</strong> is a highly customizable open-source online editor providing collaborative editing in real time. <a href=https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad>Here are a list of sites that run Etherpad</a>."
  website="https://etherpad.org/"
  forum="https://forum.privacytools.io/t/discussion-etherpad-productivity-tools/1538"
  github="https://github.com/ether/etherpad-lite"
  web="https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad"
  windows="https://github.com/ether/etherpad-lite#windows"
  linux="https://github.com/ether/etherpad-lite#installation"
  mac="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  freebsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  openbsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
  netbsd="https://github.com/ether/etherpad-lite#gnulinux-and-other-unix-like-systems"
%}

{%
  include cardv2.html
  title="Write.as"
  image="/assets/img/svg/3rd-party/writeas.svg"
  image-dark="/assets/img/svg/3rd-party/writeas-dark.svg"
  description="<strong>Write.as</strong> is a cross-platform, privacy-oriented blogging platform. It's anonymous by default, letting you publish without signing up. If you create an account, it doesn't require any personal information. No ads, distraction-free, and built on a sustainable business model."
  website="https://write.as/"
  privacy-policy="https://write.as/privacy"
  forum="https://forum.privacytools.io/t/discussion-write-as-productivity-tools/1539"
  tor="http://writeas7pm7rcdqg.onion"
  git="https://code.as/writeas"
  web="https://write.as/pad"
  windows="https://github.com/writeas/writeas-cli"
  mac="https://github.com/writeas/writeas-cli"
  linux="https://write.as/apps"
  chrome="https://write.as/apps"
  googleplay="https://play.google.com/store/apps/details?id=com.abunchtell.writeas"
  ios="https://itunes.apple.com/app/apple-store/id1000755153"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://crypt.ee/">Cryptee</a> - Free privacy-friendly service for storing Documents, files and Photos</li>
  <li><a href="https://ethercalc.net/">EtherCalc</a> - EtherCalc is a web spreadsheet. Data is saved on the web, and people can edit the same document at the same time. Changes are instantly reflected on all screens. Work together on inventories, survey forms, list management, brainstorming sessions.</li>
  <li><a href="https://disroot.org/">Disroot</a> - Free privacy-friendly service that offers Etherpad, EtherCalc and PrivateBin.</li>
  <li><a href="https://dudle.inf.tu-dresden.de/anonymous/">dudle</a> - An online scheduling application, free and open-source. Schedule meetings or make small online polls. No email collection or the need of registration.</li>
  <li><a href="https://framadate.org/">Framadate</a> - A free and open-source online service for planning an appointment or making a decision quickly and easily. No registration is required.</li>
  <li><a href="https://www.libreoffice.org/">LibreOffice</a> - Free and open-source office suite.</li>
  <li><a href="https://vscodium.com/">VSCodium</a> - Scripts to automatically build Microsoft's Visual Studio Code editor without branding or telemetry.</li>
</ul>

<h1 id="metadata-removal-tools" class="anchor">
  <a href="#metadata-removal-tools"
    ><i class="fas fa-link anchor-icon"></i>
  </a> Metadata Removal Tools
</h1>

{%
  include cardv2.html
  title="MAT2"
  image="/assets/img/svg/3rd-party/mat2.svg"
  description="<strong>MAT2</strong> is free software, which allows the removal of metadata of image, audio, torrent, and document file types. It provides both a command line tool and a graphical user interface via an extension for Nautilus, the default file manager of GNOME."
  website="https://0xacab.org/jvoisin/mat2"
  forum="https://forum.privacytools.io/t/discussion-mat/1559"
  gitlab="https://0xacab.org/jvoisin/mat2"
  windows="https://pypi.org/project/mat2/"
  mac="https://pypi.org/project/mat2/"
  linux="https://pypi.org/project/mat2/"
  freebsd="https://pypi.org/project/mat2/"
  openbsd="https://pypi.org/project/mat2/"
  netbsd="https://pypi.org/project/mat2/"
%}

{%
  include cardv2.html
  title="ExifCleaner"
  image="/assets/img/svg/3rd-party/exifcleaner.svg"
  description='<strong>ExifCleaner</strong> is a freeware, open source graphical app that uses <a href="https://exiftool.org/">ExifTool</a> to remove <a href="https://en.wikipedia.org/wiki/Exif">exif</a> metadata from images, videos, and PDF documents using a simple drag and drop interface. It supports multi-core batch processing and dark mode.'
  website="https://exifcleaner.com"
  forum="https://forum.privacytools.io/t/discussion-mat/TODOADDTHIS"
  github="https://github.com/szTheory/exifcleaner"
  windows="https://github.com/szTheory/exifcleaner/releases"
  mac="https://github.com/szTheory/exifcleaner/releases"
  linux="https://github.com/szTheory/exifcleaner/releases"
%}
