<h1 id="productivity" class="anchor"><a href="#productivity"><i class="fas fa-link anchor-icon"></i></a> Productivity Tools</h1>

<div class="row mb-2">

  {% include card.html color="success"
    title="CryptPad"
    image="/assets/img/provider/CryptPad.png"

    description="CryptPad is a private-by-design alternative to popular office tools and cloud services. All content is end-to-end encrypted. It is free and open source, enabling anyone to verify its security by auditing the code. The development team is supported by donations and grants. No registration is required, and it can be used anonymously via Tor browser."

    url="https://cryptpad.fr/"
    footer='OS: Linux, macOS, Windows, Web.'
  %}

  {% include card.html color="primary"
  title="Etherpad"
  image="/assets/img/tools/Etherpad.png"
  url="https://etherpad.org/"
  footer="OS: Windows, macOS, Linux."
  description="Etherpad is a highly customizable Open Source online editor providing collaborative editing in really real-time. Etherpad allows you to edit documents collaboratively in real-time, much like a live multi-player editor that runs in your browser. Write articles, press releases, to-do lists, etc. <a href=https://github.com/ether/etherpad-lite/wiki/Sites-that-run-Etherpad>Sites That Run Etherpad</a>"
  %}

  {% include card.html color="warning"
  title="Write.as"
  image="/assets/img/tools/WriteAs.png"
  url="https://write.as/"
  tor="http://writeas7pm7rcdqg.onion"
  footer="OS: Windows, macOS, Linux, Android, iOS, Chrome OS, Web."
  description="Write.as is a cross-platform, privacy-oriented blogging platform. It's anonymous by default, letting you publish without signing up. If you create an account, it doesn't require any personal information. No ads, distraction-free, and built on a sustainable business model."
  %}

</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://crypt.ee/">Cryptee</a> - Free privacy-friendly service for storing Documents, files and Photos</li>
  <li><a href="https://ethercalc.net/">EtherCalc</a> - EtherCalc is a web spreadsheet. Data is saved on the web, and people can edit the same document at the same time. Changes are instantly reflected on all screens. Work together on inventories, survey forms, list management, brainstorming sessions.</li>
  <li><a href="https://disroot.org/">disroot.org</a> - Free privacy-friendly service that offers Etherpad, EtherCalc and PrivateBin.</li>
  <li><a href="https://dudle.inf.tu-dresden.de/anonymous/">dudle</a> - An online scheduling application, which is free and OpenSource. Schedule meetings or make small online polls. No email collection or the need of registration.</li>
  <li><a href="https://www.libreoffice.org/">LibreOffice</a> - Free and open source office suite</li>
  <li><a href="https://vscodium.com/">VSCodium</a> - Fork of Visual Studio Code editor without Microsoft's tracking </li>
</ul>
