<h1 id="os" class="anchor">Privacy Tools</h1>

<p><a href="/classic/"><i class="fas fa-info-circle"></i> Prefer the classic site? View a single-page layout.</a></p>

<div class="row">

  {% include card.html color="success"
  title="Providers"
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description="Discover privacy-centric online services, including email providers, VPN operators, DNS administrators, and more!"
  %}

  {% include card.html color="primary"
  title="Web Browsers"
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description="Find a web browser that respects your privacy, and discover how to harden your browser against tracking and leaks."
  %}

  {% include card.html color="warning"
  title="Software"
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description="Discover a variety of open source software built to protect your privacy and keep your digital data secure."
  %}

  {% include card.html color="info"
  title="Operating Systems"
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description="Find out how your operating system is compromising your privacy, and what simple alternatives exist."
  %}

  {% include card.html color="secondary"
  title="PrivacyTools Services"
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description="The PrivacyTools team is proud to launch a variety of privacy-centric online services, including a Mastodon instance, search engine, and more!"
  %}

  {% include card.html color="danger"
  title="Donate"
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description="We can't operate this site without the generous contributions we receive from our viewers. If you love privacy and our website please consider donating."
  %}

</div>
