<h1 id="os" class="anchor">{% t resources.tools %}</h1>

<p><a href="/classic/"><i class="fas fa-info-circle"></i> {%t resources.classic %}</a></p>

{%- capture title1 -%}{% t resources.providers %}{%- endcapture -%}
{%- capture descr1 -%}{% t resources.providers_description %}{%- endcapture -%}
{%- capture title2 -%}{% t resources.browsers %}{%- endcapture -%}
{%- capture descr2 -%}{% t resources.browsers_description %}{%- endcapture -%}
{%- capture title3 -%}{% t resources.software %}{%- endcapture -%}
{%- capture descr3 -%}{% t resources.software_description %}{%- endcapture -%}
{%- capture title4 -%}{% t resources.os %}{%- endcapture -%}
{%- capture descr4 -%}{% t resources.os_description %}{%- endcapture -%}
{%- capture title5 -%}{% t resources.services %}{%- endcapture -%}
{%- capture descr5 -%}{% t resources.services_description %}{%- endcapture -%}
{%- capture title6 -%}{% t resources.donate %}{%- endcapture -%}
{%- capture descr6 -%}{% t resources.donate_description %}{%- endcapture -%}

<div class="row">

  {% include card.html color="success"
  title=title1
  icon="fas fa-server"
  iconcolor="dark"
  page="/providers/"
  description=descr1
  %}

  {% include card.html color="primary"
  title=title2
  icon="far fa-compass"
  iconcolor="dark"
  page="/browsers/"
  description=descr2
  %}

  {% include card.html color="warning"
  title=title3
  icon="far fa-window-restore"
  iconcolor="dark"
  page="/software/"
  description=descr3
  %}

  {% include card.html color="info"
  title=title4
  icon="fas fa-desktop"
  iconcolor="dark"
  page="/operating-systems/"
  description=descr4
  %}

  {% include card.html color="secondary"
  title=title5
  icon="far fa-eye-slash"
  iconcolor="dark"
  page="/services/"
  description=descr5
  %}

  {% include card.html color="danger"
  title=title6
  icon="fas fa-donate"
  iconcolor="dark"
  page="/donate/"
  description=descr6
  %}

</div>
