<h1 id="routers" class="anchor"><a href="#routers"><i class="fas fa-link anchor-icon"></i></a> Home Routers</h1>

<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-3 col-sm-12 pt-lg-5 text-center">
      <img
        src="/assets/img/png/3rd-party/turris-omnia.png"
        data-theme-src="/assets/img/png/3rd-party/turris-omnia.png"
        height="200"
        width="200"
        class="img-fluid d-block mr-auto ml-auto align-middle"
        alt="Turris Omnia">
        <a class="btn btn-primary mt-4" href="https://www.turris.cz/en/omnia/" role="button"><i class="fas fa-external-link-alt fa-fw"></i> Website</a>
    </div>
    <div class="col">
    <h2>Turris Omnia</h2>
    <p><strong>Turris Omnia</strong> is a secure, high performance, and open-source home router. It has specifications that would allow it to easily handle Gigabit-level networking, as well as additional functionality (NAS, printserver, or other server type use-cases).</p>
    <p>Turris Omnia was created by <strong>NIC.CZ</strong>, the non-profit .CZ domain registry behind many massive internet open-source projects including Knot (DNS Server), BIRD (Internet routing daemon), and FRED (Domain registry platform). As such, we believe they have the experience required to make a secure routing platform.</p>

    <h5><span class="badge badge-success">OpenWrt</span></h5>
    <p>Turris Omnia runs OpenWrt, the router operating system platform <a href="/operating-systems/#firmware">we recommend</a> for home users. It is an incredibly lightweight operating system perfect for this workload, and it is well supported by its developers.</p>

    <h5><span class="badge badge-success">Secure Defaults</span></h5>
    <p>Turris Omnia is configured securely and privately by default. It also features <strong>automatic updates</strong> that require no user interaction. The lack of updates is a security problem for most home router brands.</p>

    <h5><span class="badge badge-info">Additional Functionality</span></h5>
    <p>This device can be used for more than just routing. It is a highly extensible product, allowing you to do things like add mSATA storage. It features a SIM slot that can be used alongside an LTE USB or miniPCIe modem for backup connectivity. It comes with a "virtual server", which allows you to install normal Linux applications or even entirely seperate Linux distros like Ubuntu or Debian independently of the main software, improving security and allowing for safe software experimentation.</p>
    </div>
  </div>
</div>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://www.peplink.com/products/pepwave-surf-soho/">Pepwave Surf SOHO</a> - A lower-end business-class router with stable, secure, and easy-to-use firmware. Unlike most business-class routers, the interface is easy to use while still feature-rich.</li>
</ul>
