
<h1 id="laptops" class="anchor"><a href="#laptops"><i class="fas fa-link anchor-icon"></i></a> Laptops</h1>
<div class="row mb-2">

     {% include card.html color="success"
    title="Minifree"
    image="/assets/img/tools/minifree.png"
    url="https://minifree.org/"
    description="Minifree sells hardware with zero non-free drivers. All of there routets come pre-installed with LibreCMC."
    %}

     {% include card.html color="primary"
    title="ThinkPenguin.com"
    labels="warning:warning:ThinkPenguin.com may sell hardware with non-free software such as firmware. We recommend finding products with free software certifications."
    image="/assets/img/tools/thinkpenguin.png"
    url="https://www.thinkpenguin.com/"
    description="ThinkPenguin.com sells hardware with zero non-free drivers."
    %}

</div>
