<h1 id="firmware" class="anchor"><a href="#firmware"><i class="fas fa-link anchor-icon"></i></a> Open Source Router Firmware</h1>

{% include cardv2.html
  title="OpenWrt"
  image="/assets/img/svg/3rd-party/openwrt.svg"
  image-dark="/assets/img/svg/3rd-party/openwrt-dark.svg"
  description="OpenWrt is an operating system (in particular, an embedded operating system) based on the Linux kernel, primarily used on embedded devices to route network traffic. The main components are the Linux kernel, util-linux, uClibc and BusyBox. All components have been optimized for size, to be small enough for fitting into the limited storage and memory available in home routers."
  badges="info:Linux"
  website="https://openwrt.org/"
  git="https://git.openwrt.org/"
%}

{% include cardv2.html
  title="pfSense"
  image="/assets/img/svg/3rd-party/pfsense.svg"
  image-dark="/assets/img/svg/3rd-party/pfsense-dark.svg"
  description="pfSense is an open source firewall/router computer software distribution based on FreeBSD. It is installed on a computer to make a dedicated firewall/router for a network and is noted for its reliability and offering features often only found in expensive commercial firewalls. pfSense is commonly deployed as a perimeter firewall, router, wireless access point, DHCP server, DNS server, and as a VPN endpoint."
  badges="info:BSD"
  website="https://www.pfsense.org/"
  privacy-policy="https://www.pfsense.org/privacy.html"
  github="https://github.com/pfsense/"
%}

{% include cardv2.html
  title="LibreCMC"
  image="/assets/img/svg/3rd-party/librecmc.svg"
  image-dark="/assets/img/svg/3rd-party/librecmc-dark.svg"
  description="LibreCMC is a GNU/Linux-libre distribution for computers with minimal resources, such as the Ben Nanonote, ath9k-based Wi-Fi routers, and other hardware with emphasis on free software. The project's current goal is to aim for compliance with the GNU Free System Distribution Guidelines (GNU FSDG) and ensure that the project continues to meet these requirements set forth by the Free Software Foundation (FSF)."
  badges="info:GNU/Linux"
  website="https://librecmc.org"
  git="https://gogs.librecmc.org/libreCMC/libreCMC"
%}
