<h1 id="search" class="anchor"><a href="#search"><i class="fas fa-link anchor-icon"></i></a> Privacy Respecting Search Engines</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using search engines like Google, Bing, or Yahoo, you should pick an alternative here. </strong>
</div>

{% include cardv2.html
title="searx - Decentral"
image="/assets/img/svg/3rd-party/searx.svg"
description='searx is an <a href="https://github.com/asciimoo/searx">open-source</a> metasearch engine, aggregating the results of other search engines while not storing information about its users. No logs, no ads and no tracking. There is a <a href="https://searx.space/">list of public instances</a> or you can try the <a href="https://search.privacytools.io/">PrivacyTools instance</a>.'
website="https://searx.me/"
tor="http://ulrn6sryqaifefld.onion"
forum="https://forum.privacytools.io/t/discussion-searx/283"
github="https://github.com/asciimoo/searx"
%}

{% include cardv2.html
title="DuckDuckGo - USA"
image="/assets/img/svg/3rd-party/duckduckgo.svg"
description='DuckDuckGo is a "search engine that doesn\'t track you." Some of DuckDuckGo\'s code is free software hosted at GitHub, but the core is proprietary. <span class="flag-icon flag-icon-us"></span> <a href="../../providers/#ukusa">The company is based in the USA.</a>'
website="https://duckduckgo.com/"
tor="http://3g2upl4pq6kufc4m.onion"
forum="https://forum.privacytools.io/t/discussion-duckduckgo/285"
github="https://github.com/duckduckgo"
%}

{% include cardv2.html
title="Qwant - France"
image="/assets/img/svg/3rd-party/qwant.svg"
description='Qwant is a search engine with its philosophy based on two principles: no user tracking and no filter bubble. Qwant was launched in France in February 2013.'
website="https://www.qwant.com/"
forum="https://forum.privacytools.io/t/discussion-qwant/286"
github="https://github.com/Qwant/"
%}


<h3>Firefox Addon</h3>

<ul>
  <li>
    <a href="https://addons.mozilla.org/firefox/addon/google-search-link-fix/">Google search link fix</a> - Firefox extension that prevents Google and Yandex search pages from modifying search result links when you click them. This is useful when
    copying links but it also helps privacy by preventing the search engines from recording your clicks. (<a href="https://github.com/palant/searchlinkfix">Open Source</a>)
  </li>
</ul>

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://yacy.net/">YaCy</a> - A free-software P2P search engine powered by its users.</li>
  <li><a href="https://jivesearch.com/">Jive Search</a> - A free-software search engine with a similar look and feel to Google.</li>
  <li><a href="https://metager.de/en/">MetaGer</a> - An open-source metasearch engine, which is based in Germany. It focuses on protecting the user's privacy.</li>
  <li><a href="https://www.mojeek.com/">Mojeek</a> - Independent and unbiased search results with no user tracking.</li>
</ul>
