<h1 id="search" class="anchor"><a href="#search"><i class="fas fa-link anchor-icon"></i></a> Privacy Respecting Search Engines</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using search engines like Google, Bing, or Yahoo, you should pick an alternative here.</strong>
</div>

{%
  include cardv2.html
  title="Searx"
  image="/assets/img/svg/3rd-party/searx.svg"
  description='Searx is an <a href="https://github.com/asciimoo/searx">open-source</a>, self-hostable, metasearch engine, aggregating the results of other search engines while not storing information about its users. There is a <a href="https://searx.space/">list of public instances</a> or you can try the <a href="https://search.privacytools.io/">PrivacyTools instance</a>.'
  website="https://searx.me/"
  tor="http://ulrn6sryqaifefld.onion"
  forum="https://forum.privacytools.io/t/discussion-searx/283"
  github="https://github.com/asciimoo/searx"
%}

{%
  include cardv2.html
  title="DuckDuckGo"
  image="/assets/img/svg/3rd-party/duckduckgo.svg"
  description='DuckDuckGo is a "search engine that doesn\'t track you." Some of DuckDuckGo\'s code is free software hosted at GitHub, but the core is proprietary. <span class="flag-icon flag-icon-us"></span> <a href="../../providers/#ukusa">The company is based in the USA.</a>'
  website="https://duckduckgo.com/"
  privacy-policy="https://duckduckgo.com/privacy"
  tor="http://3g2upl4pq6kufc4m.onion"
  forum="https://forum.privacytools.io/t/discussion-duckduckgo/285"
  github="https://github.com/duckduckgo"
%}

{%
  include cardv2.html
  title="Qwant"
  image="/assets/img/svg/3rd-party/qwant.svg"
  description='Qwant is a search engine with its philosophy based on two principles: no user tracking and no filter bubble. <span class="flag-icon flag-icon-fr"></span> <a href="../../providers/#ukusa">The company is based in France.</a>'
  website="https://www.qwant.com/"
  privacy-policy="https://about.qwant.com/legal/privacy/"
  forum="https://forum.privacytools.io/t/discussion-qwant/286"
  github="https://github.com/Qwant/"
%}

{% include cardv2.html
  title="Startpage.com"
  image="/assets/img/svg/3rd-party/startpage.svg"
  description='Startpage.com is a search engine that provides Google search results with complete privacy protection. <span class="flag-icon flag-icon-nl"></span> Startpage BV is a Netherlands-based company that has been dedicated to privacy-respecting search since 2006.'
  labels="color==warning::link==https://support.startpage.com/index.php?/Knowledgebase/Article/View/1277/0/startpage-ceo-robert-beens-discusses-the-investment-from-privacy-one--system1::text==Warning::tooltip==Startpage.com was recently acquired by United States-based System1."
  website="https://www.startpage.com/"
  privacy-policy="https://www.startpage.com/en/privacy-policy/"
  forum="https://forum.privacytools.io/t/delisted-discussion-startpage/284"
%}

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://metager.org/">MetaGer</a> - An <a href="https://gitlab.metager.de/open-source/MetaGer">open-source</a>, metasearch engine run as a non-profit based in Germany. (<a href="https://metager.org/datenschutz">Privacy Policy</a>)</li>
  <li><a href="https://www.mojeek.com/">Mojeek</a> - An independent search engine based in the UK, and the <a href="https://blog.mojeek.com/2018/10/search-that-does-not-follow-you-around.html">first search engine to have a policy of not tracking its users.</a> (<a href="https://www.mojeek.com/about/privacy/">Privacy Policy</a>)</li>
  <li><a href="https://yacy.net/">YaCy</a> - An <a href="https://github.com/yacy/yacy_search_server">open-source</a>, peer-to-peer search engine powered by its users.</li>
</ul>
