<h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> Self-Hosted Cloud Server Software</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a Cloud Storage Services like Dropbox, Google Drive, Microsoft OneDrive or Apple iCloud, you should think about hosting it on your own.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Pydio"
  image="/assets/img/tools/Pydio.png"
  url="https://pydio.com/"
  footer="OS: Windows, macOS, Linux, iOS, Android."
  description="Pydio is open source software that turns instantly any server (on-premise, NAS, cloud IaaS or PaaS) into a file sharing platform for your company. It is an alternative
  to SaaS Boxes and Drives, with more control, safety and privacy, and favorable TCOs."
  %}

  {% include card.html color="primary"
  title="Tahoe-LAFS"
  image="/assets/img/tools/Tahoe-LAFS.png"
  url="https://www.tahoe-lafs.org/"
  footer="OS: Windows, macOS, Linux."
  description="Tahoe-LAFS is a Free and Open decentralized cloud storage system. It distributes your data across multiple servers. Even if some of the servers fail or are
  taken over by an attacker, the entire file store continues to function correctly, preserving your privacy and security."
  %}

  {% include card.html color="warning"
  title="Nextcloud"
  image="/assets/img/provider/Nextcloud.png"
  url="https://nextcloud.com/"
  footer="Client OS: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Server: Linux."
  description="Similar functionally to the widely used Dropbox, with the difference being that Nextcloud is free and open-source, and thereby allowing anyone to install and operate it without charge on a private server, with no limits on storage space or the number of connected clients."
  %}

</div>

<h3>Worth Mentioning</h3>
<ul>
  <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - End-to-end encrypted real time collaboration sharing folders, media, and documents (open-source).</li>
</ul>

