<h1 id="darknets" class="anchor"><a href="#darknets"><i class="fas fa-link anchor-icon"></i></a> {% t selfcontained_networks.networks %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t selfcontained_networks.warning %}</strong>
</div>

{%- capture selfcontained_networks_tor_descr -%}{% t selfcontained_networks.tor_descr %}{%- endcapture -%}
{%- capture selfcontained_networks_i2p_descr -%}{% t selfcontained_networks.i2p_descr %}{%- endcapture -%}
{%- capture selfcontained_networks_freenet_descr -%}{% t selfcontained_networks.freenet_descr %}{%- endcapture -%}

<div class="row mb-2">

  {% include card.html color="success"
  title="Tor"
  image="/assets/img/tools/Tor-Project.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='OS: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, Android (<a href="https://www.torproject.org/download/#android">Tor Browser</a>, <a href="https://guardianproject.info/apps/orbot/">Proxy other apps with Orbot</a>), <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description=selfcontained_networks_tor_descr
  %}

  {% include card.html color="primary"
  title="I2P Anonymous Network"
  image="/assets/img/tools/I2P.png"
  url="https://geti2p.net/"
  footer="OS: Windows, macOS, Linux, Android, BSD / Solaris."
  description=selfcontained_networks_i2p_descr
  %}

  {% include card.html color="warning"
  title="The Freenet Project"
  image="/assets/img/tools/Freenet.png"
  url="https://freenetproject.org/"
  footer="OS: Windows, macOS, Linux."
  description=selfcontained_networks_freenet_descr
  %}

</div>

<h3>{% t selfcontained_networks.related_information %}</h3>

<ul>
  <li><a href="https://darknetdiaries.com/">darknetdiaries.com</a> {% t selfcontained_networks.true_stories %}</li>
</ul>

<h3>{% t selfcontained_networks.worth_mentioning %}</h3>

<ul>
  <li><a href="https://zeronet.io/">ZeroNet</a> {% t selfcontained_networks.zeronet_descr %}</li>
  <li><a href="https://retroshare.cc/">RetroShare</a> {% t selfcontained_networks.retroshare_descr %}</li>
  <li><a href="https://gnunet.org/">GNUnet</a> {% t selfcontained_networks.gnunet_descr %}</li>
  <li><a href="https://ipfs.io/">IPFS</a> {% t selfcontained_networks.ipfs_descr %}</li>
  <li><a href="https://yggdrasil-network.github.io/">Yggdrasil</a> {% t selfcontained_networks.yggdrasil_descr %}<span class="badge badge-warning" data-toggle="tooltip" title="{% t selfcontained_networks.yggdrasil_warning %}">{% t selfcontained_networks.experimental %} <i class=\"far fa-question-circle\"></i></span> <span class="badge badge-danger" data-toggle="tooltip" title="{% t selfcontained_networks.yggdrasil_danger %}">{% t selfcontained_networks.privacy_warning %} <i class="far fa-question-circle"></i></span></li>
</ul>
