<h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> Self-Hosted Cloud Server Software</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a Cloud Storage Services like Dropbox, Google Drive, Microsoft OneDrive or Apple iCloud, you should think about hosting it on your own.</strong>
</div>

{% include cardv2.html
title="Nextcloud"
image="/assets/img/provider/Nextcloud.png"
description="Similar functionally to the widely used Dropbox, with the difference being that Nextcloud is free and open-source, and thereby allowing anyone to install and operate it without charge on a private server, with no limits on storage space or the number of connected clients."
website="https://nextcloud.com/"
forum="https://forum.privacytools.io/t/discussion-nextcloud/287"
windows="https://nextcloud.com/install/#install-clients"
mac="https://nextcloud.com/install/#install-clients"
linux="https://nextcloud.com/install/#install-clients"
freebsd="https://www.freshports.org/www/nextcloud/"
openbsd="http://openports.se/www/nextcloud"
netbsd="http://pkgsrc.se/www/php-nextcloud"
fdroid="https://f-droid.org/packages/com.nextcloud.client/"
googleplay="https://play.google.com/store/apps/details?id=com.nextcloud.client"
ios="https://itunes.apple.com/us/app/nextcloud/id1125420102?mt=8"
github="https://github.com/nextcloud"
%}

{% include cardv2.html
title="Tahoe-LAFS"
image="/assets/img/tools/Tahoe-LAFS.png"
website="https://www.tahoe-lafs.org/"
forum="https://forum.privacytools.io/t/discussion-tahoe-lafs/1662"
description="Tahoe-LAFS is a Free and Open decentralized cloud storage system. It distributes your data across multiple servers. Even if some of the servers fail or are taken over by an attacker, the entire file store continues to function correctly, preserving your privacy and security."
windows="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
mac="https://github.com/tahoe-lafs/tahoe-lafs#via-pip"
linux="https://github.com/tahoe-lafs/tahoe-lafs#using-os-packages"
netbsd="http://pkgsrc.se/filesystems/tahoe-lafs"
git="https://www.tahoe-lafs.org/trac/tahoe-lafs/browser"
%}

{% include cardv2.html
title="Pydio"
image="/assets/img/tools/Pydio.png"
website="https://pydio.com/"
forum="https://forum.privacytools.io/t/discussion-pydio/1663"
description="Pydio is open source software that turns instantly any server (on-premise, NAS, cloud IaaS or PaaS) into a file sharing platform for your company. It is an alternative to SaaS Boxes and Drives, with more control, safety and privacy, and favorable TCOs."
windows="https://pydio.com/en/get-pydio/downloads/pydiosync-desktop-app"
mac="https://pydio.com/en/get-pydio/downloads/pydiosync-desktop-app"
linux="https://pydio.com/en/docs/v8/install-pydio-community"
googleplay="https://play.google.com/store/apps/details?id=com.pydio.android.cells"
ios="https://itunes.apple.com/fr/app/pydio/id709275884"
github="https://github.com/pydio"
%}

<h3>Worth Mentioning</h3>
<ul>
  <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> - End-to-end encrypted real time collaboration sharing folders, media, and documents (open-source).</li>
</ul>
