<h1 id="mycloud" class="anchor"><a href="#mycloud"><i class="fas fa-link anchor-icon"></i></a> {% t selfhosted_cloud.software %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t selfhosted_cloud.warning %}</strong>
</div>

{%- capture selfhosted_cloud_pydio_descr -%}{% t selfhosted_cloud.pydio_descr %}{%- endcapture -%}
{%- capture selfhosted_cloud_tahoe_descr -%}{% t selfhosted_cloud.tahoe_descr %}{%- endcapture -%}
{%- capture selfhosted_cloud_nextcloud_descr -%}{% t selfhosted_cloud.nextcloud_descr %}{%- endcapture -%}

<div class="row mb-2">

  {% include card.html color="success"
  title="Pydio"
  image="/assets/img/tools/Pydio.png"
  url="https://pydio.com/"
  footer="OS: Windows, macOS, Linux, iOS, Android."
  description=selfhosted_cloud_pydio_descr
  %}

  {% include card.html color="primary"
  title="Tahoe-LAFS"
  image="/assets/img/tools/Tahoe-LAFS.png"
  url="https://www.tahoe-lafs.org/"
  footer="OS: Windows, macOS, Linux."
  description=selfhosted_cloud_tahoe_descr
  %}

  {% include card.html color="warning"
  title="Nextcloud"
  image="/assets/img/provider/Nextcloud.png"
  url="https://nextcloud.com/"
  footer="Client OS: Windows, macOS, Linux, BSD, Unix, iOS, Android, Fire OS. Server: Linux."
  description=selfhosted_cloud_nextcloud_descr
  %}

</div>

<h3>{% t selfhosted_cloud.worth_mentioning %}</h3>
<ul>
  <li><a href="https://github.com/xwiki-labs/cryptpad/">CryptPad</a> {% t selfhosted_cloud.cryptpad_descr %}</li>
</ul>
