<h1 id="darknets" class="anchor"><a href="#darknets"><i class="fas fa-link anchor-icon"></i></a> Self-contained Networks</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently browsing <a href="https://en.wikipedia.org/wiki/Surface_Web">clearnet</a> and want to access the <a href="https://en.wikipedia.org/wiki/Dark_web">dark web</a>, this section is for you.</strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Tor Browser"
  image="/assets/img/tools/Tor-Project.png"
  url="https://www.torproject.org/"
  tor="http://expyuzz4wqqyqhjn.onion"
  footer='OS: Windows, macOS, Linux, <a href="https://mike.tig.as/onionbrowser/">iOS</a>, <a href="https://www.torproject.org/docs/android.html.en">Android</a>, <a href="https://github.com/torbsd/openbsd-ports">OpenBSD.</a>'
  description="The Tor network is a group of volunteer-operated servers that allows people to improve their privacy and security on the Internet. Tor's users employ this network by connecting through a series of virtual tunnels rather than making a direct connection, thus allowing both organizations and individuals to share information over public networks without compromising their privacy. Tor is an effective censorship circumvention tool."
  %}

  {% include card.html color="primary"
  title="I2P Anonymous Network"
  image="/assets/img/tools/I2P.png"
  url="https://geti2p.net/"
  footer="OS: Windows, macOS, Linux, Android, BSD / Solaris."
  description="The Invisible Internet Project (I2P) is a computer network layer that allows applications to send messages to each other pseudonymously and securely. Uses include anonymous
  Web surfing, chatting, blogging and file transfers. The software that implements this layer is called an I2P router and a computer running I2P is called an I2P node. The software is free and open source and is published under multiple licenses."
  %}

  {% include card.html color="warning"
  title="The Freenet Project"
  image="/assets/img/tools/Freenet.png"
  url="https://freenetproject.org/"
  footer="OS: Windows, macOS, Linux."
  description="Freenet is a peer-to-peer platform for censorship-resistant communication. It uses a decentralized distributed data store to keep and deliver information, and
  has a suite of free software for publishing and communicating on the Web without fear of censorship. Both Freenet and some of its associated tools were originally designed by Ian Clarke, who defined Freenet's goal as providing freedom of speech
  on the Internet with strong anonymity protection."
  %}

</div>

<h3>Related Information</h3>

<ul>
  <li><a href="https://darknetdiaries.com/">darknetdiaries.com</a> - True stories from the dark side of the Internet.</li>
</ul>  

<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://zeronet.io/">ZeroNet</a> - Open, free and uncensorable websites, using Bitcoin cryptography and BitTorrent network.</li>
  <li><a href="https://retroshare.cc/">RetroShare</a> - Open Source cross-platform, Friend-2-Friend and secure decentralized communication platform.</li>
  <li><a href="https://gnunet.org/">GNUnet</a> - GNUnet provides a strong foundation of free software for a global, distributed network that provides security and privacy.</li>
  <li><a href="https://ipfs.io/">IPFS</a> - A peer-to-peer hypermedia protocol to make the web faster, safer, and more open. (<a href="https://github.com/privacytoolsIO/privacytools.io/pull/361#issuecomment-344414022">important privacy warning</a>)</li>
</ul>
