<h1 id="laptops" class="anchor"><a href="#laptops"><i class="fas fa-link anchor-icon"></i></a> Laptops</h1>
<div class="row mb-2">

     {% include card.html color="success"
    title="Vikings"
    labels="warning:warning Hardware may still contain some non-free components."
    image="/assets/img/tools/vikings.png"
    url="https://vikings.net/"
    description="Privacy-respecting servers and workstations."
    %}


 </div>
 
  <h3>Worth Mentioning</h3>

 <ul>
    <li><a href="https://minifree.org/">Minifree</a> - LibreBooted hardware</li>
    <li><a href="https://tehnoetic.com/">Technoethical</a> - Hardware manufacturer focusing on free software.</li>
</ul>
