<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Decentralized Social Networks</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using Social Networks like Facebook or Twitter, you should pick an alternative here. </strong>
</div>

{% include cardv2.html
title="Mastodon - Twitter Alternative"
image="/assets/img/tools/Mastodon.png"
description='Mastodon is a social network based on open web protocols and free, open-source software. It is decentralized like e-mail. It also has the most users, and the most diverse (in terms of interests) users, looks good, and is easy to setup. Feel welcome to join our hosted instance: <a href="https://social.privacytools.io/">social.privacytools.io</a>'
website="https://joinmastodon.org/"
forum="https://forum.privacytools.io/t/discussion-mastodon/289"
github="https://github.com/tootsuite/mastodon"
android=""
ios=""
web=""
%}

{% include cardv2.html
title="diaspora* - Google+ Alternative"
image="/assets/img/tools/diaspora.png"
description="diaspora* is based on three key philosophies: Decentralization, freedom and privacy. It is intended to address privacy concerns related to centralized social networks by allowing users set up their own server (or \"pod\") to host content; pods can then interact to share status updates, photographs, and other social data."
website="https://diasporafoundation.org/"
forum="https://forum.privacytools.io/t/discussion-diaspora/290"
github="https://github.com/diaspora/diaspora"
android=""
web=""
%}

{% include cardv2.html
title="Friendica - Facebook Alternative"
image="/assets/img/tools/Friendica.png"
description="Friendica has an emphasis on extensive privacy settings and easy server installation. It aims to federate with as many other social networks as possible. Currently, Friendica users can integrate contacts from Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io and other services in their social streams."
website="https://friendi.ca/"
forum="https://forum.privacytools.io/t/discussion-friendica/291"
github="https://github.com/friendica/friendica"
windows=""
linux=""
android=""
web=""
%}

{% include cardv2.html
title="PixelFed - Instagram Alternative"
image="/assets/img/provider/pixelfed.png"
description='A free and ethical photo sharing platform, powered by ActivityPub federation. Pixelfed is an open-source, federated platform. You can run your own instance or <a href="https://fediverse.party/en/pixelfed/">join one.</a>'
website="https://pixelfed.social/"
forum="https://forum.privacytools.io/t/discussion-pixelfed/293"
github="https://github.com/pixelfed"
web=""
%}

{% include cardv2.html
title="GNU social - Twitter Alternative"
image="/assets/img/provider/gnu-social.png"
description="A social communication software for both public and private communications. It is widely supported and has a large userbase. It is already used by the Free Software Foundation."
website="https://gnu.io/social/"
forum="https://forum.privacytools.io/t/discussion-gnu-social/292"
github="https://github.com/foocorp/gnu-social"
android=""
ios=""
linux=""
windows=""
web=""
%}

<h3>Worth Mentioning</h3>
<ul>
  <li><a href="https://www.minds.com/">Minds</a> - An <a href="https://gitlab.com/minds">open source</a> and distributed social networking service, integrating the blockchain to reward the community.</li>
  <li><a href="https://movim.eu/">Movim</a> - Federated social platform that relies on the XMPP standard and therefore allows you to exchange with many other clients on all devices.</li>
</ul>

<h3>Related Information</h3>
<ul>
  <li><a href="https://addons.mozilla.org/firefox/addon/mastodon-simplified-federation/">Mastodon: Simplified Federation</a> - Firefox Extension to improve usability for remote Mastodon instances.</li>
  <li><a href="https://justdeleteme.xyz/">JustDeleteMe</a> - A directory of direct links to delete your account from web services.</li>
  <li><a href="https://forget.codl.fr/">Forget</a> - A service that automatically deletes your old posts on Twitter and Mastodon that everyone has forgotten about.</li>
</ul>

<h3>Facebook Related</h3>
<ul>
  <li><a href="https://www.facebook.com/help/delete_account">Delete your Facebook account</a> - Direct link to delete your Facebook account without being able to reactivate it again.</li>
  <li><a href="https://deletefacebook.com/">How To Permanently Delete A Facebook Account</a> - This guide will take you through a smooth and successful Facebook account deletion.</li>
  <li><a href="https://addons.mozilla.org/firefox/addon/facebook-container/">Facebook Container by Mozilla</a> - Prevent Facebook from tracking you around the web.</li>
  <li><a href="https://www.stopusingfacebook.co/">Stop using Facebook</a> - A curated list of reasons to stop using Facebook and how to do it.</li>  
</ul>	