<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Decentralized Social Networks</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using Social Networks like Facebook or Twitter, you should pick an alternative here.</strong>
</div>

{% include cardv2.html
  title="Mastodon - Twitter Alternative"
  image="/assets/img/svg/3rd-party/mastodon.svg"
  description='Mastodon is a social network based on open web protocols and free, open-source software. It is decentralized like email, users can exist on different servers or even different platforms but still communicate with each other. It also has the most users, and the most diverse (in terms of interests) users, it looks good, and it is easy to setup yourself. If you are looking for a server to join, you are welcome to join our hosted instance: <a href="https://social.privacytools.io/">social.privacytools.io</a>'
  website="https://joinmastodon.org/"
  forum="https://forum.privacytools.io/t/discussion-mastodon/289"
  github="https://github.com/tootsuite/mastodon"
  windows="https://joinmastodon.org/apps"
  mac="https://joinmastodon.org/apps"
  linux="https://joinmastodon.org/apps"
  freebsd="https://joinmastodon.org/apps"
  openbsd="https://joinmastodon.org/apps"
  netbsd="https://joinmastodon.org/apps"
  android="https://joinmastodon.org/apps"
  sailfish="https://joinmastodon.org/apps"
  ios="https://joinmastodon.org/apps"
  web="https://joinmastodon.org/#getting-started"
%}

{% include cardv2.html
  title="diaspora* - Google+ Alternative"
  image="/assets/img/svg/3rd-party/diaspora.svg"
  description="diaspora* is based on three key philosophies: Decentralization, Freedom, and Privacy. It is intended to address privacy concerns related to centralized social networks by allowing users set up their own server (or \"pod\") to host content. Pods can then interact to share status updates, photographs, and other social data."
  website="https://diasporafoundation.org/"
  forum="https://forum.privacytools.io/t/discussion-diaspora/290"
  github="https://github.com/diaspora/diaspora"
  android="https://wiki.diasporafoundation.org/Tools_to_use_with_Diaspora#Android"
  web="https://diasporafoundation.org/"
%}

{% include cardv2.html
  title="Friendica - Facebook Alternative"
  image="/assets/img/svg/3rd-party/friendica.svg"
  description="Friendica has an emphasis on extensive privacy settings and easy server installation. It aims to federate with as many other social networks as possible. Currently, Friendica users can integrate contacts from Facebook, Twitter, Diaspora, GNU social, App.net, Pump.io and other services in their social streams."
  website="https://friendi.ca/"
  forum="https://forum.privacytools.io/t/discussion-friendica/291"
  github="https://github.com/friendica/friendica"
  windows="https://friendi.ca/resources/mobile-clients/"
  linux="https://friendi.ca/resources/mobile-clients/"
  android="https://friendi.ca/resources/mobile-clients/"
  sailfish="https://friendi.ca/resources/mobile-clients/"
  web="https://friendi.ca/"
%}

{% include cardv2.html
  title="PixelFed - Instagram Alternative"
  image="/assets/img/svg/3rd-party/pixelfed.svg"
  description='PixelFed is a free and ethical photo sharing platform, powered by ActivityPub federation. Pixelfed is an open-source, federated platform. You can run your own instance or <a href="https://fediverse.party/en/pixelfed/">join an existing one.</a>'
  website="https://pixelfed.org/"
  forum="https://forum.privacytools.io/t/discussion-pixelfed/293"
  github="https://github.com/pixelfed"
  web="https://pixelfed.org/"
%}

{% include cardv2.html
  title="Pleroma - Twitter Alternative"
  image="/assets/img/svg/3rd-party/pleroma.svg"
  description="Pleroma is a free, federated social networking server built on open protocols. It is compatible with Mastodon and many other ActivityPub and OStatus implementations."
  website="https://pleroma.social"
  forum="https://forum.privacytools.io/t/discussion-pleroma/2307"
  gitlab="https://git.pleroma.social/pleroma/pleroma/"
  windows="https://docs-develop.pleroma.social/backend/clients/#desktop"
  mac="https://docs-develop.pleroma.social/backend/clients/#desktop"
  linux="https://docs-develop.pleroma.social/backend/clients/#desktop"
  android="https://docs-develop.pleroma.social/backend/clients/#handheld"
  fdroid="https://docs-develop.pleroma.social/backend/clients/#handheld"
  googleplay="https://docs-develop.pleroma.social/backend/clients/#handheld"
  ios="https://docs-develop.pleroma.social/backend/clients/#handheld"
  web="https://docs-develop.pleroma.social/backend/clients/#alternative-web-interfaces"
%}

<h3>Worth Mentioning</h3>
<ul>
  <li><a href="https://movim.eu/">Movim</a> - A federated social platform that relies on the XMPP standard and therefore allows you to exchange with many other clients on all devices.</li>
</ul>
