<h1 id="teamchat" class="anchor">
  <a href="#teamchat">
    <i class="fas fa-link anchor-icon"></i>
  </a> Team Chat Platforms
</h1>

<div class="alert alert-warning" role="alert">
  <strong>If your project or organization currently uses a platform like <a href="https://tosdr.org/#discord">Discord</a> or <a href="https://drewdevault.com/2015/11/01/Please-stop-using-slack.html">Slack</a> you should pick an alternative here.</strong>
</div>

{%
  include cardv2.html
  title="Riot"
  image="/assets/img/svg/3rd-party/riotim.svg"
  description='<a href="//about.riot.im">Riot.im</a> is the reference client for the <a href="//matrix.org/docs/guides/introduction">Matrix</a> network. The <a href="//matrix.org/docs/spec">Matrix open standard</a> is an open-source standard for secure, decentralized, real-time communication.<br />'
  labels="success:VoIP"
  website="https://about.riot.im/"
  privacy-policy="https://riot.im/privacy"
  forum="https://forum.privacytools.io/t/discussion-riot-im/665/"
  github="https://github.com/vector-im/riot-web/"
  windows="https://riot.im/download/desktop/"
  mac="https://riot.im/download/desktop/"
  linux="https://riot.im/download/desktop/"
  fdroid="https://f-droid.org/repository/browse/?fdid=im.vector.alpha"
  googleplay="https://play.google.com/store/apps/details?id=im.vector.app"
  ios="https://itunes.apple.com/app/vector.im/id1083446067"
  web="https://riot.im/app/"
%}

{%
  include cardv2.html
  title="Rocket.chat"
  image="/assets/img/svg/3rd-party/rocketchat.svg"
  description="Rocket.chat is an self-hostable open source platform for team communication. It has optional federation and experimental E2EE."
  labels="warning:<a href=//rocket.chat/docs/user-guides/end-to-end-encryption/>Experimental E2EE</a>:Regarding E2EE their documentation states 'This feature is currently in alpha. It's also not yet supported on mobile'. There is no forward secrecy so compromised decryption password would leak all messages. Federation was also added afterwards, potentially causing room for mistakes.|success:VoIP"
  website="https://rocket.chat/"
  privacy-policy="https://rocket.chat/privacy"
  forum="https://forum.privacytools.io/t/discussion-rocket-chat/1223"
  github="https://github.com/rocketchat/"
  windows="https://rocket.chat/install"
  mac="https://itunes.apple.com/us/app/rocket-chat/id1086818840"
  linux="https://rocket.chat/install"
  fdroid="https://f-droid.org/packages/chat.rocket.android"
  googleplay="https://play.google.com/store/apps/details?id=chat.rocket.android"
  ios="https://itunes.apple.com/app/rocket-chat/id1148741252"
%}

{%
  include cardv2.html
  title="Keybase"
  image="/assets/img/svg/3rd-party/keybase.svg"
  description='Keybase provides a hosted team chat with E2EE. Its protocol has also been <a href="https://keybase.io/docs-assets/blog/NCC_Group_Keybase_KB2018_Public_Report_2019-02-27_v1.3.pdf">indepedently audited (PDF)</a>. Keybase can help you prove you own social media accounts through the use of cryptographic signing of "<a href="https://en.wikipedia.org/wiki/Keybase#Identity_proofs">identity proofs</a>".'
  labels="warning:<a href=github.com/keybase/client/issues/6374>Warning</a>:This software relies on a closed-source central server."
  website="https://keybase.io/"
  privacy-policy="https://keybase.io/docs/privacypolicy"
  forum="https://forum.privacytools.io/t/discussion-keybase/1224"
  tor="http://keybase5wmilwokqirssclfnsqrjdsi7jdir5wy7y7iu3tanwmtp6oid.onion/"
  github="https://github.com/Keybase"
  windows="https://keybase.io/docs/the_app/install_windows"
  mac="https://keybase.io/docs/the_app/install_macos"
  linux="https://keybase.io/docs/the_app/install_linux"
  freebsd="https://www.freshports.org/security/keybase/"
  googleplay="https://play.google.com/store/apps/details?id=io.keybase.ossifrage"
  ios="https://apps.apple.com/app/keybase-crypto-for-everyone/id1044461770"
  firefox="https://addons.mozilla.org/firefox/addon/keybase-for-firefox/"
  chrome="https://chrome.google.com/webstore/detail/keybase-for-reddit/ognfafcpbkogffpmmdglhbjboeojlefj"
%}
