<h1 id="tor_os" class="anchor"><a href="#tor_os"><i class="fas fa-link anchor-icon"></i></a> Tor-Focused Distributions</h1>

<div class="alert alert-info" role="alert">
  <strong>These Linux distributions are developed with the purpose of directing all network traffic through Tor.</strong>
</div>

{% include cardv2.html
  title="Tails"
  image="/assets/img/svg/3rd-party/tails.svg"
  description='Tails is a live operating system that can boot on almost any computer from a DVD, USB stick, or SD card you control. It aims at preserving privacy and anonymity, and circumventing censorship by forcing Internet connections through the Tor network; leaving no trace on the computer; and using state-of-the-art cryptographic tools to encrypt files, emails, and instant messages.'
  badges="info:Linux"
  website="https://tails.boum.org/"
  git="https://git-tails.immerda.ch/tails/"
  %}

{% include cardv2.html
  title="Whonix"
  image="/assets/img/svg/3rd-party/whonix.svg"
  description='A Debian-based security-focused Linux distribution. It aims to provide privacy, security and anonymity on the internet. The operating system consists of two virtual machines, a "Workstation" and a Tor "Gateway". All communication are forced through the Tor network to accomplish this. <a href="https://www.whonix.org/wiki/Qubes/Why_use_Qubes_over_other_Virtualizers">Whonix is best used in conjunction with Qubes.</a>'
  badges="info:Linux"
  website="https://www.whonix.org/"
  tor="http://www.dds6qkxpwdeubwucdiaord2xgbbeyds25rbsgr73tbfpqpt4a6vjwsyd.onion/"
  github="https://github.com/Whonix"
%}
