<h1 id="proxies" class="anchor"><a href="#proxies"><i class="fas fa-link anchor-icon"></i></a> Frontends and Proxies</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using a platform like YouTube, you can keep watching videos without sharing your IP.</strong>
</div>

{% include cardv2.html
  title="Invidious"
  image="/assets/img/svg/3rd-party/invidious.svg"
  description='Invidious is an alternative front-end to YouTube. It is free software, with no advertising or Javascript dependency to play videos, with lots of other features that allow you to have a complete YouTube experience, sans Google.'
  labels="color==warning::icon==fas fa-exclamation-triangle::link==https://github.com/iv-org/documentation/blob/master/Always-use-%22local%22-to-proxy-video-through-the-server-without-creating-an-account.md::text==Warning::tooltip==By default, Invidious will not proxy videos through the instance's proxy."
  website="https://invidio.us"
  github="https://github.com/iv-org/invidious"
  web="https://instances.invidio.us"
%}
