<h1 id="Video Streaming" class="anchor"><a href="#video"><i class="fas fa-link anchor-icon"></i></a> Video Streaming</h1>

  <div class="row mb-2">

    {% include card.html color="success"
    title="PeerTube"
    image="/assets/img/tools/peertube.png"
    url="https://joinpeertube.org/"
    footer="OS: Windows, macOS, Linux, FreeBSD, Web."
    description="PeerTube is a federated video streaming alternative."
    %}
    
    {% include card.html color="primary"
    title="Invidio / FreeTube"
    image="/assets/img/tools/freetube.png"
    url="https://github.com/FreeTubeApp/FreeTube"
    footer="OS: Windows, macOS, Linux, Web."
    description="FreeTube is an free software video streaming client utilizing <a href='https://invidio.us/'>Invidious</a>, an open-source privacy respecting API for YouTube."
    %}
    
    {% include card.html color="warning"
    title="LBRY"
    image="/assets/img/tools/lbry.png"
    url="https://lbry.io/"
    footer="OS: Windows, macOS, Linux, iOS, Android."
    description="LBRY is a decentralized protocol for sharing data, similar to BitTorrent or ZeroNet."
    %}    
    
    </div>
    
  <h3>Warning</h3>
  <ul>
    <li>Note: As of Dec 2018, LBRY does not have official support for TOR or I2p.</li>
  </ul>
    
  <h3>Worth Mentioning</h3>
  <ul>
    <li><a href="https://github.com/misses-robot/KopyKate-Big/blob/master/README.md">KopyKate</a> - A decentralized uncensored video streaming service on ZeroNet.</li>
    <li><a href="https://d.tube/">DTube</a> - A distributed video streaming service based on IPFS.</li>
  </ul>
