<h1 id="video" class="anchor"><a href="#video-audio"><i class="fas fa-link anchor-icon"></i></a> Decentralized Video/Audio Platforms</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using a platform like YouTube, Vimeo or SoundCloud, you should pick an alternative here.</strong>
</div>

<p>Note that content creators can not be anonymous with these platforms since the content is shared from peer-to-peer, directly from the content creator's device to the viewers.</p>

{% include cardv2.html
  title="PeerTube"
  image="/assets/img/svg/3rd-party/peertube.svg"
  image-dark="/assets/img/svg/3rd-party/peertube-dark.svg"
  description='PeerTube, developed by Framasoft, is a free and decentralized alternative to video platforms, with over 400,000 videos published by over 50,000 users and viewed over 10 million times. If you are looking for a server to join, you are welcome to join our hosted instance: <a href="https://tube.privacytools.io/">tube.privacytools.io</a>'
  website="https://joinpeertube.org"
  github="https://github.com/Chocobozzz/PeerTube"
  web="https://joinpeertube.org/#what-is-peertube"
%}

{% include cardv2.html
  title="Funkwhale"
  image="/assets/img/svg/3rd-party/funkwhale.svg"
  image-dark="/assets/img/svg/3rd-party/funkwhale-dark.svg"
  description='Funkwhale is a decentralized <a href="https://network.funkwhale.audio/dashboards/d/overview/funkwhale-network-overview">federated</a> audio sharing and social platform.'
  website="https://funkwhale.audio/"
  gitlab="https://dev.funkwhale.audio/funkwhale"
  web="https://funkwhale.audio/#get-started"
%}
