<h1 id="Video Streaming" class="anchor"><a href="#video"><i class="fas fa-link anchor-icon"></i></a> Video Streaming</h1>

  <div class="row mb-2">

    {% include card.html color="success"
    title="MediaGoblin"
    image="/assets/img/tools/mediagoblin.png"
    url="https://	www.mediagoblin.org/"
    footer="OS: Windows, macOS, Linux, FreeBSD, Web."
    description="MediaGoblin is a free/libre distributed software (server) to share many media types."
    %}

    {% include card.html color="primary"
    title="Invidio / FreeTube"
    image="/assets/img/tools/freetube.png"
    url="https://github.com/FreeTubeApp/FreeTube"
    footer="OS: Windows, macOS, Linux, Web."
    description="FreeTube is an free software video streaming client utilizing <a href='https://invidio.us/'>Invidious</a>, an open-source privacy respecting API for YouTube."
    %}

    </div>

  <h3>Worth Mentioning</h3>
  <ul>
    <li><a href="https://github.com/misses-robot/KopyKate-Big/blob/master/README.md">KopyKate</a> - A decentralized uncensored video streaming service on ZeroNet.</li>
  </ul>
