<h1 id="Video Streaming" class="anchor"><a href="#video"><i class="fas fa-link anchor-icon"></i></a> Video Streaming</h1>

  <div class="row mb-2">

    {% include card.html color="success"
    title="MediaGoblin"
    image="/assets/img/tools/mediagoblin.png"
    url="https://www.mediagoblin.org/"
    footer="OS: Windows, macOS, Linux, FreeBSD, Web."
    description="MediaGoblin is a free/libre tool to host media files in a distributed manner."
    %}

    {% include card.html color="primary"
    title="Invidio / FreeTube"
    image="/assets/img/tools/freetube.png"
    url="https://github.com/FreeTubeApp/FreeTube"
    footer="OS: Windows, macOS, Linux, Web."
    description="FreeTube is an free software video streaming client utilizing <a href='https://invidio.us/'>Invidious</a>, an open-source privacy respecting API for YouTube."
    %}

    </div>

  <h3>Worth Mentioning</h3>
  <ul>
    <li><a href="https://github.com/misses-robot/KopyKate-Big/blob/master/README.md">KopyKate</a> - <span class="badge badge-warning" data-toggle="toltoip" title="KopyKate is proprietary software (see href='https://github.com/misses-robot/KopyKate-Big/issues/22'>/KopyKate-Big/#22</a> ) and almost completely uncensored. Use this product with caution.">warning <i class="far fa-question-circle"></i></span> A decentralized uncensored video streaming service on ZeroNet.</li>
  </ul>
