<h1 id="win10" class="anchor"><a href="#vm"><i class="fas fa-link anchor-icon"></i></a> Use VMs for isolation.</h1>

<div class="alert alert-warning" role="alert">
  <strong> When opening up insecure applications use a VM!</strong>
</div>

<img src="/assets/img/layout/vm.jpg" width="367" height="369" class="img-fluid float-right" alt="virtual-machine-logo" style="margin-left:10px;">

<ol>
  <li><strong>Choosing a strong hyperviser.</strong>
    <ul>
      <li>Use one that is [free software](https://www.wikipedia.org/wiki/Free_software) like QEMU</li>
      <li>Stay wary of KVM as it can be a security flaw.</li>
      <li>Choose one with managable settings like shared clipboard.</li>
    </ul>
  </li>

  <li><strong>Choosing an OS.</strong>
    <ul>
      <li>View our [OS section](https://www.privacytools.io/operating-systems/) for information on OSes that respect your privacy.</li>
    </ul>
  </li>

</ol>

<h3>Related Information</h3>

<ul>
  <li><a href="https://security.stackexchange.com/questions/73338/can-virtual-machines-be-used-to-isolate-vulnerable-software">VMs Have Flaws</a> - Security Stack Echange question "Can virtual machines be used to isolate vulnerable software?".</li>
</ul>
