<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> {% t video_voice_call.title %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t video_voice_call.alert %}
</div>

{%- capture video_voice_call_linphone_descr -%}{% t video_voice_call.linphone_descr %}{%- endcapture -%}
{%- capture video_voice_call_mumble_descr -%}{% t video_voice_call.mumble_descr %}{%- endcapture -%}

{% include cardv2.html
title="Linphone"
image="/assets/img/tools/Linphone.png"
website="https://www.linphone.org/"
description=video_voice_call_linphone_descr
forum="https://forum.privacytools.io/t/discussion-linphone/751"
github="https://github.com/BelledonneCommunications"
ios=""
android=""
windows=""
linux=""
mac=""
web=""
%}

{% include cardv2.html
title="Mumble"
image="/assets/img/tools/Mumble.png"
website="https://mumble.info/"
description=video_voice_call_mumble_descr
forum="https://forum.privacytools.io/t/discussion-mumble/1289"
github="https://github.com/mumble-voip/"
windows=""
linux=""
mac=""
%}

<h3>{% t video_voice_call.worth_mentioning %}</h3>

<ul>
  <li><a href="https://jitsi.org/">Jitsi Meet</a> - {% t video_voice_call.jitsi_descr %} <span class="badge badge-warning" data-toggle="tooltip" title="{% t video_voice_call.webrtc_warning %}">{% t video_voice_call.requires_webrtc %}</span></li>
</ul>

<h3>{% t video_voice_call.related_information %}</h3>

<ul>
  <li>{% t video_voice_call.more_info_mumble %}</li>
  <ul>
  <li>{% t video_voice_call.running_mumble %}</li>
  <li>{% t video_voice_call.torifying_mumble %}</li>
  </ul>
</ul>
