<h1 id="voip" class="anchor"><a href="#voip"><i class="fas fa-link anchor-icon"></i></a> Encrypted Video & Voice Messenger</h1>

<div class="alert alert-warning" role="alert">
  <strong>If you are currently using a Video & Voice Messenger like Skype, Viber or Google Hangouts, you should pick an alternative here.</strong> <em>Please note that many VoIP messengers are already listed above in instant messaging section, so we only list particularly voice/video focused ones here.</em>
</div>

{% include cardv2.html
title="Linphone"
image="/assets/img/tools/Linphone.png"
website="https://www.linphone.org/"
description="Linphone is an open source SIP Phone and a free voice over IP service, available on mobile and desktop environments and on web browsers. It supports ZRTP for end-to-end encrypted voice and video communication."
forum="https://forum.privacytools.io/t/discussion-linphone/751"
github="https://github.com/BelledonneCommunications"
ios=""
android=""
windows=""
linux=""
mac=""
web=""
%}




<h3>Worth Mentioning</h3>

<ul>
  <li><a href="https://jitsi.org/">Jitsi Meet</a> - Jitsi Meet is a free and open source multiplatform voice (VoIP), videoconferencing and instant messaging application.</li>
</ul>

<h3>Related Information</h3>

<ul>
  <!-- TODO -->
</ul>
