<h1 id="vpn" class="anchor"><a href="#vpn"><i class="fas fa-link anchor-icon"></i></a> Privacy VPN Services</h1>

<div class="alert alert-success" role="alert">
  <strong>All providers listed here are outside the US, use encryption, accept Bitcoin, support OpenVPN and have a no logging policy.</strong>
</div>

{% assign eur_to_usd = 1.14 %}
<div class="table-responsive">
  <table class="table sortable-theme-bootstrap" data-sortable>
    <thead>
      <tr>
        <th data-sortable="true">Sortable VPN Providers Table</th>
        <th data-sortable="true">Yearly Price</th>
        <th data-sortable="true">Free Trial</th>
        <th data-sortable="true" title="Number of Servers"># Servers</th>
        <th data-sortable="true">WireGuard</th>
        <th data-sortable="true">Jurisdiction</th>
        <th data-sortable="false">Website</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-value="AirVPN">
          <a href="https://airvpn.org/"><img alt="AirVPN" src="/assets/img/provider/AirVPN.png" width="200" height="70"></a></td>
        <td data-value="{{ 54 | times: eur_to_usd }}">54 €</td>
        <td><span class="label label-success">Yes</span></td>
        <td>162</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-it"></span> Italy</td>
        <td><a href="https://airvpn.org/">AirVPN.org</a></td>
      </tr>

      <tr>
        <td data-value="AzireVPN">
          <a href="https://www.azirevpn.com/"><img alt="AzireVPN" src="/assets/img/provider/AzireVPN.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 45 | times: eur_to_usd }}">45 €</td>
        <td><span class="label label-success">Yes</span></td>
        <td>22</td>
        <td><span class="label label-success">Yes</span></td>
        <td><span class="flag-icon flag-icon-se"></span> Sweden</td>
        <td><a href="https://www.azirevpn.com/">AzireVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="blackVPN">
          <a href="https://www.blackvpn.com/"><img alt="blackVPN" src="/assets/img/provider/blackVPN.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 49 | times: eur_to_usd }}">49 €</td>
        <td><span class="label label-success">Yes</span></td>
        <td>31</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-hk"></span> Hong Kong</td>
        <td><a href="https://www.blackvpn.com/">blackVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="Cryptostorm">
          <a href="https://cryptostorm.is/"><img alt="Cryptostorm" src="/assets/img/provider/Cryptostorm.png" width="200" height="70"></a>
        </td>
        <td data-value="52">$ 52</td>
        <td><span class="label label-success">Yes</span></td>
        <td>28</td>
        <td><span class="label label-success">Yes</span></td>
        <td><span class="flag-icon flag-icon-is"></span> Iceland</td>
        <td><a href="https://cryptostorm.is/">Cryptostorm.is</a></td>
      </tr>

      <tr>
        <td data-value="ExpressVPN">
          <a href="https://www.expressvpn.com/"><img alt="ExpressVPN" src="/assets/img/provider/ExpressVPN.png" width="200" height="70"></a>
        </td>
        <td data-value="100">$ 99.95</td> <!-- USD on December 28, 2018 -->
        <td><span class="label label-success">Yes</span></td>
        <td>148</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-vg"></span> British Virgin Islands</td>
        <td><a href="https://www.expressvpn.com/">ExpressVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="FrootVPN">
          <a href="https://www.frootvpn.com/"><img alt="FrootVPN" src="/assets/img/provider/FrootVPN.png" width="200" height="70"></a>
        </td>
        <td data-value="36">$ 35.88</td>
        <td><span class="label label-warning">No</span></td>
        <td>27</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-se"></span> Sweden</td>
        <td><a href="https://www.frootvpn.com/">FrootVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="hide.me">
          <a href="https://hide.me/"><img alt="hide.me" src="/assets/img/provider/hide.me.png" width="200" height="70"></a>
        </td>
        <td data-value="0"><a data-toggle="tooltip" data-placement="bottom" data-original-title="2 GB data transfer, 1 simultaneous connection" href="https://hide.me/pricing">Free</a></td>
        <td><span class="label label-success">Yes</span></td>
        <td>160+</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-my"></span> Malaysia</td>
        <td><a href="https://hide.me/">hide.me</a></td>
      </tr>

      <tr>
        <td data-value="IVPN">
          <a href="https://www.ivpn.net/"><img alt="IVPN" src="/assets/img/provider/IVPN.png" width="200" height="70"></a>
        </td>
        <td data-value="100">$ 100</td>
        <td><span class="label label-success">Yes</span></td>
        <td>38</td>
        <td><span class="label label-success">Yes</span></td>
        <td><span class="flag-icon flag-icon-gi"></span> Gibraltar</td>
        <td><a href="https://www.ivpn.net/">IVPN.net</a></td>
      </tr>

      <tr>
        <td data-value="Mullvad">
          <a href="https://mullvad.net/"><img alt="Mullvad" src="/assets/img/provider/Mullvad.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 60 | times: eur_to_usd }}">60 €</td>
        <td><span class="label label-success">Yes</span></td>
        <td>281</td>
        <td><span class="label label-success">Yes</span></td>
        <td><span class="flag-icon flag-icon-se"></span> Sweden</td>
        <td><a href="https://mullvad.net/">Mullvad.net</a></td>
      </tr>

      <tr>
        <td data-value="NordVPN">
          <a href="https://nordvpn.com/"><img alt="NordVPN" src="/assets/img/provider/NordVPN.png" width="200" height="70"></a>
        </td>
        <td data-value="84">$ 83.88</td>
        <td><span class="label label-success">Yes</span></td>
        <td>5200+</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-pa"></span> Panama</td>
        <td><a href="https://nordvpn.com/">NordVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="OVPN.com">
          <a href="https://www.ovpn.com/"><img alt="OVPN" src="/assets/img/provider/ovpn.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 84 | times: eur_to_usd }}">84 €</td>
        <td><span class="label label-success">Yes</span></td>
        <td>67</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-se"></span> Sweden</td>
        <td><a href="https://www.ovpn.com/">OVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="Perfect Privacy">
          <a href="https://www.perfect-privacy.com/"><img alt="Perfect Privacy" src="/assets/img/provider/Perfect-Privacy.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 119.99 | times: eur_to_usd }}">119.99 €</td>
        <td><span class="label label-warning">No</span></td>
        <td>54</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
        <td><a href="https://www.perfect-privacy.com/">Perfect-Privacy.com</a></td>
      </tr>

      <tr>
        <td data-value="ProtonVPN">
          <a href="https://protonvpn.com/"><img alt="ProtonVPN" src="/assets/img/provider/ProtonVPN.png" width="200" height="70"></a     >
        </td>
        <td data-value="0"><a data-toggle="tooltip" data-placement="bottom" data-original-title="3 countries, 1 device, speed: low" href="https://protonvpn.com/pricing">Free</a></td>
        <td><span class="label label-success">Yes</span></td>
        <td>396</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-ch"></span> Switzerland</td>
        <td><a href="https://protonvpn.com/">ProtonVPN.com</a></td>
      </tr>

      <tr>
        <td data-value="Proxy.sh">
          <a href="https://proxy.sh/"><img alt="Proxy.sh" src="/assets/img/provider/Proxy.sh.png" width="200" height="70"></a>
        </td>
        <td data-value="40">$ 40</td>
        <td><span class="label label-warning">No</span></td>
        <td>300+</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-sc"></span> Seychelles</td>
        <td><a href="https://proxy.sh/">Proxy.sh</a></td>
      </tr>

      <tr>
        <td data-value="Trust.Zone">
          <a href="https://trust.zone/"><img alt="Trust.Zone" src="/assets/img/provider/Trust.Zone.png" width="200" height="70"></a>
        </td>
        <td data-value="40">$ 39.95</td>
        <td><span class="label label-success">Yes</span></td>
        <td>164</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-sc"></span> Seychelles</td>
        <td><a href="https://trust.zone/">Trust.Zone</a></td>
      </tr>
      <tr>
        <td data-value="VPN.ht">
          <a href="https://vpn.ht/"><img alt="VPN.ht" src="/assets/img/provider/VPN.ht.png" width="200" height="70"></a>
        </td>
        <td data-value="40">$ 39.99</td>
        <td><span class="label label-warning">No</span></td>
        <td>128</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-hk"></span> Hong Kong</td>
        <td><a href="https://vpn.ht/">VPN.ht</a></td>
      </tr>
      <tr>
        <td data-value="VPNArea">
          <a href="https://vpnarea.com/"><img alt="VPNArea" src="/assets/img/provider/vpnarea.png" width="200" height="70"></a>
        </td>
        <td data-value="59">$ 59</td>
        <td><span class="label label-success">Yes</span></td>
        <td>204</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-bg"></span> Bulgaria</td>
        <td><a href="https://vpnarea.com/">VPNArea.com</a></td>
      </tr>
      <tr>
        <td data-value="VPNTunnel">
          <a href="https://vpntunnel.com/"><img alt="VPNTunnel" src="/assets/img/provider/VPNTunnel.png" width="200" height="70"></a>
        </td>
        <td data-value="{{ 35.88 | times: eur_to_usd }}">35.88 €</td>
        <td><span class="label label-warning">No</span></td>
        <td>800+</td>
        <td><span class="label label-warning">No</span></td>
        <td><span class="flag-icon flag-icon-sc"></span> Seychelles</td>
        <td><a href="https://vpntunnel.com/">VPNTunnel.com</a></td>
      </tr>

    </tbody>
  </table>
</div>

<div class="alert alert-warning" role="alert">
  <strong>Note: Using a VPN provider will not make you anonymous. But it will give you a better privacy. A VPN is not a tool for illegal activities. Don't rely on a "no log" policy.</strong>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Our VPN Provider Criteria</h3>

      <ul>
        <li>Operating outside the USA or other Five Eyes countries.<br>More: <a href="https://www.bestvpn.com/the-ultimate-privacy-guide/#avoidus">Avoid all US and UK based services.</a></li>
        <li>OpenVPN software support.</li>
        <li>Accepts Bitcoin, cash, debit cards or cash cards as a payment method.</li>
        <li>No personal information is required to create an account. Only username, password and <a href="/providers/email/"><i class="fas fa-link"></i> Email.</a></li>
      </ul>

      <p>We're not affiliated with any of the above-listed VPN providers. This way we can give you honest recommendations.</p>

      <h3>More VPN Providers</h3>
      <ul>
        <li><a href="https://www.reddit.com/r/privacytoolsIO/comments/43d4zs/you_guys_might_be_interested_in_this_a/">Guide to Choosing the Best VPN</a></li>
        <li><a href="https://thatoneprivacysite.net/vpn-comparison-chart/">Spreadsheet with unbiased, independently verifiable data on over 100 VPN services.</a></li>
      </ul>
    </div>

    <div class="col-md-6">

      <h3>Related VPN information</h3>

      <ul>
        <li><a href="https://vikingvpn.com/blogs/off-topic/beware-of-vpn-marketing-and-affiliate-programs">Beware of False Reviews - VPN Marketing and Affiliate Programs</a></li>
        <li><a href="https://www.goldenfrog.com/take-back-your-internet/articles/7-myths-about-vpn-logging-and-anonymity">I am Anonymous When I Use a VPN - 7 Myths Debunked</a><br />(<strong>Note:</strong> While this is a good read, they also use the article for self-promotion)</li>
        <li><a href="https://torrentfreak.com/proxy-sh-vpn-provider-monitored-traffic-to-catch-hacker-130930/">Proxy.sh VPN Provider Sniffed Server Traffic to Catch Hacker</a></li>
        <li><a href="https://proxy.sh/panel/knowledgebase.php?action=displayarticle&id=5">Ethical policy - All of the reasons why Proxy.sh might enable logging</a></li>
        <li><a href="https://www.ivpn.net/privacy">IVPN.net will collect your email and IP address after sign up</a><br />Read the <a data-toggle="tooltip" data-placement="top" data-original-title="The IP collected at signup is only used for a few seconds by our fraud module and then discarded, it is not stored. Storing them would significantly increase our own liability and certainly would not be in our interest. You're absolutely welcome to signup using Tor or a VPN.">Email statement</a> from IVPN.</li>
        <li><a href="https://medium.com/@blackVPN/no-logs-6d65d95a3016">blackVPN announced to delete connection logs after disconnection</a></li>
        <li><a href="https://gist.github.com/kennwhite/1f3bc4d889b02b35d8aa">Don't use LT2P IPSec, use other protocols.</a></li>
      </ul>

    </div>
  </div>
</div>