<h1 id="win10" class="anchor"><a href="#win10"><i class="fas fa-link anchor-icon"></i></a> {% t Don't use Windows 10 - It's a privacy nightmare %}</h1>

<div class="alert alert-warning" role="alert">
  <strong>{% t Microsoft introduced a lot of new features in Windows 10 such as Cortana. However, most of them are violating your privacy. %}</strong>
</div>

<img src="/assets/img/layout/Windows-10-Privacy.png" width="367" height="369" class="img-fluid float-right ml-3" alt="{% t Windows 10 Privacy %}">

<ol>
  <li><strong>{% t Data syncing is by default enabled. %}</strong>
    <ul>
      <li>{% t Browsing history and open websites. %}</li>
      <li>{% t Apps settings. %}</li>
      <li>{% t WiFi hotspot names and passwords. %}</li>
    </ul>
  </li>

  <li><strong>{% t Your device is by default tagged with a unique advertising ID. %}</strong>
    <ul>
      <li>{% t Used to serve you with personalized advertisements by third-party advertisers and ad networks. %}</li>
    </ul>
  </li>

  <li><strong>{% t Cortana can collect any of your data. %}</strong>
    <ul>
      <li>{% t Your keystrokes, searches and mic input. %}</li>
    </ul>
    <ul>
      <li>{% t Calendar data. %}</li>
    </ul>
    <ul>
      <li>{% t Music you listen to. %}</li>
    </ul>
    <ul>
      <li>{% t Credit Card information. %}</li>
    </ul>
    <ul>
      <li>{% t Purchases. %}</li>
    </ul>
  </li>

  <li><strong>{% t Microsoft can collect any personal data. %}</strong>
    <ul>
      <li>{% t Your identity. %}</li>
    </ul>
    <ul>
      <li>{% t Passwords. %}</li>
    </ul>
    <ul>
      <li>{% t Demographics. %}</li>
    </ul>
    <ul>
      <li>{% t Interests and habits. %}</li>
    </ul>
    <ul>
      <li>{% t Usage data. %}</li>
    </ul>
    <ul>
      <li>{% t Contacts and relationships. %}</li>
    </ul>
    <ul>
      <li>{% t Location data. %}</li>
    </ul>
    <ul>
      <li>{% t Content like emails, instant messages, caller list, audio and video recordings. %}</li>
    </ul>
  </li>

  <li><strong>{% t Your data can be shared. %}</strong>
    <ul>
      <li>{% t When downloading Windows 10, you are authorizing Microsoft to share any of above-mentioned data with any third-party, with or without your consent. %}</li>
    </ul>
  </li>
</ol>

<p><a class="btn btn-warning" href="{% t https://www.winprivacy.de/english-home/ %}">{% t Download: W10Privacy %}</a></p>

<p>{% t This tool uses some known methods that attempt to disable major tracking features in Windows 10. %}</p>

<h3>{% t Related Information %}</h3>

<ul>
  <li><a href="{% t https://privacy.microsoft.com/en-us/privacystatement %}">{% t Microsoft Privacy Statement %}</a> - {% t Microsoft collects, uses and discloses personal information as described here. This allows OneDrive data, Cortana searches, and MS browser history to be sold to third parties. %}</li>
  <li><a href="{% t https://support.microsoft.com/en-us/help/4468233/cortana-and-privacy-microsoft-privacy %}">{% t Cortana and privacy %}</a> - {% t To personalize your experience and provide the best possible suggestions, Cortana accesses your email and other communications and collects data about your contacts (People), like their title, suffix, first name, last name, middle name, nicknames, and company name. If you call, email, or text someone or they call, email, or text you, Cortana collects that person’s email address or phone number. %}</li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>{% t Some good news %}</h3>
      <ul>
        <li><a href="{% t https://github.com/crazy-max/WindowsSpyBlocker/releases %}">{% t WindowsSpyBlocker %}</a> - {% t Open-source tool that blocks data collection. %}</li>
        <li><a href="{% t https://www.ghacks.net/2015/08/14/comparison-of-windows-10-privacy-tools/ %}">{% t Comparison of Windows 10 Privacy tools %}</a> - ghacks.net</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h3>{% t More bad news %}</h3>
      <ul>
        <li><a href="{% t https://thehackernews.com/2016/02/microsoft-windows10-privacy.html %}">
            {% t Windows 10 Sends Your Data 5500 Times Every Day Even After Tweaking Privacy Settings %}</a> - {% t The Hacker News. %}</li>
        <li><a href="{% t https://arstechnica.com/information-technology/2015/08/even-when-told-not-to-windows-10-just-cant-stop-talking-to-microsoft/ %}">{% t Even when told not to, Windows 10 just can't stop talking to Microsoft. It's no wonder that privacy activists are up in arms. %}</a> - {% t Ars Technica. %}</li>
        <li><a href="{% t https://www.techdirt.com/articles/20150820/06171332012/windows-10-reserves-right-to-block-pirated-games-unauthorized-hardware.shtml %}">{% t Windows 10 Reserves The Right To Block Pirated Games And 'Unauthorized' Hardware. %}</a> - {% t Techdirt. %}</li>
      </ul>
    </div>
  </div>
</div>
