{% if include.link %}
<a
  href="{{ include.link }}" class="badge badge-{{ include.color | default: "info" }}"
  {% if include.tooltip %}
  data-toggle="tooltip"
  title="{{ include.tooltip }}"><i class="{{ include.icon | default: "far fa-question-circle"}}"></i> {{ include.text }}
{% else %}><i class="{{ include.icon | default: "fas fa-external-link-alt"}}"></i> {{ include.text }}{% endif %}
</a>
{% else %}
<span
  class="badge badge-{{ include.color | default: "info" }}"
  {% if include.tooltip %}
    data-toggle="tooltip"
    title="{{ include.tooltip }}"
    > <i class="{{ include.icon | default: "far fa-question-circle"}}"></i> {{include.text}}
  {% else %}
    > {% if include.icon %}<i class="{{ include.icon }}"></i>{% endif %} {{include.text}}
  {% endif %}
</span>
{% endif %}
