{% if include.link %}
<a
  href="{{ include.link }}" class="badge badge-{{ include.color | default: "info" }}"
  {% if include.tooltip %}
  data-toggle="tooltip"
  data-original-title="{{ include.tooltip }}"><em class="{{ include.icon | default: "far fa-question-circle"}}"></em> {{ include.text }}
{% else %}><em class="{{ include.icon | default: "fas fa-external-link-alt"}}"></em> {{ include.text }}{% endif %}
</a>
{% else %}
<span
  class="badge badge-{{ include.color | default: "info" }}"
  {% if include.tooltip %}
    data-toggle="tooltip"
    data-original-title="{{ include.tooltip }}"
    > <em class="{{ include.icon | default: "far fa-question-circle"}}"></em> {{include.text}}
  {% else %}
    > {% if include.icon %}<em class="{{ include.icon }}"></em>{% endif %} {{include.text}}
  {% endif %}
</span>
{% endif %}
