<footer>

  <hr class="footer-divider" />

  <h3 id="participate">Spread the word and help your friends</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://www.privacytools.io/" class="share-btn email" title="Email">
        <i class="fas fa-envelope"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.privacytools.io" class="share-btn facebook" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://www.privacytools.io/&amp;via=privacytoolsIO" class="share-btn twitter" title="Twitter">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io" class="share-btn mastodon" title="Mastodon">
        <i class="fab fa-mastodon"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="reddit">
        <i class="fab fa-reddit-alien"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a href="http://www.stumbleupon.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn stumbleupon" title="StumbleUpon">
        <i class="fab fa-stumbleupon"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io" class="share-btn diaspora" title="Diaspora*">
        <i class="fas fa-asterisk"></i>
      </a>
    </div>
  </div>

  <h3>Copy URL and Description</h3>

  <p>
  <input type="text" value="www.privacytools.io - encryption against global mass surveillance" onclick="this.focus();this.select()" class="form-control input-lg">
  <span class="help-block">For easy copy and paste. Share this text snippet.</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center d-flex justify-content-center">
      <a href="https://www.privacytools.io/LICENSE.txt" data-toggle="tooltip" data-placement="top" data-original-title="This work is free. You can redistribute it and/or modify it under the terms of the &quot;Creative Commons CC0 1.0 Universal Public Domain Dedication&quot;."><img alt="CC0" src="/assets/img/layout/zero.png" width="32" height="32">CC0</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <a href="https://www.kopimi.com/" data-toggle="tooltip" data-placement="top" data-original-title="kopimi (copyme), symbol showing that you want to be copied. use kopimi in your own fancy. kopimi may be put on homepages or blogs, in books, in software, as sound logos in music or whatever."><img alt="kopimi" src="/assets/img/layout/kopimi.png" width="32" height="33">kopimi</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="far fa-envelope fa-2x"></i>
      <a href="/contact/">Contact</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="fas fa-heart fa-2x text-danger"></i>
      <a data-toggle="tooltip" data-placement="top" data-original-title="Please support this project by donating. We are ad free and not affiliated with any providers. Your donation will cover our cost for server and domain." href="/donate/">Donate</a>
    </div>
  </div>

  <div class="copyright-text">
    <p><strong>No Ads, No Google Analytics, No Affiliates, No Cross-Site Requests.</strong> <em>privacytools.io is a socially motivated website that provides information for protecting your data security and privacy. Never trust any company with your privacy, always encrypt.</em> <a href="/privacy-policy/">View our privacy policy</a>.</p>
    <p>Tor v3: <strong>privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</strong> (<a href="https://write.privacytools.io/jonah/tor-on-privacytools-io">Learn More</a>)</p>
  </div>

</footer>
