<footer>

  <hr class="footer-divider" />

  <h3 id="participate">{% t footer.foo %}</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://www.privacytools.io/" class="share-btn email" title="{% t footer.email_title %}">
        <i class="fas fa-envelope pl-3"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.privacytools.io" class="share-btn facebook" title="{% t footer.facebook_title %}">
        <i class="fab fa-facebook-f pl-3"></i>
      </a>

      <a href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://www.privacytools.io/&amp;via=privacytoolsIO" class="share-btn twitter" title="{% t footer.twitter_title %}">
        <i class="fab fa-twitter pl-3"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io" class="share-btn mastodon" title="{% t footer.mastodon_title %}">
        <i class="fab fa-mastodon pl-3"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn reddit" title="{% t footer.mastodon_title %}">
        <i class="fab fa-reddit-alien pl-3"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn linkedin" title="{% t footer.linkedin_title %}">
        <i class="fab fa-linkedin-in pl-3"></i>
      </a>

      <a href="http://www.stumbleupon.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance" class="share-btn stumbleupon" title="{% t footer.stumbleupon_title %}">
        <i class="fab fa-stumbleupon pl-3"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io" class="share-btn diaspora" title="{% t footer.diaspora_title %}">
        <i class="fas fa-asterisk pl-3"></i>
      </a>
    </div>
  </div>

  <h3>{% t footer.copy_url_description %}</h3>

  <p>
  <input type="text" value="www.privacytools.io - encryption against global mass surveillance" onclick="this.focus();this.select()" class="form-control input-lg">
  <span class="help-block">{% t footer.for_easy_copy_paste %}</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center d-flex justify-content-center">
      <a href="https://www.privacytools.io/LICENSE.txt" data-toggle="tooltip" data-placement="top" data-original-title="{% t footer.CC0_title %}"><img alt="{% t footer.CC0 %}" src="/assets/img/layout/zero.png" width="32" height="32">{% t footer.CC0 %}</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <a href="https://www.kopimi.com/" data-toggle="tooltip" data-placement="top" data-original-title="{% t footer.kopimi_title %}"><img alt="{% t footer.kopimi %}" src="/assets/img/layout/kopimi.png" width="32" height="33">{% t footer.kopimi %}</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="far fa-envelope fa-2x"></i>
      <a href="/contact/">{% t footer.contact %}</a>
    </div>

    <div class="col-md-3 col-sm-6 mb-3 d-flex justify-content-center">
      <i class="fas fa-heart fa-2x text-danger"></i>
      <a data-toggle="tooltip" data-placement="top" data-original-title="{% t footer.donate_title %}" href="/donate/">{% t footer.donate %}</a>
    </div>
  </div>

  <div class="copyright-text">
    <p>{% t footer.no_ads %}</p>
    <p>{% t footer.tor %} <strong>privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</strong> (<a href="https://write.privacytools.io/jonah/tor-on-privacytools-io">{% t footer.learn_more %}</a>)</p>
  </div>

</footer>
