<footer>

  <hr class="footer-divider" />

  <h3 id="participate">{% t Spread the word and help your friends %}</h3>

  <div class="row mb-4">
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="mailto:?subject={{ "privacytools.io - encryption against global mass surveillance" | translate_text | uri_escape }}&body={{ site.production_url | append_lang | uri_escape }}/" class="share-btn email" title="{% t Email %}">
        <i class="fas fa-envelope pl-3"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url | append_lang | uri_escape }}" class="share-btn facebook" title="{% t Facebook %}">
        <i class="fab fa-facebook-f pl-3"></i>
      </a>
      <a href="https://twitter.com/share?text={{ "Knowledge and tools to protect your privacy against global mass surveillance" | translate_text | uri_escape }}%20&amp;url={{ site.production_url | append_lang}}/&amp;via=privacytoolsIO" class="share-btn twitter" title="{% t Twitter %}">
        <i class="fab fa-twitter pl-3"></i>
      </a>

      <a href="https://sharetomastodon.github.io/?title={{ "privacytools.io - encryption against global mass surveillance" | translate_text | uri_escape }}&url={{ site.production_url | append_lang | uri_escape }} " class="share-btn mastodon" title="{% t Mastodon %}">
        <i class="fab fa-mastodon pl-3"></i>
      </a>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-between">
      <a href="https://reddit.com/submit?url={{ site.production_url | append_lang | uri_escape }} &title={{ "privacytools.io - encryption against global mass surveillance" | translate_text | uri_escape }}" class="share-btn reddit" title="{% t reddit %}">
        <i class="fab fa-reddit-alien pl-3"></i>
      </a>

      <a href="https://www.linkedin.com/shareArticle?url={{ site.production_url | append_lang | uri_escape }} &title={{ "privacytools.io - encryption against global mass surveillance" | translate_text | uri_escape }}" class="share-btn linkedin" title="{% t LinkedIn %}">
        <i class="fab fa-linkedin-in pl-3"></i>
      </a>

      <a href="https://mix.com/mixit?su=submit&url={{ site.production_url | append_lang | uri_escape }} &title={{ "privacytools.io - encryption against global mass surveillance" | translate_text | uri_escape }}" class="share-btn mix" title="{% t Mix %}">
        <i class="ptio-mix pl-3"></i>
      </a>

      <a href="https://sharetodiaspora.github.io/?title={{ "privacytools.io - encryption against global mass surveillance" | translate_text | uri_escape }}&url={{ site.production_url | append_lang | uri_escape }} " class="share-btn diaspora" title="{% t Diaspora* %}">
        <i class="fas fa-asterisk pl-3"></i>
      </a>
    </div>
  </div>

  <h3>{% t Copy URL and Description %}</h3>

  <p>
  <input type="text" value="{% t {{ site.name }} - Encryption and tools to protect against global mass surveillance - {{ site.production_url | append_lang | uri_escape }} %}" class="form-control input-lg onclick-select">
  <span class="help-block">{% t For easy copy and paste. Share this text snippet. %}</span>
  </p>

  <hr class="footer-divider" />

  <div class="row mt-3">
    <div class="col-sm-4 mb-3 d-flex justify-content-center d-flex justify-content-center">
      <a href="/LICENSE.txt" data-toggle="tooltip" data-placement="top" data-original-title="{% t This work is free. You can redistribute it and/or modify it under the terms of the &quot;Creative Commons CC0 1.0 Universal Public Domain Dedication&quot;.%}"><img alt="CC0" src="/assets/img/layout/zero.png" width="32" height="32">CC0</a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <i class="far fa-address-card fa-2x"></i>
      <a href={{ "/about/" | translate_page }}>{% t About Us %} &amp; {% t Contact %}</a>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <i class="fas fa-donate fa-2x"></i>
      <a href={{ "/donate/" | translate_page }} data-toggle="tooltip" data-placement="top" data-original-title="{% t Please support this project by donating. We are ad-free and not affiliated with any providers. Your donation will cover our costs for servers and domains. %}">{% t Support Us! %}</a>
    </div>
  </div>

  <div class="copyright-text">
    <p><a href="/about/javascript" data-jslicense="1">
      <span class="fab fa-js fa-lg"></span>
      {% t JavaScript Licenses %}
    </a></p>
    <p>
      <a href="https://weblate.nablahost.com/engage/privacytoolsio/?utm_source=widget">
        <img src="https://assets.privacytools.io/weblate/privacytoolsio/{{ page.language | replace: "_", "-" | default: "-" }}/website/svg-badge.svg" alt="{% t Translation status %}" />
        {% t Help translate PrivacyTools on Weblate!%}
      </a>
      {% t Non-English (translated) versions of PrivacyTools are crowdsourced and provided on an as-is basis, and we make no guarantees towards the accuracy of each translated site. %}
    </p>
    <p>
      <strong>{% t No Ads, No Google Analytics, No Affiliates, No Cross-Site Requests.%}</strong>
      <em>{% t {{ site.name }} is a socially motivated website that provides information for protecting your data security and privacy. Never trust any company with your privacy, always encrypt. %}</em>
      <a href="/privacy/">{% t View our privacy statement %}</a>.
    </p>
    <p class="text-left">
      Tor v3: <strong>privacy2zbidut4m4jyj3ksdqidzkw3uoip2vhvhbvwxbqux5xy5obyd.onion</strong>
      (<a href="https://write.privacytools.io/jonah/tor-on-privacytools-io">{% t Learn More %}</a>)
    </p>

  </div>
</footer>
