<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="privacy, anonymity, privacy tools, surveillance, encryption">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="canonical" href="{{ page.permalink | prepend: site.production_url }}">
  {% hreflang %}

  <!-- title -->
  {% if page.title %}
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta property="og:title" content="{{ page.title }} | {{ site.name }}" />
  {% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title }}" />
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.permalink | prepend: site.production_url }}" />
  <meta property="og:image" content="{{ site.production_url }}/assets/img/layout/ogimage.jpg" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:locale" content="{{ page.language | default: "en_GB" }}" />
  <meta property="og:site_name" content="{{ site.name }}" />

  {% if page.url == "/" or page.url == "/about/" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ site.name }}",
    "description": "{{ site.description }}",
    "alternateName": [
      "privacytools.io",
      "Privacy Tools",
      "privacytoolsIO"
    ],
    "url": "{{ site.production_url }}",
    "logo": "{{ site.production_url }}/assets/img/layout/shield.png",
    "sameAs": [
      "https://blog.privacytools.io",
      "https://twitter.com/privacytoolsIO",
      "https://social.privacytools.io/@privacytools",
      "https://www.youtube.com/channel/UCen3taxHtzByXV8Da73B1Vg",
      "https://github.com/privacytoolsIO"
    ]
  }
  </script>
  {% endif %}

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">

  <!-- CSS stylesheets -->
  <link href="/assets/css/style.css?v=9" rel="stylesheet">
  <link id="dark-css" href="/assets/css/dark.css?v=4" rel="stylesheet" media="(prefers-color-scheme: dark)">
</head>
