<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="privacy, anonymity, privacy tools, surveillance, encryption">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ site.production_url }}{{ page.url | replace:'index.html',''}}">

  <!-- title -->
  {% if page.title %}
  <title>{{ page.title }} | {{ site.name }}</title>
  <meta property="og:title" content="{{ page.title }} | {{ site.name }}" />
  {% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title }}" />
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.permalink | prepend: site.url }}" />
  <meta property="og:image" content="{{ site.production_url }}/assets/img/svg/layout/brand/square-transparent.svg" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:locale" content="en_GB" />
  <meta property="og:site_name" content="{{ site.name }}" />

  {% if page.url == "/" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "{{ site.name }}",
    "description": "{{ site.description }}",
    "alternateName": [
      "privacytools.io",
      "Privacy Tools",
      "privacytoolsIO"
    ],
    "url": "{{ site.production_url }}",
    "logo": "{{ site.production_url }}/assets/img/svg/layout/brand/square-transparent.svg",
    "sameAs": [
      "https://blog.privacytools.io",
      "https://twitter.com/privacytoolsIO",
      "https://social.privacytools.io/@privacytools",
      "https://www.youtube.com/channel/UCen3taxHtzByXV8Da73B1Vg",
      "https://github.com/privacytools"
    ]
  }
  </script>
  {% endif %}

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/png/favicons/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/png/favicons/favicon-32x32.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/png/favicons/favicon-16x16.png?v=2">
  <link rel="manifest" href="/assets/img/png/favicons/site.webmanifest?v=2">
  <link rel="mask-icon" href="/assets/img/png/favicons/safari-pinned-tab.svg?v=2" color="#3498db">
  <link rel="shortcut icon" href="/assets/img/png/favicons/favicon.ico?v=2">
  <meta name="msapplication-TileColor" content="#3498db">
  <meta name="msapplication-config" content="/assets/img/png/favicons/browserconfig.xml?v=2">
  <meta name="theme-color" content="#ffffff">


  <!-- CSS stylesheets -->
  <link href="/assets/css/style.css?v=9" rel="stylesheet">
  {% unless page.url == '/sponsors/' %}<link id="dark-css" href="/assets/css/dark.css?v=4" rel="stylesheet" media="(prefers-color-scheme: dark)">{% endunless %}
</head>
