<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if page.active_page %}
        <li class="nav-item">
          <a class="nav-link" href="index.html"><i class="fas fa-home"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#top"><i class="fas fa-home"></i> <span class="sr-only">Home (current)</span></a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="providerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Provider
          </a>
          <div class="dropdown-menu" aria-labelledby="providerDropdown">
            <a class="dropdown-item" href="#ukusa">Avoid all US and UK based services</a>
            <a class="dropdown-item" href="#vpn">Virtual Private Network (VPN)</a>
            <a class="dropdown-item" href="#email">Privacy Email</a>
            <a class="dropdown-item" href="#wc">Warrant Canaries</a>
            <a class="dropdown-item" href="#cloud">Encrypted Cloud Storage Services</a>
            <a class="dropdown-item" href="#social">Decentralized Social Networks</a>
            <a class="dropdown-item" href="#dns">Domain Name System (DNS)</a>
            <a class="dropdown-item" href="#search">Privacy Respecting Search Engines</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="browserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browser
          </a>
          <div class="dropdown-menu" aria-labelledby="browserDropdown">
            <a class="dropdown-item" href="#browser">Recommendation</a>
            <a class="dropdown-item" href="#fingerprint">Fingerprint</a>
            <a class="dropdown-item" href="#webrtc">WebRTC IP Leak</a>
            <a class="dropdown-item" href="#addons">Firefox Privacy Add-ons</a>
            <a class="dropdown-item" href="#about_config">Privacy Related Tweaks</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="softwareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Software
          </a>
          <div class="dropdown-menu" aria-labelledby="softwareDropdown">
            <a class="dropdown-item" href="#clients">Email Clients</a>
            <a class="dropdown-item" href="#messaging">Email Alternatives</a>
            <a class="dropdown-item" href="#search">Search Engines</a>
            <a class="dropdown-item" href="#im">Instant Messenger</a>
            <a class="dropdown-item" href="#voip">Video & Voice Messenger</a>
            <a class="dropdown-item" href="#pw">Password Manager</a>
            <a class="dropdown-item" href="#calendar_contacts">Calendar and Contacts Sync</a>
            <a class="dropdown-item" href="#encrypt">File Encryption</a>
            <a class="dropdown-item" href="#filesharing">File Sharing</a>
            <a class="dropdown-item" href="#sync">Secure File Sync</a>
            <a class="dropdown-item" href="#darknets">Self-contained Networks</a>
            <a class="dropdown-item" href="#mycloud">Self-Hosted Cloud Server</a>
            <a class="dropdown-item" href="#notebook">Digital Notebook</a>
            <a class="dropdown-item" href="#paste">Paste Services</a>
            <a class="dropdown-item" href="#productivity">Productivity Tools</a>
            <a class="dropdown-item" href="#win10">Don't use Windows 10</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="osDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            OS
          </a>
          <div class="dropdown-menu" aria-labelledby="osDropdown">
            <a class="dropdown-item" href="#os">PC OS</a>
            <a class="dropdown-item" href="#live_os">Live CD OS</a>
            <a class="dropdown-item" href="#mobile_os">Mobile OS</a>
            <a class="dropdown-item" href="#aaddons">Android Privacy Add-ons</a>
            <a class="dropdown-item" href="#firmware">Router Firmware</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#participate">Participate</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="shareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Share
          </a>
          <div class="dropdown-menu" aria-labelledby="shareDropdown">
            <a class="dropdown-item" href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://www.privacytools.io/">Email</a>
            <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=https://www.privacytools.io">Facebook</a>
            <a class="dropdown-item" href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://www.privacytools.io/&amp;via=privacytoolsIO">Twitter</a>
            <a class="dropdown-item" href="https://plus.google.com/share?url=https://www.privacytools.io">Google+</a>
            <a class="dropdown-item" href="http://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance">reddit</a>
            <a class="dropdown-item" href="https://www.linkedin.com/shareArticle?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance">LinkedIn</a>
            <a class="dropdown-item" href="http://www.stumbleupon.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance">StumbleUpon</a>
            <a class="dropdown-item" href="http://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io">Diaspora*</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/privacytoolsIO">Twitter</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if page.active_page == "donate" %}
        <li class="nav-item active">
          <a class="nav-link" href="#">Donate <i class="fas fa-heart text-danger"></i>  <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="donate.html">Donate <i class="fas fa-heart text-danger"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
