<div class="fixed-top bg-dark">
  <nav id="navbar">

    <input type="checkbox" id="nav-toggle" checked />
    <label for="nav-toggle" id="nav-toggle-label" class="fas fa-bars fa-lg"></label>
    <a id="nav-home-mobile" class="nav-anchor" href="/index.html">
      <img src="/assets/img/layout/logo_smaller.png" width="148px" height="22px" />
    </a>

    <div class="menu">

      <div id="nav-left" class="position-relative flex-col">
        <a class="nav-anchor" href="/index.html">
          <span id="nav-home" class="fas fa-home"></span>
        </a>

        <!-- Provider -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              {% t provider.provider %}
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/providers/#ukusa"><span class="fas fa-user-secret fa-fw"></span> {% t provider.us_uk %}</a>
            <a class="dropdown-item" href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> {% t provider.cloud_storage %}</a>
            <a class="dropdown-item" href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> {% t provider.dns %}</a>
            <a class="dropdown-item" href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> {% t provider.email %}</a>
            <a class="dropdown-item" href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> {% t provider.hosting %}</a>
            <a class="dropdown-item" href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> {% t provider.pastebins %}</a>
            <a class="dropdown-item" href="/providers/search-engines/"><span class="fas fa-search fa-fw"></span> {% t provider.search_engines %}</a>
            <a class="dropdown-item" href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> {% t provider.social_networks %}</a>
            <a class="dropdown-item" href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> {% t provider.news_aggregators %}</a>
            <a class="dropdown-item" href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> {% t provider.vpn %}</a>
          </span>
        </details>

        <!-- Browser -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              {% t browser.browser %}
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/browsers/#browser"><span class="fas fa-check fa-fw"></span> {% t browser.recommendations %}</a>
            <a class="dropdown-item" href="/browsers/#fingerprint"><span class="fas fa-fingerprint fa-fw"></span> {% t browser.fingerprint %}</a>
            <a class="dropdown-item" href="/browsers/#webrtc"><span class="far fa-eye fa-fw"></span> {% t browser.webrtc_ip_leak %}</a>
            <a class="dropdown-item" href="/browsers/#addons"><span class="far fa-list-alt fa-fw"></span> {% t browser.privacy_addons %}</a>
            <a class="dropdown-item" href="/browsers/#about_config"><span class="fas fa-wrench fa-fw"></span> {% t browser.tweaks %}</a>
          </span>
        </details>

        <!-- Software -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              {% t software.software %}
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/software/calendar-contacts/"><span class="fas fa-calendar fa-fw"></span> {% t software.cal_card %}</a>
            <a class="dropdown-item" href="/software/notebooks/"><span class="far fa-sticky-note fa-fw"></span> {% t software.notebook %}</a>
            <a class="dropdown-item" href="/software/email/#messaging"><span class="fas fa-random fa-fw"></span> {% t software.email_alt %}</a>
            <a class="dropdown-item" href="/software/email/"><span class="fas fa-envelope fa-fw"></span> {% t software.email_clients %}</a>
            <a class="dropdown-item" href="/software/encryption-tools/"><span class="fas fa-lock fa-fw"></span> {% t software.file_encryption %}</a>
            <a class="dropdown-item" href="/software/file-sharing/"><span class="fas fa-file-export fa-fw"></span> {% t software.file_sharing %}</a>
            <a class="dropdown-item" href="/software/passwords/"><span class="fas fa-user-lock fa-fw"></span> {% t software.password_managers %}</a>
            <a class="dropdown-item" href="/software/productivity/"><span class="fas fa-briefcase fa-fw"></span> {% t software.productivity %}</a>
            <a class="dropdown-item" href="/software/real-time-communication/"><span class="fas fa-comments fa-fw"></span> {% t software.rtc %}</a>
            <a class="dropdown-item" href="/software/file-sync/"><span class="fas fa-copy fa-fw"></span> {% t software.file_sync %}</a>
            <a class="dropdown-item" href="/software/networks/"><span class="fas fa-user-secret fa-fw"></span> {% t software.networks %}</a>
            <a class="dropdown-item" href="/software/cloud/"><span class="fas fa-hdd fa-fw"></span> {% t software.cloud %}</a>
          </span>
        </details>

        <!-- OS -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              {% t os.os %}
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="/operating-systems/#os"><span class="fas fa-th-large fa-fw"></span> {% t os.pc_os %}</a>
            <a class="dropdown-item" href="/operating-systems/#live_os"><span class="fas fa-compact-disc fa-fw"></span> {% t os.live_cd %}</a>
            <a class="dropdown-item" href="/operating-systems/#mobile_os"><span class="fas fa-mobile-alt fa-fw"></span> {% t os.mobile %}</a>
            <a class="dropdown-item" href="/operating-systems/#aaddons"><span class="fas fa-th fa-fw"></span> {% t os.android_addons %}</a>
            <a class="dropdown-item" href="/operating-systems/#firmware"><span class="fas fa-signal fa-fw"></span> {% t os.router %}</a>
            <a class="dropdown-item" href="/operating-systems/#win10"><span class="far fa-thumbs-down fa-fw"></span> {% t os.windows_10 %}</a>
          </span>
        </details>

        <a class="nav-anchor" href="/index.html#participate">{% t global.participate %}</a>
      </div>

      <!-- Language -->
      <div id="nav-right">
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              <span class="fas fa-language text-danger"></span>
              {% t global.language %}
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a href="https://privacytools.io/" class="dropdown-item">English</a>
            <a href="https://privacytools.twngo.xyz/" class="dropdown-item">繁體中文</a>
            <a href="https://victorhck.gitlab.io/privacytools-es/" class="dropdown-item">Español</a>
            <a href="https://pl.privacytools.io/" class="dropdown-item">Polski</a>
            <a href="https://www.privacidade.digital/" class="dropdown-item">Português</a>
            <a href="https://privacytools.it-sec.rocks/" class="dropdown-item">Deutsch</a>
            <a href="https://privacytools-it.github.io/" class="dropdown-item">Italiano</a>
            <a href="https://privacytools.ru" class="dropdown-item">Русский</a>
          </span>
        </details>

        <!-- Services -->
        <details class="nav-details">
          <summary>
            <span class="nav-summary">
              Services
              <span class="dropdown-toggle"></span>
            </span>
          </summary>
          <span class="nav-dropdown">
            <a class="dropdown-item" href="https://forum.privacytools.io/"><span class="fab fa-discourse fa-fw"></span> Discourse - {% t service_descriptions.discourse %}</a>
            <a class="dropdown-item" href="https://git.privacytools.io/"><span class="fab fa-git fa-fw"></span> Gitea - {% t service_descriptions.gitea %}</a>
            <a class="dropdown-item" href="https://social.privacytools.io/"><span class="fas fa-retweet fa-fw"></span> Mastodon - {% t service_descriptions.mastodon %}</a>
            <a class="dropdown-item" href="https://chat.privacytools.io/"><span class="fas fa-comment fa-fw"></span> Matrix - {% t service_descriptions.matrix %}</a>
            <a class="dropdown-item" href="https://bin.privacytools.io/"><span class="fas fa-clipboard fa-fw"></span> PrivateBin - {% t service_descriptions.privatebin %}</a>
            <a class="dropdown-item" href="https://search.privacytools.io/"><span class="fas fa-search fa-fw"></span> Searx - {% t service_descriptions.searx %}</a>
            <a class="dropdown-item" href="https://write.privacytools.io/"><span class="fas fa-pen-alt fa-fw"></span> Write Freely - {% t service_descriptions.writefreely %}</a>
          </span>
        </details>

        <a href="https://blog.privacytools.io/" class="nav-anchor">{% t service_descriptions.blog %} </a>
        <a href="/donate/" class="nav-anchor">
          {% t resources.donate %} <span class="fas fa-heart text-danger"></span>
        </a>
      </div>
    </div>
  </nav>
</div>
