<script src="/assets/js/jquery-3.3.1.min.js?v=4"></script>
<script src="/assets/js/popper.min.js?v=4"></script>
<script src="/assets/js/bootstrap.min.js?v=4"></script>
<script src="/assets/js/sortable.min.js?v=4"></script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});

	$('.navbar a').not(".dropdown-toggle").click(function(e) {
		if ($(".navbar-toggler").is(":visible")) {
			$('.navbar-collapse').collapse('toggle');
		}
	});
</script>

<!--
  Matomo is the leading open-source analytics platform:
  - Free open-source software
  - 100% data ownership
  - User privacy protection
-->

<script type="text/javascript">
	var _paq = window._paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
		var u = "https://stats.privacytools.io/";
		_paq.push(['setTrackerUrl', u + 'matomo.php']);
		_paq.push(['setSiteId', '1']);
		var d = document,
			g = d.createElement('script'),
			s = d.getElementsByTagName('script')[0];
		g.type = 'text/javascript';
		g.async = true;
		g.defer = true;
		g.src = u + 'matomo.js';
		s.parentNode.insertBefore(g, s);
	})();
</script>
<noscript><img src="https://stats.privacytools.io/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" /></noscript>