/* Variables */

/* Cards */
$card-shadow:         0 3px 10px 0 rgba(150, 150, 150, .2);
$card-succes-border:  rgba(40, 167, 69, .5);
$card-primary-border: rgba(0, 123, 255, .5);
$card-warning-border: rgba(255, 193, 7, .5);

/* Blockquote */
$blockquote-border:   #eee;

/* Share button */
$share-btn:           #fff;
$share-btn-shadow:    0 2px 0 0 rgba(0, 0, 0, .2);
$share-btn-hover:     #eee;
$share-btn-active:    #e2e2e2;

/* Social */
$twitter:             #55acee;
$mastodon:            #3088d4;
$facebook:            #3b5998;
$mix:                 #ff8126;
$reddit:              #ff5700;
$linkedin:            #4875b4;
$email:               #444;
$diaspora:            #2f3537;
$tor:                 #7d4698;
