<div class="d-flex flex-wrap justify-content-around">
  <a class="m-3" href="https://safing.io" target="_blank" rel="noreferrer">
    <img
      src="/assets/img/svg/3rd-party/sponsors/safing.svg"
      {% unless page.url == '/sponsors/' %}data-theme-src="/assets/img/svg/3rd-party/sponsors/safing-dark.svg"{% endunless %}
      height="70rem"
      title="Safing Privacy Network - Launching on Kickstarter January 2nd, 2020"
      alt="Safing Privacy Network - Safing.io Logo" />
  </a>
  <a class="m-3" href="https://www.oeck.com" target="_blank" rel="noreferrer">
    <img
      src="/assets/img/png/3rd-party/sponsors/oeck.png"
      {% unless page.url == '/sponsors/' %}data-theme-src="/assets/img/png/3rd-party/sponsors/oeck-dark.png"{% endunless %}
      height="70rem"
      title="Oeck - A new type of VPN - Unique, fast and private."
      alt="Insurgo Logo" />
  </a>
  <a class="m-3" href="https://insurgo.ca" target="_blank" rel="noreferrer">
    <img
      src="/assets/img/png/3rd-party/sponsors/insurgo.png"
      height="70rem"
      title="Insurgo Technologies Libres / Open Technologies — Empower yourself!"
      alt="Insurgo Logo" />
  </a>
  <a class="m-3" href="https://joindeleteme.com" target="_blank" rel="noreferrer">
    <img
      src="/assets/img/png/3rd-party/sponsors/deleteme.png"
      height="70rem"
      title="DeleteMe is a hands-free subscription service that removes your personal information from data brokers and prevents it from being sold online."
      alt="DeleteMe Logo" />
  </a>
</div>
