<div class="col-6 col-sm-4 col-md-3 my-3">
  <div class="d-flex justify-content-start">
    <div><a href="https://techlore.tech"><img src="/assets/img/svg/3rd-party/sponsors/techlore.svg" class="mx-3" width="64" height="64" title="Techlore, Home of Go Incognito" alt="Techlore Logo"></a></div>
    <div class="d-flex flex-column align-self-center">
    <p class="my-0"><strong>Techlore</strong></p>
    <a href="https://techlore.tech" class="my-0">https://techlore.tech</a>
    </div>
  </div>
</div>
<div class="col-6 col-sm-4 col-md-3 my-3">
  <div class="d-flex justify-content-start">
    <div><a href="https://www.awesomeresources.co.uk/"><img src="/assets/img/png/3rd-party/sponsors/awesomeresources.png" class="mx-3" width="64" height="64" alt="Awesome Resources Logo"></a></div>
    <div class="d-flex flex-column align-self-center">
    <p class="my-0"><strong>Awesome Resources Ltd</strong></p>
    <a href="https://www.awesomeresources.co.uk/" class="my-0">https://www.awesomeresources.co.uk</a>
    </div>
  </div>
</div>
<div class="col-6 col-sm-4 col-md-3 my-3">
  <div class="d-flex justify-content-start">
    <div><a href="https://www.looktotheright.com"><img src="/assets/img/png/3rd-party/sponsors/looktotheright.png" class="mx-3" width="64" height="64" title="Providing Google Ads/Paid Search/PPC services and Custom SEO solutions to businesses in the Greater Raleigh, NC area, Santiago, Chile & Globally." alt="Look To The Right Logo"></a></div>
    <div class="d-flex flex-column align-self-center">
    <p class="my-0"><strong>Look To The Right</strong></p>
    <a href="https://www.looktotheright.com" class="my-0">https://looktotheright.com</a>
    </div>
  </div>
</div>
<div class="col-6 col-sm-4 col-md-3 my-3">
  <div class="d-flex justify-content-start">
    <div><a href="https://www.scams.info"><img src="/assets/img/png/3rd-party/sponsors/scamsinfo.png" class="mx-3" width="64" height="64" title="An Overview of the Safest Online Gambling Sites in the UK" alt="scams.info"></a></div>
    <div class="d-flex flex-column align-self-center">
    <p class="my-0"><strong>scams.info</strong></p>
    <a href="https://www.scams.info" class="my-0">https://www.scams.info</a>
    </div>
  </div>
</div>
