<h1 id="social" class="anchor"><a href="#search"><i class="fas fa-link anchor-icon"></i></a> Privacy Respecting Search</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using search engines like Google, Bing, or Yandex, check out our new meta search engine!</strong>
</div>

<div class="row mb-2">

  {% include card.html color="primary"
  title="search.privacytools.io"
  image="assets/img/provider/searx.jpg"
  url="https://search.privacytools.io/"
  description="Privacytools.io is now running an open-source Searx instance, which aggregates the results of other search engines while not storing information about its users."
  %}

</div>

<h3>More Information</h3>

<p>Find out more about <a href="/index.html#search">Privacy Respecting Search Engines</a> on our homepage.</p>
