<h1 id="social" class="anchor"><a href="#social"><i class="fas fa-link anchor-icon"></i></a> Social</h1>

<div class="alert alert-warning" role="alert">
  <strong> If you are currently using Social Networks or Messaging like Facebook, Twitter, Discord, or Messenger, give one of our instances a try! </strong>
</div>

<div class="row mb-2">

  {% include card.html color="success"
  title="Social"
  image="assets/img/tools/Mastodon.png"
  url="https://social.privacytools.io/"
  website="social.privacytools.io"
  description='We are now operating an open, federated Mastodon instance to anyone looking to get away from Twitter or Facebook for their social networking needs. Our instance is
  completely free of advertising and third party trackers.'
  %}

  {% include card.html color="info"
  title="Video"
  image="assets/img/tools/peertube.png"
  url="https://video.privacytools.io/"
  description="Video content creators are welcome to host their content on our PeerTube platform! PeerTube is a federated video sharing site, so your videos will be accessible from
  any other instance regardless of their install."
  %}

  {% include card.html color="info"
  title="Messaging"
  image="assets/img/tools/riot.png"
  url="https://chat.privacytools.io/"
  description="If you're looking for a messaging solution for yourself or your organization, look no further. We are now offering a free-to-use Matrix/Riot installation featuring
  end-to-end encrypted chats, group chats, and everything else the Matrix federated ecosystem has to offer."
  %}

</div>
