---
---

@import '_vars';
@import 'bootstrap';
@import 'flag-icon';
@import 'fontawesome';
@import 'ptio-font';
@import 'sortable-theme-bootstrap';

body {
  word-wrap: break-word;
}

dt {
  overflow-wrap: break-word;
}

.card {
  box-shadow: $card-shadow !important;
}

/* Make links and long strings responsive */
a,
.long-string-list {
  li {
    word-wrap: break-word;
  }
}

.card-ol {
  padding-left: 1.25rem;
}

/*.card-success, */
.card-success {
  .card-header {
    border-color: $card-succes-border !important;
  }
}

.card-primary {
  .card-header {
    border-color: $card-primary-border !important;
  }
}

.card-warning  {
  .card-header {
    border-color: $card-warning-border !important;
  }
}

.card-list {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.blockquote {
  border-left: 5px solid $blockquote-border;
  font-size: 1.2rem;
  line-height: 1.35;
  padding: 10px 20px;
}

.theme-dropdown {
  .dropdown-menu {
    display: block;
    margin-bottom: 20px;
    position: static;
  }
}

.theme-showcase {
  p > .btn {
    margin: 5px 0;
  }

  .navbar {
    .container {
      width: auto;
    }
  }
}

.anchor, .page-header h1 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  &:target {
    margin-top: -4rem;
    padding-top: 7.5rem;
  }
}

h2, h3:not(.h5), h4, h5 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.h5 {
  margin-bottom: 0rem;
}

.header-404 {
  font-size: 10rem;
}

.anchor-icon {
  font-size: .8em;
}

.panel-item {
  float: right;
  margin-left: 5px;
}

.panel-pic {
  float: left;
  margin-right: 15px;
}

.panel-icon {
  float: right;
  margin: 15px;
  font-size: 5.5em;
}

.panel-font {
  font-size: 120px;
}

.share-btn {
  border: 0;
  box-shadow: $share-btn-shadow;
  color: $share-btn;
  display: inline-block;
  opacity: .9;
  outline: none;
  padding: 1em;
  text-align: center;
  width: 8em;

  &:hover {
    color: $share-btn-hover;
  }

  &:active {
    box-shadow: none;
    color: $share-btn-active;
    outline: none;
    position: relative;
    top: 2px;
  }
}

#top {
  margin-bottom: 3rem !important;
}

.twitter { background: $twitter; }
.mastodon { background: $mastodon; }
.facebook { background: $facebook; }
.mix { background: $mix; }
.reddit { background: $reddit; }
.linkedin    { background: $linkedin; }
.email { background: $email; }
.diaspora { background: $diaspora; }

.footer-divider {
  margin-top: 3em;
  margin-bottom: 3em;
  border: none;
  height: 1px;
  background-color: #343A40;
}

.copyright-text {
  margin-top: 1em;
  margin-bottom: 3em;
  text-align: justify;
}

.no-text-wrap {
  white-space: nowrap;
}

.hover-text-decoration-none:hover {
  text-decoration: none;
  -webkit-text-decoration-skip: object;
}

.table td, .table th {
  vertical-align: middle;
}


.btn-icon {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  height: 2.4rem;
  width: 2.4rem;
  color: #eee;
}
.btn-icon:hover {
  text-decoration: none;
  color: #fff;
}

.btn-tor {
  background: $tor;
}
.btn-tor:hover {
  background: darken($tor, 5%);
}

.icon-btn {
  padding: 0px;
}

.flow-root {
  display: flow-root;
}

/*
 * Bootstrap 4.2+ features
 */

.text-decoration-none {
  text-decoration: none !important;
}

.mx-n2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}



/*
 * Navbar
 */

#navbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  padding: .75rem 3rem;
  color: rgba(255,255,255,0.5);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navbar .menu {
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.nav-anchor {
  display: inline;
  color: inherit;
}

.nav-anchor:hover {
  text-decoration: none;
}

.nav-anchor:hover,
.nav-summary:hover,
.nav-details[open] > summary > .nav-summary {
  color: rgba(255,255,255,0.8);
}

.nav-dropdown {
  color: var(--dark);
  background-color: var(--light);
  padding: .5rem 0;
  margin-top: .5rem;
  position: absolute;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  z-index: 10;
}

#nav-right > details > .nav-dropdown {
  right: 0;
}

.nav-details {
  display: inline;
  position: relative;
}

.nav-details > summary {
  list-style: none;
}
.nav-details > summary::-webkit-details-marker {
  display: none;
}

#nav-right > .nav-details,
#nav-right > .nav-anchor {
  padding-left: 0.5rem;
}
#nav-left > .nav-details,
#nav-left > .nav-anchor {
  padding-right: 0.5rem;
}

input#nav-toggle,
#nav-toggle-label {
  display: none;
}

#nav-home-mobile {
  display: none;
}

#nav-switch-theme {
  /* We will make it visible with JavaScript
   * as it does not work without it */
  display: none;
  cursor: pointer;
}

/*
 * Mobile hamburger menu
 */

@media only screen and (max-width: 992px) {
  .menu,
  .nav-details,
  .nav-anchor {
    display: block;
  }
  .menu {
    margin-top: 0.5rem;
  }
  #nav-home {
    display: none;
  }
  #nav-home-mobile {
    display: inline;
  }
  input#nav-toggle:checked ~ .menu {
    display: none;
  }
  input#nav-toggle + label {
    display: block;
    cursor: pointer;
    margin-bottom: 0;
  }
  .nav-dropdown {
    display: block;
    position: relative;
    max-height: 15.75em;
    overflow-y: auto;
    left: 0;
    right: 0;
  }
  #nav-right > .nav-details,
  #nav-right > .nav-anchor,
  #nav-left > .nav-details,
  #nav-left > .nav-anchor {
    padding: 0 0;
  }
  #navbar {
    padding: 1rem 3rem;
  }
}

@media only screen and (max-width: 768px) {
  #navbar {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 575px) {
  #navbar {
    padding: 1rem 1rem;
  }
}

@media only screen and (max-height: 350px) {
  .nav-dropdown {
    max-height: 8em;
  }
}

.nav-theme-icon:before {
  color: var(--warning);
  font-size: 0.875em;
  content: "\f186";
}
