---
layout: page
permalink: /about/
title: "About PrivacyTools"
description: "Core contributors to the Privacy&#8203;Tools website, communities, and services."
hidedesc: true
---

<div class="row">

{% include team.html
avatar="burung.jpg"
name="Burung Hantu"
role="Founder"
bio="I founded PrivacyTools in 2015 to share resources and tools, allowing users to avoid international mass-surveillance programs."
email="dude@privacytools.io"
mastodon="https://social.privacytools.io/@BurungHantu"
twitter="privacytoolsIO"
%}

{% include team.html
avatar="jonah.png"
name="Jonah Aragon"
nick="Jonah"
role="Administrator"
bio="I run the website and services for PrivacyTools. My goal is to spread the word about data privacy as widely as possible."
email="jonah@privacytools.io"
website="https://www.jonaharagon.com"
mastodon="https://social.privacytools.io/@jonah"
twitter="JonahAragon"
blog="jonah"
%}

{% include team.html
avatar="blacklight447.png"
name="blacklight447"
bio="I research new privacy recommendations and moderate our communities. My expertise is endpoint security and networking."
role="Community Manager"
email="blacklight447@privacytools.io"
mastodon="https://social.privacytools.io/@blacklight447"
%}

{% include team.html
avatar="danarel.jpg"
name="Dan Arel"
role="ThinkPrivacy Editor"
bio="I'm an author, columnist, and privacy advocate whose work has appeared in Time, Huff Post, OpenSource, and more. I am editing ThinkPrivacy, a PrivacyTools resource for everyday users."
website="https://www.danarel.com"
twitter="danarel"
mastodon="https://mastodon.technology/@danarel"
blog="danarel"
%}

{% include team.html
avatar="dawid.png"
name="Dawid Potocki"
role="Developer"
bio=""
mastodon="https://social.privacytools.io/@dawidpotocki"
%}

{% include team.html
avatar="dngray.png"
name="dngray"
nick="Daniel Gray"
bio=""
email="dngray@privacytools.io"
%}

{% include team.html
avatar="mikaela.png"
name="Mikaela Suomalainen"
nick="Mikaela"
bio=""
website="https://mikaela.info/"
mastodon="https://mastodon.partipirate.org/@mikaela"
%}

{% include team.html
avatar="nitrohorse.jpg"
name="Andreas Basurto"
nick="nitrohorse"
role="Developer"
bio="I'm a privacy advocate and software developer. I write web extensions, help research, and make updates to the site."
website="https://nitrohorse.com/"
mastodon="https://nitro.horse/@andreas"
blog="nitrohorse"
%}

{% include team.html
avatar="trai_dep.jpg"
name="trai_dep"
role="Subreddit Mod"
bio="I am a privacy advocate and – <i>irony alert</i> – an (ethical) digital marketer. I’m also active in both local communities and the r/Privacy &amp; r/privacytoolsio subreddits."
email="trai_dep@privacytools.io"
website="https://www.reddit.com/user/trai_dep"
%}

</div>
<div class="row mt-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p class="card-text">Of course, we couldn't do any of this without our very generous <a href="https://opencollective.com/privacytoolsio/">financial contributors</a>, <a href="https://github.com/privacytoolsIO/privacytools.io/graphs/contributors">website contributors</a>, and the countless community members that help share new ideas and spread the word! Thank you.</p>
        <a href="/index.html#participate" class="btn btn-primary"><i class="fas fa-hands-helping"></i> Get involved!</a>
        <a href="/donate/" class="btn btn-outline-danger"><i class="fas fa-heart"></i> Donate</a>
      </div>
    </div>
  </div>
</div>
