---
layout: page
permalink: /hardware/
title: "Hardware"
description: "Privacy isn't all about the software you use. Discover hardware dedicated to protecting your data and security."
---

<div class="alert alert-warning" role="alert">
  <strong>Note: These companies may sell hardware with non-free software such as firmware. We recommend looking for products with free software certifications like <a href="https://certification.oshwa.org/">OSHWA</a>, <a href="https://ryf.fsf.org/">RYF</a>, or <a href="https://opensource.org/pressreleases/certified-open-source.php">OSI Certified</a>.</strong>
</div>

{% include sections/laptops.html %}

{% include sections/servers-desktops.html %}

{% include sections/mobile.html %}

 <!-- {% include sections/key-manager.html %} Section Appears to Not Load Properly -->

{% include sections/routers.html %}

{% include sections/bios.html %}

{% include sections/diy-hardware.html %}

{% include sections/hardware-learn-more.html %}
