---
layout: default
permalink: /classic/
---

<div class="alert alert-warning" role="alert">
  We will try and keep this page up-to-date with added sections and other content, but to be guaranteed the latest recommendations, we recommend you check out our new Providers, Browsers, Software, and OS pages in the navbar above :)
</div>

{% include sections/header.html %}

{% include sections/quotes.html %}

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/vpn.html %}

{% include sections/warrant-canary.html %}

{% include sections/browser-recommendation.html %}

{% include sections/browser-fingerprint.html %}

{% include sections/browser-webrtc.html %}

{% include sections/browser-addons.html %}

{% include sections/browser-tweaks.html %}

{% include sections/email-providers.html %}

{% include sections/email-clients.html %}

{% include sections/search-engines.html %}

{% include sections/instant-messenger.html %}

{% include sections/voice-video-messenger.html %}

{% include sections/teamchat.html %}

{% include sections/file-sharing.html %}

{% include sections/cloud-storage.html %}

{% include sections/selfhosted-cloud.html %}

{% include sections/hosting-provider.html %}

{% include sections/file-sync.html %}

{% include sections/password-managers.html %}

{% include sections/calendar-contacts-sync.html %}

{% include sections/file-encryption.html %}

{% include sections/self-contained-networks.html %}

{% include sections/social-networks.html %}

{% include sections/social-news-aggregator.html %}

{% include sections/decentralized-video.html %}

{% include sections/video-frontends.html %}

{% include sections/dns.html %}

{% include sections/notebooks.html %}

{% include sections/paste-services.html %}

{% include sections/productivity-tools.html %}

{% include sections/operating-systems.html %}

{% include sections/tor-operating-systems.html %}

{% include sections/android-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/other-mobile-operating-systems.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}

{% include sections/privacy-resources.html %}

{% include sections/participate.html %}
