---
layout: page
permalink: /operating-systems/
title: "Operating Systems"
description: "Even your own computer could be compromising your privacy. Discover our recommended OS choices for all the devices you use."
---

{% include sections/operating-systems.html %}

<h3>Warning</h3>

<ul>
  <li><a href="#win10"><i class="fas fa-link"></i> Don't use Windows 10 - It's a privacy nightmare</a></li>
</ul>

{% include sections/tor-operating-systems.html %}

{% include sections/android-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/ios-addons.html %}

{% include sections/other-mobile-operating-systems.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}
