---
layout: page
permalink: /operating-systems/
title: "Operating Systems"
description: "Even your own computer could be compromising your privacy. Discover our recommended OS choices for all the devices you use."
translate: true
---

{% include sections/operating-systems.html %}

{% include sections/live-operating-systems.html %}

{% include sections/mobile-operating-systems.html %}

{% include sections/android-addons.html %}

{% include sections/router-firmware.html %}

{% include sections/windows10.html %}
