---
layout: page
permalink: /providers/
title: "Providers"
description: "There's a ton of people providing services online. Discover which ones you should avoid and our recommendations for a variety of services."
---

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

<h1 id="os" class="anchor">Services</h1>

<p>Click on whatever service you need to view our recommendations.</p>

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/providers/vpn/"><i class="far fa-eye-slash"></i> Virtual Private Network (VPN)</a></li>
    <li class="list-group-item"><a href="/providers/email/"><i class="fas fa-mail-bulk"></i> Privacy Email</a></li>
    <li class="list-group-item"><a href="/providers/cloud-storage/"><i class="fas fa-cloud"></i> Encrypted Cloud Storage Services</a></li>
    <li class="list-group-item"><a href="/providers/social-networks/"><i class="fas fa-expand-arrows-alt"></i> Decentralized Social Networks</a></li>
    <li class="list-group-item"><a href="/providers/dns/"><i class="fa fa-tasks"></i> Domain Name System (DNS)</a></li>
    <li class="list-group-item"><a href="/providers/search-engines/"><i class="fab fa-searchengin"></i> Privacy Respecting Search Engines</a></li>
    <li class="list-group-item"><a href="/providers/hosting/"><i class="fas fa-database"></i> Secure Hosting Providers</a></li>
    <li class="list-group-item"><a href="/providers/paste"><i class="fas fa-paste"></i> Paste Services</a></li>
  </ul>
</div>
