---
layout: page
permalink: /providers/
title: Providers
description: "There's a ton of people providing services online. Discover which ones you should avoid and our recommendations for a variety of services."
translate: true
---

<h1 id="os" class="anchor">{% translate Services%}</h1>

<p>{% translate Click on whatever service you need to view our recommendations.%}</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/{% if page.language %}{{ page.language }}/{% endif %}providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> {% translate Cloud Storage%}</a></li>
    <li class="list-group-item"><a href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> {% translate DNS%}</a></li>
    <li class="list-group-item"><a href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> {% translate Email%}</a></li>
    <li class="list-group-item"><a href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> {% translate Hosting%}</a></li>
    <li class="list-group-item"><a href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> {% translate Pastebins%}</a></li>
    <li class="list-group-item"><a href="/providers/search-engines/"><i class="fas fa-search fa-fw"></i> {% translate Search Engines%}</a></li>
    <li class="list-group-item"><a href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> {% translate Social Networks%}</a></li>
    <li class="list-group-item"><a href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> {% translate Social News Aggregators%}</a></li>
    <li class="list-group-item"><a href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> {% translate VPN%}</a></li>
  </ul>
</div>

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/warrant-canary.html %}
