---
layout: page
permalink: /providers/
title: "Providers"
description: "There's a ton of people providing services online. Discover which ones you should avoid and our recommendations for a variety of services."
---

<h1 id="os" class="anchor">Services</h1>

<p>Click on whatever service you need to view our recommendations.</p>

<div class="card card-list">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/providers/cloud-storage/"><span class="fas fa-cloud fa-fw"></span> Cloud Storage</a></li>
    <li class="list-group-item"><a href="/providers/dns/"><span class="fa fa-tasks fa-fw"></span> DNS</a></li>
    <li class="list-group-item"><a href="/providers/email/"><span class="fas fa-mail-bulk fa-fw"></span> Email</a></li>
    <li class="list-group-item"><a href="/providers/hosting/"><span class="fas fa-database fa-fw"></span> Hosting</a></li>
    <li class="list-group-item"><a href="/providers/paste/"><span class="fas fa-paste fa-fw"></span> Pastebins</a></li>
    <li class="list-group-item"><a href="/providers/search-engines/"><i class="fas fa-search fa-fw"></i> Search Engines</a></li>
    <li class="list-group-item"><a href="/providers/social-networks/"><span class="fas fa-expand-arrows-alt fa-fw"></span> Social Networks</a></li>
    <li class="list-group-item"><a href="/providers/social-news-aggregator/"><span class="far fa-newspaper fa-fw"></span> Social News Aggregators</a></li>
    <li class="list-group-item"><a href="/providers/vpn/"><span class="far fa-eye-slash fa-fw"></span> VPN</a></li>
  </ul>
</div>

{% include sections/fourteen-eyes.html %}

{% include sections/key-disclosure-law.html %}

{% include sections/warrant-canary.html %}
