---
layout: page
permalink: /shop/
title: "Shop"
description: "Support PrivacyTools via our official merchandise partners!"
---

<div class="alert alert-warning" role="alert">
  By clicking the purchase links below, you will be redirected to one of our partner's third-party sites. PrivacyTools makes no representations nor has any supervision or control over the quality, content, reliability or security of the third party website, nor shall PrivacyTools be liable for its use.
</div>
<div class="alert alert-secondary" role="alert">
  Some of the products listed on this page are created and sold by a third-party, and we are using affiliate links to keep track of commissions. If you buy something through a link on this page, you will not be charged extra, but we will receive a portion of the sale.
</div>

<div class="row">
  <div class="col">
    <h2>Stickers</h2>
  </div>
</div>

<div class="row">
  {% include product.html
  image="blue-shield-sticker.png"
  title="Blue Shield Sticker"
  price="$3.12"
  description="Decorate your laptop with our water-resistant, vinyl stickers. Available in a variety of sizes."
  link="https://go.privacytools.io/rb/bss"
  vendor="RedBubble"
  %}
  {% include product.html
  image="holographic-sticker.png"
  title="Holographic Sticker"
  price="$5.00"
  sale="$1.99"
  description="Limited edition holographic black shield sticker. High quality, perfect for laptop decoration!"
  link="https://go.privacytools.io/aragon/holo/"
  vendor="Aragon Ventures LLC"
  %}
  {% include product.html
  image="sticker-pack-1.png"
  title="Sticker Pack"
  price="$7.20"
  description="Decorate your laptop with our water-resistant, vinyl stickers. Available in a variety of sizes."
  link="https://go.privacytools.io/rb/sp1"
  vendor="RedBubble"
  %}
  {% include product.html
  image="trust-your-government.png"
  title="Trust Your Government"
  price="$2.60"
  description="Decorate your laptop with our water-resistant, vinyl stickers. Available in a variety of sizes."
  link="https://go.privacytools.io/rb/trust"
  vendor="RedBubble (Aff)"
  %}
  {% include product.html
  image="nsa-monitored.png"
  title="Monitored by the NSA"
  price="$4.16"
  description="Decorate your laptop with our water-resistant, vinyl stickers. Available in a variety of sizes."
  link="https://go.privacytools.io/rb/nsa"
  vendor="RedBubble (Aff)"
  %}
</div>

<div class="row">
  <div class="col">
    <h2>Shirts</h2>
  </div>
</div>

<div class="alert alert-info" role="alert">
   <strong>Coming soon:</strong> We are working with a quality shirt partner to develop embroidered polos, t-shirts, and sweatshirts. Stay tuned!
</div>

<div class="row">
  <div class="col">
    <h2>Mobile Accessories</h2>
  </div>
</div>

<div class="row">
  {% include product.html
  image="blue-shield-iphone.png"
  title="iPhone Case"
  price="$21.00+"
  description="Qi wireless charging compatible phone cases to show your support and protect your iPhone!"
  link="https://go.privacytools.io/rb/bsiphone"
  vendor="RedBubble"
  %}
  {% include product.html
  image="white-shield-iphone.png"
  title="iPhone Case"
  price="$21.00+"
  description="Qi wireless charging compatible phone cases to show your support and protect your iPhone!"
  link="https://go.privacytools.io/rb/wsiphone"
  vendor="RedBubble"
  %}
  {% include product.html
  image="blue-shield-wallet-case.png"
  title="Wallet Case"
  price="$35.35"
  description="Open book style wallet case with a built in stand and elastic strap keeps your phone and cards protected."
  link="https://go.privacytools.io/rb/bswallet"
  vendor="RedBubble"
  %}
</div>

<div class="row">
  <div class="col">
    <h2>Laptop Accessories</h2>
  </div>
</div>

<div class="row">
  {% include product.html
  image="white-shield-laptop-sleeve.png"
  title="Laptop Skin"
  price="$35.86"
  description="Foam padded, zipped laptop sleeve protects your laptop from scratches and minor impacts."
  link="https://go.privacytools.io/rb/wssleeve"
  vendor="RedBubble"
  %}
  {% include product.html
  image="blue-shield-skin.png"
  title="Laptop Skin"
  price="$25.25"
  description="Form-fitting vinyl 3M Controltac sticker, provides resistance to minor scrapes and scratches."
  link="https://go.privacytools.io/rb/bsskin"
  vendor="RedBubble"
  %}
  {% include product.html
  image="white-shield-skin.png"
  title="Laptop Skin"
  price="$25.25"
  description="Form-fitting vinyl 3M Controltac sticker, provides resistance to minor scrapes and scratches."
  link="https://go.privacytools.io/rb/wsskin"
  vendor="RedBubble"
  %}
</div>

<div class="row">
  <div class="col">
    <h2>Additional Products</h2>
  </div>
</div>

<div class="row">
  {% include product.html
  image="white-shield-notebook.png"
  title="Spiral Notebook"
  price="$12.62"
  description="Spiral notebook with document pocket, available in ruled line and graph paper."
  link="https://go.privacytools.io/rb/wsnotebook"
  vendor="RedBubble"
  %}
  {% include product.html
  image="blue-shield-notebook.png"
  title="Spiral Notebook"
  price="$12.62"
  description="Spiral notebook with document pocket, available in ruled line and graph paper."
  link="https://go.privacytools.io/rb/bsnotebook"
  vendor="RedBubble"
  %}
  {% include product.html
  image="white-shield-journal.png"
  title="Hardcover Journal"
  price="$20.51"
  description="128 page hardcover journal available with ruled line, graph, and blank paper options."
  link="https://go.privacytools.io/rb/wsjournal"
  vendor="RedBubble"
  %}
  {% include product.html
  image="blue-shield-journal.png"
  title="Hardcover Journal"
  price="$20.51"
  description="128 page hardcover journal available with ruled line, graph, and blank paper options."
  link="https://go.privacytools.io/rb/bsjournal"
  vendor="RedBubble"
  %}
  {% include product.html
  image="blue-shield-pouch.png"
  title="Zipper Pouch"
  price="$12.12"
  description="Available in various sizes, perfect for holding coins, pencils, cards, or other belongings."
  link="https://go.privacytools.io/rb/bspouch"
  vendor="RedBubble"
  %}
</div>
