---
layout: default
active_page: sponsors
permalink: /sponsors/
---

<div class="row">
  <div class="mx-auto text-center">
    <div class="my-4">
      <h1>Sponsors of {{ site.name }}</h1>
      <p>A massive thank you to the following <strong>organization-level sponsors</strong> of {{ site.name }}, who pledge $250+:</p>
    </div>
    <div class="mt-4 mb-3">
      {% include sponsors/gold.html %}
    </div>
    <div class="mb-4">
      <p>The {{ site.name }} website and services are a community project. There is no advertising, affiliate links, or other forms of monetization.<br><strong>Your donations here directly support hosting this website and compensating contributors to this project.</strong></p>
      <p>
        <a href="https://opencollective.com/privacytools#section-contribute" class="btn btn-success">Become a Sponsor</a>
        <a href="/donate/" class="btn btn-outline-danger"><span class="fas fa-heart fa-fw"></span> Donate Directly</a>
      </p>
    </div>
  </div>
</div>
<div>
  <div class="my-4">
    <h3>Advocates</h3>
    <p>These individuals and organizations pledge $100 - $249 to the organization.</p>
  </div>
  <div class="row">
    {% include sponsors/silver.html %}
  </div>
</div>
<h3>Backers</h3>
<p>These individuals and organizations pledge $10 - $99 to the organization.</p>
{% include sponsors/list.html %}

<h3>Why sponsor {{ site.name }}?</h3>
<p>This sponsorship program is designed to allow companies, organizations, and individuals partner with the {{ site.name }} team to support our vision of a more privacy-respecting internet and the greater online community.</p>
<p>With this exposure and sponsorship, your customers will recognize your intrinsic understanding and commitment to user privacy. Moreover, you'll directly contribute to our mission of spreading privacy-respecting tools and knowledge worldwide!</p>
<p>At PrivacyTools, we believe in...</p>
<ul>
  <li><strong>Privacy</strong>, of course. Privacy gives you as a user control over how your information is used and spread online. Trustworthy and secure products and services are the key to that future.</li>
  <li><strong>Security</strong>. We believe services cannot provide privacy at all without being secure. Strong encryption is the only way to prevent malicious actors from snooping in on our communications.</li>
  <li><strong>Freedom</strong>. The right to express your opinion online without interference or surveillance is the only way we can grow as a society, and privacy-respecting tools should foster that growth.</li>
</ul>
<p>We reserve the right or deny all sponsors from receiving the benefits detailed below if we believe that your organization or product is not aligned with our key values. Therefore, if you are interested in sponsoring our project, please first email <a href="mailto:sponsors@privacytools.io">sponsors@privacytools.io</a> so we may discuss further.</p>
<p>As a sponsor of {{ site.name }}, your company will be widely recognized in a variety of ways, some of which we've detailed below.</p>
<h5>General Information</h5>
<p>This website receives well over 250,000 pageviews on a monthly basis and is highly ranked for privacy-related keywords. In addition to the benefits below your contribution will be featured on our OpenCollective page and we will thank you via social media for your contribution.</p>
<p><em>Please note that this page is updated manually, and while we're generally on top of things, please don't hesitate to reach out to <a href="mailto:sponsors@privacytools.io">sponsors@privacytools.io</a> if you think we've missed something :)</em></p>
<h5><i class="fas fa-fw fa-user text-info"></i> Backers - $10–$24</h5>
<ul>
<li>Your name added to the list of sponsors on this page.</li>
</ul>
<h5><i class="fas fa-fw fa-user-astronaut text-info"></i> Highlighted Backers - $25–$99</h5>
<ul>
<li>Your name in bold at the top of our general sponsors list.</li>
</ul>
<h5><i class="fas fa-fw fa-user-secret text-muted"></i> Advocates - $100–$249</h5>
<ul>
<li>Your square logo, name, and link above the general sponsors list.</li>
</ul>
<h5><i class="fas fa-fw fa-briefcase text-warning"></i> Organizations - $250+</h5>
<ul>
<li>Your medium-sized logo as a prominent link on our homepage and at the very top of our sponsors page.</li>
</ul>
<h5>We will not provide...</h5>
<p>We pride ourselves on our integrity and commitment to spreading unbiased and fact-based information regarding privacy and privacy-respecting tools. All tools we recommend throughout our website are subject to strict criteria as judged by our team and the community across our various platforms. Your sponsorship will not grant your organization any special consideration when choosing our recommendations throughout the website, a process which we make clear via our transparent ledger on OpenCollective and our public discussions on GitHub. Your sponsorship benefits are limited to those outlined above.</p>
<h5>Tax and Financial Information</h5>
<p>Your contribution to {{ site.name }} will be handled by the Open Collective Foundation 501(c)(3). For US companies and taxpayers, this means your contribution is likely <strong>tax deductible</strong>, but you should consult with your accountant regarding your specific circumstances. As a non-profit, your sponsorship contribution will not be used for private profit and will only be used to cover expenses incurred by the project. All of our transactions (donations and expenses) are published transparently on OpenCollective. For the benefit of our readership, anonymous contributions will not be eligible for the sponsorship opportunities outlined above.</p>
<h5>More Information</h5>
<p>If you are interested and have further questions, you are welcome to reach out to us directly at <a href="mailto:sponsors@privacytools.io">sponsors@privacytools.io</a>.</p>
<div class="mt-5 text-center">
  <a href="https://opencollective.com/privacytools#section-contribute" class="btn btn-success mb-5">Contribute to PrivacyTools</a>
</div>
