{% assign lang = site.data.lang.[include.lang].nothing_to_hide %}
{% assign en = site.data.lang.en.nothing_to_hide %}

<div class="page-header">
    <h1>{{ lang.title | default: en.title }}</h1>
</div>
<blockquote class="blockquote">
    <p>
        <a href="http://www.ted.com/talks/glenn_greenwald_why_privacy_matters" title="Glenn Greenwald - {{ lang.talk_name | default: en.talk_name  }} - TED Talk"><img
            src="/assets/img/layout/Glenn-Greenwald-Why-privacy-matters.jpg" class="img-fluid float-right ml-2" alt="Glenn Greenwald: Why privacy matters"></a>
            {{ lang.quote | default: en.quote  }}
    </p>
    <footer class="blockquote-footer">Glenn Greenwald in <cite title="{{ lang.talk_name | default: en.talk_name  }} - TED Talk"><a href="http://www.ted.com/talks/glenn_greenwald_why_privacy_matters">
        {{ lang.talk_name | default: en.talk_name }} - TED Talk</a></cite></footer>
</blockquote>