<!DOCTYPE html>

<!-- set the default language as English -->
<html lang="en">

<head>

	<!-- tags for Search Engine Optimization -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="privacy, anonymity, privacy tools, surveillance, encryption, edward snowden, nsa, tor">
	<meta name="description" content="{{ site.description }}">

	<!-- referrer policy -->
	<meta name="referrer" content="no-referrer">

    <!-- title -->
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }} </title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

	<!-- icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/img/favicons/manifest.json">
	<link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS stylesheets -->
	<link href="assets/css/style.css?v=5" rel="stylesheet">

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->

	<!-- Open Graph Protocol tags for SEO -->
	<meta property="og:title" content="Privacy Tools | Encryption against global mass surveillance" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.privacytools.io/" />
	<meta property="og:image" content="https://www.privacytools.io/assets/img/layout/ogimage.jpg" />
	<meta property="og:description" content="You are being watched! Knowledge, encryption and privacy tools to protect you against global mass surveillance."
	/>
	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="privacytools.io" />
</head>

<body data-spy="scroll" data-target="#navbar">
<!-- navigation starts -->

<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        {% if page.active_page %}
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="fas fa-home"></i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#top"><i class="fas fa-home"></i> <span class="sr-only">Home (current)</span></a>
            </li>
        {% endif %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="providerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Provider
            </a>
            <div class="dropdown-menu" aria-labelledby="providerDropdown">
            <a class="dropdown-item" href="#ukusa">Avoid all US and UK based services</a>
            <a class="dropdown-item" href="#vpn">Virtual Private Network (VPN)</a>
            <a class="dropdown-item" href="#email">Privacy Email</a>
            <a class="dropdown-item" href="#wc">Warrant Canaries</a>
            <a class="dropdown-item" href="#cloud">Encrypted Cloud Storage Services</a>
            <a class="dropdown-item" href="#social">Decentralized Social Networks</a>
            <a class="dropdown-item" href="#dns">Domain Name System (DNS)</a>
            <a class="dropdown-item" href="#search">Privacy Respecting Search Engines</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="browserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browser
            </a>
            <div class="dropdown-menu" aria-labelledby="browserDropdown">
                <a class="dropdown-item" href="#browser">Recommendation</a>
                <a class="dropdown-item" href="#fingerprint">Fingerprint</a>
                <a class="dropdown-item" href="#webrtc">WebRTC IP Leak</a>
                <a class="dropdown-item" href="#addons">Firefox Privacy Add-ons</a>
                <a class="dropdown-item" href="#about_config">Privacy Related Tweaks</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="softwareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Software
            </a>
            <div class="dropdown-menu" aria-labelledby="softwareDropdown">
                <a class="dropdown-item" href="#clients">Email Clients</a>
                <a class="dropdown-item" href="#messaging">Email Alternatives</a>
                <a class="dropdown-item" href="#search">Search Engines</a>
                <a class="dropdown-item" href="#im">Instant Messenger</a>
                <a class="dropdown-item" href="#voip">Video & Voice Messenger</a>
                <a class="dropdown-item" href="#pw">Password Manager</a>
                <a class="dropdown-item" href="#calendar_contacts">Calendar and Contacts Sync</a>
                <a class="dropdown-item" href="#encrypt">File Encryption</a>
                <a class="dropdown-item" href="#filesharing">File Sharing</a>
                <a class="dropdown-item" href="#sync">Secure File Sync</a>
                <a class="dropdown-item" href="#darknets">Self-contained Networks</a>
                <a class="dropdown-item" href="#mycloud">Self-Hosted Cloud Server</a>
                <a class="dropdown-item" href="#notebook">Digital Notebook</a>
                <a class="dropdown-item" href="#paste">Paste Services</a>
                <a class="dropdown-item" href="#productivity">Productivity Tools</a>
                <a class="dropdown-item" href="#win10">Don't use Windows 10</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="osDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                OS
            </a>
            <div class="dropdown-menu" aria-labelledby="osDropdown">
                <a class="dropdown-item" href="#os">PC OS</a>
                <a class="dropdown-item" href="#live_os">Live CD OS</a>
                <a class="dropdown-item" href="#mobile_os">Mobile OS</a>
                <a class="dropdown-item" href="#aaddons">Android Privacy Add-ons</a>
                <a class="dropdown-item" href="#firmware">Router Firmware</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#participate">Participate</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="shareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Share
            </a>
            <div class="dropdown-menu" aria-labelledby="shareDropdown">
                <a class="dropdown-item" href="mailto:?subject=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&body=https://www.privacytools.io/">Email</a>
                <a class="dropdown-item" href="https://www.facebook.com/sharer/sharer.php?u=https://www.privacytools.io">Facebook</a>
                <a class="dropdown-item" href="https://twitter.com/share?text=Knowledge%20and%20tools%20to%20protect%20your%20privacy%20against%20global%20mass%20surveillance%20&amp;url=https://www.privacytools.io/&amp;via=privacytoolsIO">Twitter</a>
                <a class="dropdown-item" href="https://plus.google.com/share?url=https://www.privacytools.io">Google+</a>
                <a class="dropdown-item" href="http://reddit.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance">reddit</a>
                <a class="dropdown-item" href="https://www.linkedin.com/shareArticle?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance">LinkedIn</a>
                <a class="dropdown-item" href="http://www.stumbleupon.com/submit?url=https://www.privacytools.io&title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance">StumbleUpon</a>
                <a class="dropdown-item" href="http://sharetodiaspora.github.io/?title=privacytools.io%20-%20encryption%20against%20global%20mass%20surveillance&url=https://www.privacytools.io">Diaspora*</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/privacytoolsIO">Twitter</a>
        </li>
        </ul>
        <ul class="navbar-nav">
        {% if page.active_page == "donate" %}
            <li class="nav-item active">
                <a class="nav-link" href="#">Donate <i class="fas fa-heart text-danger"></i>  <span class="sr-only">(current)</span></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="donate.html">Donate <i class="fas fa-heart text-danger"></i></a>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
</nav>
<!-- navigation ends here -->

<div class="py-4">
<h1 id="top"></h1>
<div class="mb-5"></div>
{{ content }}
</div>

<!-- add jQuery, Popper, Bootstrap, Sortable, and tooltip libraries  -->
<script src="assets/js/jquery-3.3.1.min.js?v=4"></script>
<script src="assets/js/popper.min.js?v=4"></script>
<script src="assets/js/bootstrap.min.js?v=4"></script>
<script src="assets/js/sortable.min.js?v=4"></script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>

<!--
Piwik is the leading open-source analytics platform:
- Free open-source software
- 100% data ownership
- User privacy protection
-->
<script>
var _paq = _paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
var u="//piwik.privacytools.io/";
_paq.push(['setTrackerUrl', u+'piwik.php']);
_paq.push(['setSiteId', '1']);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="//piwik.privacytools.io/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
